@import "~src/styles/_defaults.scss";
$first-time-login-banner-color: #ff6625;

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit:scale-down;
}

.card {
  background-color: $bg-light-blue;
}

.first-time-login-banner {
  background-color: $first-time-login-banner-color;
  color: white;
  width: 100%;
  display: flex;
  height: 2.5em;
  align-items: center;
  & span {
    flex: 1 1 auto;
    text-align: center;
    padding: 20px;
  }
}

// Probably a better way to get the buttons to align but I am the worst and just doing this 
.banner-spacing {
  background-color: $bg-light-blue;
  color: white;
  width: 100%;
  height: 2.5em;
  align-items: center;
  & span {
    flex: 1 1 auto;
    text-align: center;
    padding: 20px;
  }
}

