<div style="position: relative;">
  <!-- <div [ngBusy]="busy"></div> -->
  <div class="">
    <div class="home-margins">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <div class="home-header">
            <h2>
              Emergency Support Services
            </h2>
            <p>
              Emergency Support Services (ESS) is for British Columbians who have been evacuated from their home by
              fire, floods, earthquakes or other emergencies and may receive support for up to 72 hours. If you have
              been issued an Evacuation Order and are being asked to leave your home, please register for Emergency
              Support Services by using the <a routerLink="self-registration">Evacuee Self-Registration</a> or proceed
              to your nearest Reception Centre as listed at <a href="https://www.emergencyinfobc.gov.bc.ca/">EmergencyInfoBC</a>. If you need further support with the
              Evacuee Self Registration system, please contact the Emergency Support Services team through your local
              government.
            </p>
            <!-- You will need to have a registered Business BCeID to access the Portal
            <div class="text-left">
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='https://www.bceid.ca/register/'"
                tabindex="3">
                <strong>REGISTER FOR A BUSINESS BCeID</strong>
                <br>
              </button>
              <span style="padding: 10px;">OR</span>
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='login'"
                tabindex="3">
                <strong>LOG IN</strong>
                <br>
              </button>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-card class="picture-card">
            <mat-card-title>Evacuee Self-Registration</mat-card-title>
            <mat-card-actions align="center">
              <img height="170" src="assets/fingerForceRectangle.png" alt="A stylized finger touching a black rectangle">
            </mat-card-actions>
            <mat-card-content>
              <p>
                The Evacuee Self-Registration form is for evacuees to register with Emergency Support Services if you
                have been given an Evacuation Order and have been asked to leave your home.
              </p>
            </mat-card-content>
            <mat-card-actions align="center">
              <button class="btn btn-primary" (click)="newRegistration()">EVACUEE SELF-REGISTRATION</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-card class="picture-card">
            <mat-card-title>Volunteer Login</mat-card-title>
            <mat-card-actions align="center">
              <img height="170" src="assets/sittingAtTheCheckmark.png" alt="A stylized finger touching a black rectangle">
            </mat-card-actions>
            <mat-card-content>
              <p>
                The Volunteer Login is for Emergency Support Services team members who are responding to an emergency.
              </p>
            </mat-card-content>
            <mat-card-actions align="center">
              <a class="btn btn-primary" href="login">VOLUNTEER LOGIN</a>
            </mat-card-actions>
          </mat-card>
        </div>

        <!-- <div class="col-md-5 ">
          <div class="side-box-wrapper" style="margin-left: -15px;">
            <section class="side-box">
              <section style="display: flex">
                <button mat-fab class="fab-button mat-elevation-z0">
                  <mat-icon class="icon" aria-label="description icon">description</mat-icon>
                </button>
                <h2>Important Notice for Evacuees</h2>
              </section>
              <p style="padding-top: 30px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div style="float: right;">
                <button class="btn btn-primary" routerLink=""
                  tabindex="3">Learn More</button>
              </div>
            </section>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>