<div style="position: relative;">
  <!-- <div [ngBusy]="busy"></div> -->
  <div class="">
    <div class="home-margins">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <div class="home-header">
            <h2>
              Emergency Social Services
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur
              et arcu a fringilla. Curabitur eget laoreet metus. Ut eget sodales nisl. Phasellus mattis dui quis
              malesuada tristique. Aenean vestibulum, erat id semper congue, sem mauris cursus dui, vitae ultrices lorem
              dui in ex. Phasellus eu ornare elit, vitae mollis massa. Duis fermentum aliquam gravida.
            </p>
            <!-- You will need to have a registered Business BCeID to access the Portal
            <div class="text-left">
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='https://www.bceid.ca/register/'"
                tabindex="3">
                <strong>REGISTER FOR A BUSINESS BCeID</strong>
                <br>
              </button>
              <span style="padding: 10px;">OR</span>
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='login'"
                tabindex="3">
                <strong>LOG IN</strong>
                <br>
              </button>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-card class="picture-card">
            <mat-card-title>Evacuee Self-Registration</mat-card-title>
            <img mat-card-image src="https://dummyimage.com/530x170/000/fff" alt="placeholder image">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur
                et arcu a fringilla.
              </p>
            </mat-card-content>
            <mat-card-actions align="center">
              <button class="btn btn-primary" [routerLink]="['/self-registration']">EVACUEE SELF-REGISTRATION</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-card class="picture-card">
            <mat-card-title>Volunteer Login</mat-card-title>
            <img mat-card-image src="https://dummyimage.com/530x170/000/fff" alt="placeholder image">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur
                et arcu a fringilla.
              </p>
            </mat-card-content>
            <mat-card-actions align="center">
              <button class="btn btn-primary">VOLUNTEER LOGIN</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <!-- <div class="col-md-5 ">
          <div class="side-box-wrapper" style="margin-left: -15px;">
            <section class="side-box">
              <section style="display: flex">
                <button mat-fab class="fab-button mat-elevation-z0">
                  <mat-icon class="icon" aria-label="description icon">description</mat-icon>
                </button>
                <h2>Important Notice for Evacuees</h2>
              </section>
              <p style="padding-top: 30px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div style="float: right;">
                <button class="btn btn-primary" routerLink=""
                  tabindex="3">Learn More</button>
              </div>
            </section>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
