$invalid-color: #d8292f;

.error-states {
  color: $invalid-color;
}

.error-container {
  margin-top: 5px;
}

// display required field indicators
.required::after {
  content: ' *';
  color: $invalid-color;
  font-weight: 700;
}
