<section class="form-field">
  <div class="row">
    <div class="form-group col">
      <div class="d-flex flex-row">
        <div [ngClass]="{ 'required': required }">
          <ng-content select="label"></ng-content>
        </div>
        <app-font-awesome-icon *ngIf="tooltip" icon="info-circle" className="ml-3" color="#C9C9C9" title="{{tooltip}}">
        </app-font-awesome-icon>
      </div>
      <ng-content></ng-content>
    </div>
    <!-- <div class="col-2">
      <span *ngIf="!valid && showChevrons">
        <i class="fas fa-chevron-left error-states" style="margin-left: 3px"></i>
        <i class="fas fa-chevron-left error-states" style="margin-left: -5px"></i>
      </span>
    </div> -->
  </div>
  <div *ngIf="!valid" class="error-states error-container">
    {{errorMessage}}
  </div>
</section>
