<div class="row">
  <div class="col col-lg-8">
    <router-outlet></router-outlet>
  </div>


  <div class="col-12 col-lg-4">
    <app-add-evacuee></app-add-evacuee>
    <app-add-user route="/local-authority/volunteer"></app-add-user>
    <app-side-box title="Useful Information">
      <section role="content">
        <p>
          Don't forget to deactivate Emergency Support Services users who are no longer active members of your team.
        </p>
        <p>
          This includes deactivating convergent volunteers.
        </p>
      </section>
      <!-- <section role="footer">
          <button class="btn btn-primary" routerLink="/">Learn More</button>
        </section> -->
    </app-side-box>
  </div>

</div>