<div class="row">
  <div class="col col-lg-8">
    <div class="mb-4">
      <h1>ESS Team Management Dashboard</h1>
      <p>Use this section to add new ESS users, as well as edit existing user information and permissions.</p>
      <h3 class="blue-header">USERS LIST</h3>

      <!-- <app-search-bar #searchBar (valueChange)="doSearch($event)" placeholder="Search for user by last name &#8230;">
      </app-search-bar> -->

      <!-- TODO: <a class="small" href="">advanced search</a> -->
      <!-- TODO: show icons for HOH, RESTRICTED FILE -->
      <!-- {{volunteers|json}} -->
    </div>
    <div>
      <!-- The start of the table stuff. -->
      <p>1 - 10 of 2000 <span class="font-weight-bold">ACTIVE</span> evacuees
        <small class="ml-3">(<a href="">show deactivated</a>)</small>
      </p>

      <div class="search-results">
        <div *ngIf="volunteers.length; then searchResultsTable; else notFound"></div>
      </div>

      <ng-template #searchResultsTable>
        <table class="table">
          <thead class="thead-light">
            <th scope="col">LAST NAME</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">BCEID</th>
            <th scope="col">RESTRICTED FILES</th>
            <th scope="col">ACTION</th>
          </thead>
          <tbody>
            <tr *ngFor="let volunteer of volunteers">
              <td>{{volunteer.lastName}}</td>
              <td>{{volunteer.firstName}}</td>
              <td>{{volunteer.bceidAccountNumber}}</td>
              <td>
                <span *ngIf="volunteer.canAccessRestrictedFiles">Yes</span>
                <span *ngIf="!volunteer.canAccessRestrictedFiles">No</span>
              </td>
              <td>
                <a [routerLink]="" (click)="routeTo(volunteer.bceidAccountNumber)">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>

      <!-- <ng-template #notFound>
        <p>{{notFoundMessage}}</p>
      </ng-template> -->

    </div>
  </div>


  <div class="col-12 col-lg-4">
    <app-side-box-info title="ADD AN EVACUEE"
      content="Before starting a new registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered."
      button="Add Evacuee(s)" route="register-evacuee"></app-side-box-info>
    <app-side-box-info title="ADD A VOLUNTEER" content="
      Before adding users(s), confirm that they have been given a BCeID account with their Local Authority."
      button="Add Volunteer(s)" route="user-edit"></app-side-box-info>

    <app-side-box title="Useful Information">
      <section role="content">
        <p>
          Don't forget to deactivate ESS users who are no longer active members of your team.
        </p>
        <p>
          This includes deactivating convergent volunteers.
        </p>
      </section>
      <!-- <section role="footer">
          <button class="btn btn-primary" routerLink="/">Learn More</button>
        </section> -->
    </app-side-box>
  </div>

</div>