@import "../defaults.scss";

.feature-block-header {
  background-color: $feature-block-header-bg;
  color: $feature-block-color;
  padding: 0.5rem 1.5rem;
}

.feature-block {
  background-color: $feature-block-bg;
  color: $feature-block-color;
  padding: 1.5rem;

  h3 {
    margin-top: 0;
  }

  p {
    font-weight: 400;
  }

  label {
    &.form-check-label {
      font-weight: normal;
    }
  }
}
