@import "../defaults.scss";

.form {
  &-control {
    min-height: 40px;
    border-color: $fc-border-color;
    background-color: $fc-bg;

    &:focus {
      border-color: $fc-focus-border-color;
    }
  }

  &-check {
    input {
      margin-top: 0;
      margin-left: -1.25rem;
    }

    &-label {
      padding-left: 5px;
      font-weight: 400;
    }
  }

  &-text {
    color: #333;
    font-size: 0.85rem;
  }

  &-group {
    label {
      margin-bottom: 0.25rem;

      em {
        color: #999;
        font-weight: 400;
      }
    }
  }

  &-tooltip {
    color: #c9c9c9;
  }
}

.input-with-icon {
  position: relative;

  input {
    color: #6b6b6b;
    min-height: auto;
    width: 10rem;
    padding-left: 2rem;
  }

  span {
    position: absolute;
    left: 15px;
    top: 0.5rem;
    padding: 1px 5px;
    font-size: 20px;
    color: #6b6b6b;
  }
}

.form-check-input {
  // the silly checkboxes are high and the text is low
  position: relative;
  vertical-align: top;
  top: 3px;
}

// VALIDATION

// required field indicators
.required {
  &::after {
    content: " *";
    color: $fc-invalid-color;
    font-weight: 700;
  }
}

.error-states {
  color: $fc-invalid-color;
}

.error-summary {
  background-color: $fc-invalid-bg;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: $fc-invalid-color;
}
