@import "../defaults.scss";
@import "../mixins.scss";

.summary {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: $summary-bg;

  > li {
    @include clearfix();
    display: flex;
    flex-direction: row;
    background: $summary-row-bg;

    &:nth-child(even) {
      background: $summary-alt-row-bg;
    }

    + li {
      margin-top: 5px;
    }
  }

  span {
    &.name {
      padding: 5px;
      font-weight: 400;
      width: 40%;
    }

    &.value {
      padding: 5px;
      border-left: 5px solid $summary-bg;
      width: 59%;

      ul {
        margin: 0;
        padding: 0;
        overflow: visible;
        list-style-type: none;

        li {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        li:hover {
          overflow: visible;
        }
      }
    }
  }
}
