@import "../defaults.scss";
@import "../mixins.scss";

.summary {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: $summary-bg;

  >li {
    @include clearfix();
    display: flex;
    flex-direction: row;
    background: $summary-row-bg;

    &:nth-child(even) {
      background: $summary-alt-row-bg;
    }

    +li {
      margin-top: 5px;
    }
  }

  span {
    padding: 5px;

    &.name {
      font-weight: 600;
      width: 40%;
    }

    &.value {
      border-left: 5px solid $summary-bg;
      width: 60%;

      ul {
        margin: 0;
        padding: 0;
        overflow: visible;
        list-style-type: none;

        li {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        li:hover {
          overflow: visible;
        }
      }
    }
  }
}

.summary-heading {
  .container {
    border-bottom: #38598a 5px solid;

    h2 {
      font-weight: 600;
    }

    span.name {
      width: 40%;
      padding: 0;
      font-weight: 600;
    }

    span.value {
      width: 60%;
      padding: 0;
      border-left-style: none; // IE doesn't support 'unset'
    }

    @media (min-width: 768px) {
      span.name {
        width: 35%;
      }

      span.value {
        width: 65%;
      }
    }

    @media (min-width: 992px) {
      span.name {
        width: 30%;
      }

      span.value {
        width: 70%;
      }
    }

    @media (min-width: 1200px) {
      span.name {
        width: 25%;
      }

      span.value {
        width: 75%;
      }
    }
  }
}

.comments {
  white-space: pre;
  padding: 1rem;
  height: 90px;
}
