<div class="mb-4">
  <h1>Useful Information</h1>
  <h3 class="blue-header">
    EMERGENCY SUPPORT SEVICES FIELD GUIDE
  </h3>
  <p>
    The <a target="_blank" href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/ess/field-guide/essfieldguide.pdf">ESS Field Guide</a> (PDF, 4.5MB) provides information about how emergency support services (ESS) are delivered, and clarifies procedures and guidelines for <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/services/local-and-other-authorities">local authorities</a> and Emergency Support Services teams.
  </p>
  <p>
    ESS Directors should keep a copy of the guide, which can be updated with revisions posted to this web page. Copies of the guide should also be kept at all reception centres and by Level One responders. The Emergency Support Services Office will communicate amendments by email.
  </p>
</div>
<div class="mb-4">
  <h3 class="blue-header">
    MANUAL FOR MAXIMIZING STRESS RESILIENCE
  </h3>
  <p>
    Organizations, agencies and businesses can use the <a target="_blank" href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/ess/workers-prior-assessment/max-stress-manual.pdf">Maximizing Stress Resilience Manual</a> (PDF) as a tool to assess whether or not a new emergency support services recruit will cope during a disaster.
  </p>
  <p>
    Current responders may also find the manual useful, especially the sections:
  </p>
  <ul>
    <li>Trauma and Disaster Work: A Self-Assessment, and</li>
    <li>Your Health and Disasters.</li>
  </ul>
  <p>The manual was developed by the British Columbia Disaster Worker Care Committee, with the support of the <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/contacts">Emergency Support Services Office</a> and the Emergency Support Services Advisory Committee.</p>
</div>
<div class="mb-4">
  <h3 class="blue-header">
    SELF-CARE FOR DISASTER WORKERS
  </h3>
  <p>
    Emergency Support Service responders – and their families and friends – are encouraged to read these pages to understand and anticipate the possible emotional consequences associated with responding to disasters. These pages address a number of issues including self-assessment, disaster workers as secondary victims, fatigue, frustration and anger, stress relief and returning home from a disaster.
  </p>
  <ul>
    <li>
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/self-assessment-prior-to-an-assignment">Self-Assessment:Prior to an Assignment</a>
    </li>
    <li>
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/emotional-health-for-workers-on-assignment">Emotional Health for Workers on Assignment</a>
    </li>
    <li>
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/emotional-health-for-families-and-friends-of-workers-on-assignment">Emotional Health for Families and Friends of Workers on Assignment</a>
    </li>
    <li>
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/returning-home-from-a-disaster-assignment">Returning Home From A Disaster Assignment</a>
    </li>
    <li>
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/safety-program">Safety Policy for Public Safety Lifeline Volunteers</a>
    </li>
  </ul>
</div>