.summary-heading {
  border-bottom: 4px solid #7596c8;
}

article {
  // border-right: white 1rem solid;

  // &.referral-valid {
  //   border-right-color: lime;
  // }

  &.referral-invalid {
    border-right: red 1rem solid;
  }
}

.ordinal {
  border: none;
  border-radius: 50%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding: .2em;
  text-align: center;
  background: #003366;
  color: #fff;
  &-container {
    margin-left: -55px;
  }
  line-height: 100%;
}
