<div *ngIf="registrationSummary">

  <div *ngIf="editMode">
    <h1>Identify Supports</h1>

    <p>
      The Identify Supports Page is where the Emergency Support Services Team will determine immediate needs of the
      evacuee and create Referrals based on those needs.
    </p>

    <!-- confirm task start time -->
    <div *ngIf="registrationSummary?.incidentTask?.taskNumberStartDate">
      <div class="form-row ordinal-container">
        <div class="col-auto">
          <span class="ordinal h5">1</span>
        </div>
        <div class="col">
          <div class="feature-block-header">
            <h2 class="display-6 mb-0">Please confirm timing for commencement of supports:</h2>
          </div>
          <div class="feature-block card d-block border-0">
            <div class="row">
              <div class="col">
                <p class="mb-2">Task start date &amp; time: {{registrationSummary?.incidentTask?.taskNumberStartDate | dateTimeFormatPipe}}</p>
                <div class="d-inline-block display-5 mr-4">Support start date &amp; time: {{defaultDate | dateTimeFormatPipe}}
                  <span *ngIf="!defaultDate">Please enter a valid date.</span>
                </div>
                <div class="d-inline-block" *ngIf="stepCounter===1 && !showDefaultDatePicker && isAdmin">
                  <a href="javascript:void(0)" (click)="toggleDefaultDatePicker()">
                    <app-font-awesome-icon icon="times"></app-font-awesome-icon>
                    <span class="ml-1">Override start time</span>
                  </a>
                </div>
              </div>
              <div *ngIf="stepCounter===1" class="col-md-2">

                <button *ngIf="defaultDate && !showDefaultDatePicker" type="button" class="btn btn-primary float-right" (click)="stepCounter=2">NEXT</button>
                <button *ngIf="!defaultDate && !showDefaultDatePicker" type="button" class="btn btn-primary float-right" disabled>NEXT</button>
              </div>
            </div>

            <div *ngIf="showDefaultDatePicker && stepCounter===1">
              <div class="row mt-3">
                <div class="col">
                  <strong>Valid From</strong>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <app-date-time-picker [(value)]="workingDefaultDate"></app-date-time-picker>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-primary float-right text-uppercase" (click)="updateDefaultDate()">Update</button>
                  <button type="button" class="btn btn-outline-primary float-right text-uppercase mt-2" (click)="defaultDate=defaultDate; showDefaultDatePicker=false">Cancel</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- select required supports -->
      <div *ngIf="stepCounter >= 2" class="form-row ordinal-container mt-2">
        <div class="col-auto">
          <span class="ordinal h5">2</span>
        </div>
        <div class="col">
          <div class="card border-0 p-3">
            <h2 class="display-6">Select required supports:</h2>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="foodReferrals.length > 0" id="supportFood" (change)="foodReferralChange()">
              <label class="form-check-label" for="supportFood">Food</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="clothingReferrals.length > 0" id="supportClothing" (change)="clothingReferralChange()">
              <label class="form-check-label" for="supportClothing">Clothing</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="lodgingReferrals.length > 0" id="supportLodging" (change)="lodgingReferralChange()">
              <label class="form-check-label" for="supportLodging">Lodging</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="incidentalsReferrals.length > 0" id="supportIncidentals" (change)="incidentalsReferralChange()">
              <label class="form-check-label" for="supportIncidentals">Incidentals</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="transportationReferrals.length > 0" id="supportTransportation" (change)="transportationReferralChange()">
              <label class="form-check-label" for="supportTransportation">Transportation</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card p-3">
            <h2 class="display-6">Supports that the evacuee is able to provide for themselves:</h2>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="registrationSummary.requiresFood" id="hasFood" disabled>
              <label class="form-check-label" for="supportFood">Food</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="registrationSummary.requiresClothing" id="hasClothing" disabled>
              <label class="form-check-label" for="supportClothing">Clothing</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="registrationSummary.requiresAccommodation" id="hasLodging" disabled>
              <label class="form-check-label" for="supportLodging">Lodging</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="registrationSummary.requiresIncidentals" id="hasIncidentals" disabled>
              <label class="form-check-label" for="supportIncidentals">Incidentals</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" [checked]="registrationSummary.requiresTransportation" id="hasTransportation" disabled>
              <label class="form-check-label" for="supportTransportation">Transportation</label>
            </div>
          </div>
        </div>
      </div>

      <!-- loop through all referrals by type -->
      <section class="clearfix">
        <article *ngFor="let r of foodReferrals; let i = index" class="mt-3" [ngClass]="{'referral-valid': isReferralValid(r), 'referral-invalid': isReferralInvalid(r)}">
          <div [id]="'food_'+i.toString()">
            <app-referral-list-item type="FOOD" (remove)="remove(foodReferrals, i, 'food_'+(i-1).toString())" (add)="addFoodReferral(true)">
              <app-food-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
              </app-food-referral>
            </app-referral-list-item>
          </div>
        </article>
        <article *ngFor="let r of clothingReferrals; let i = index" class="mt-3" [ngClass]="{'referral-valid': isReferralValid(r), 'referral-invalid': isReferralInvalid(r)}">
          <div [id]="'clothing_'+i.toString()">
            <app-referral-list-item type="CLOTHING" (remove)="remove(clothingReferrals, i, 'clothing_'+(i-1).toString());" (add)="addClothingReferral(true)">
              <app-clothing-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
              </app-clothing-referral>
            </app-referral-list-item>
          </div>
        </article>
        <article *ngFor="let r of lodgingReferrals; let i = index" class="mt-3" [ngClass]="{'referral-valid': isReferralValid(r), 'referral-invalid': isReferralInvalid(r)}">
          <div [id]="'lodging_'+i.toString()">
            <app-referral-list-item type="LODGING" (remove)="remove(lodgingReferrals, i, 'lodging_'+(i-1).toString());" (add)="addLodgingReferral(true)">
              <app-lodging-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
              </app-lodging-referral>
            </app-referral-list-item>
          </div>
        </article>
        <article *ngFor="let r of incidentalsReferrals; let i = index" class="mt-3" [ngClass]="{'referral-valid': isReferralValid(r), 'referral-invalid': isReferralInvalid(r)}">
          <div [id]="'incidentals_'+i.toString()">
            <app-referral-list-item type="INCIDENTALS" (remove)="remove(incidentalsReferrals, i, 'incidentals_'+(i-1).toString())" (add)="addIncidentalsReferral(true)">
              <app-incidentals-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
              </app-incidentals-referral>
            </app-referral-list-item>
          </div>
        </article>
        <article *ngFor="let r of transportationReferrals; let i = index" class="mt-3" [ngClass]="{'referral-valid': isReferralValid(r), 'referral-invalid': isReferralInvalid(r)}">
          <div [id]="'transportation_'+i.toString()">
            <app-referral-list-item type="TRANSPORTATION" (remove)="remove(transportationReferrals, i, 'transporation_'+(i-1).toString())" (add)="addTransportationReferral(true);">
              <app-transportation-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
              </app-transportation-referral>
            </app-referral-list-item>
          </div>
        </article>
      </section>

      <div *ngIf="userClickedNext && !valid && haveReferrals" class="text-danger">
        <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon>
        &nbsp;Some required fields have not been completed.
      </div>

      <div class="mt-5 space-between">
        <a href="javascript:void(0)" (click)="cancel()">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
        <button *ngIf="haveReferrals" type="button" class="btn btn-primary float-right" (click)="createReferrals()">CREATE REFERRALS</button>
      </div>
    </div>

  </div>

  <!-- *********************************SUMMARY BELOW****************************************** -->
  <div *ngIf="!editMode">
    <h1>Review Referrals</h1>

    <p>
      Please confirm that all details you entered are correct by reading through the summary below with the evacuee.
    </p>

    <section class="clearfix">
      <article *ngFor="let r of foodReferrals; let i = index" class="form-row ordinal-container mt-3">
        <div class="col-auto mt-4">
          <span class="ordinal h5">{{i + 1}}</span>
        </div>
        <app-food-referral class="col" [referral]="r.value" [readOnly]="true"></app-food-referral>
      </article>

      <article *ngFor="let r of lodgingReferrals; let i = index" class="form-row ordinal-container mt-3">
        <div class="col-auto mt-4">
          <span class="ordinal h5">{{i + 1 + foodReferrals.length}}</span>
        </div>
        <app-lodging-referral class="col" [referral]="r.value" [readOnly]="true"></app-lodging-referral>
      </article>

      <article *ngFor="let r of clothingReferrals; let i = index" class="form-row ordinal-container mt-3">
        <div class="col-auto mt-4">
          <span class="ordinal h5">{{i + 1 + foodReferrals.length + lodgingReferrals.length}}</span>
        </div>
        <app-clothing-referral class="col" [referral]="r.value" [readOnly]="true"></app-clothing-referral>
      </article>

      <article *ngFor="let r of transportationReferrals; let i = index" class="form-row ordinal-container mt-3">
        <div class="col-auto mt-4">
          <span class="ordinal h5">{{i + 1 + foodReferrals.length + lodgingReferrals.length + clothingReferrals.length}}</span>
        </div>
        <app-transportation-referral class="col" [referral]="r.value" [readOnly]="true"></app-transportation-referral>
      </article>

      <article *ngFor="let r of incidentalsReferrals; let i = index" class="form-row ordinal-container mt-3">
        <div class="col-auto mt-4">
          <span class="ordinal h5">{{i + 1 + foodReferrals.length + lodgingReferrals.length + clothingReferrals.length + transportationReferrals.length}}</span>
        </div>
        <app-incidentals-referral class="col" [referral]="r.value" [readOnly]="true"></app-incidentals-referral>
      </article>
    </section>
    <!-- TODO: prompt for confirmation; disable Finalize until confirmed; set confirmChecked=true -->
    <div class="mt-5 space-between">
      <div class="form-group form-check">
        <input class="form-check-input" id="workCheck" type="checkbox" [(ngModel)]="confirmChecked">
        <label class="form-check-label" for="workCheck">I certify that a supervisor or ESSD has checked my work and approved the above referrals for distribution to the evacuee.</label>
      </div>
    </div>

    <div class="mt-5 space-between">
      <section>
        <button type="button" (click)="back()" class="btn btn-outline-primary">EDIT REFERRALS</button>
      </section>
      <section>
        <a href="javascript:void(0)" (click)="cancel()">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
        <button type="button" *ngIf="!submitting && confirmChecked" class="btn btn-primary ml-5" (click)="finalize()">
          FINALIZE REFERRALS
        </button>
        <button type="button" *ngIf="!submitting && !confirmChecked" class="btn btn-primary ml-5" disabled>
          FINALIZE REFERRALS
        </button>
        <button type="button" *ngIf="submitting" class="btn btn-primary ml-5" disabled>
          FINALIZING...
        </button>
      </section>
    </div>
  </div>
</div>

<!-- <pre>{{foodReferrals|json}}</pre> -->
