<div class="mt-4">
    <h3 class="blue-header">Incidentals</h3>
    <div class="row">
      <div class="col-5">
        Valid From
        <div class="row">
          <div class="col">
            <label for="validFromDate1">Date</label>
            <input id="validFromDate1" class="form-control" type="date">
            <span class="invalid-feedback">Please enter a date.</span>
          </div>
          <div class="col">
            <label for="validFromTime1">Time</label>
            <input id="validFromTime1" class="form-control" type="time">
            <span class="invalid-feedback">Please enter a valid time.</span>
          </div>
          <div class="col">
            <label for="validDays">Number of Days</label>
            <select class="form-control" id="relationshipToEvacuee">
              <option>Please select--</option>
              <option>Choice</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-5">
        Valid To
        <div class="row">
          <div class="col">
            <label for="validToDate1">Date</label>
            <input id="validToDate1" class="form-control" type="date">
            <span class="invalid-feedback">Please enter a date.</span>
          </div>
          <div class="col">
            <label for="validToTime1">Time</label>
            <input id="validToTime1" class="form-control" type="time">
            <span class="invalid-feedback">Please enter a valid time.</span> </div>
        </div>
      </div>
      <div class="col-2">
        <section>
          <button type="button" class="btn btn-secondary">VIEW ESS RATES SHEET</button>
        </section>
      </div>
    </div>

    <!-- TODO: Refactor into sub-component -->
    <div class="feature-block card p-0 mt-4">
      <div class="card-body">

        <div class="row">
          <div class="col">
            <label class="required" for="supplierName1">Supplier Name</label>
            <input id="supplierName1" class="form-control" type="text">
            <span class="invalid-feedback">Please enter a supplier name.</span>
          </div>
          <div class="col">
            <label class="required" for="supplierAddress1">Supplier Address</label>
            <input id="supplierAddress1" class="form-control" type="text">
            <span class="invalid-feedback">Please enter an address.</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required" for="city1">City</label>
            <input id="city1" class="form-control" type="text">
            <span class="invalid-feedback">Please enter a city.</span>
          </div>
          <div class="col">
            <label for="postalCode1">Postal Code</label>
            <input id="postalCode1" class="form-control" type="text">
            <span class="invalid-feedback">Please enter a valid postal code.</span>
          </div>
          <div class="col">
            <label for="telephone1">Telephone</label>
            <input id="telephone1" class="form-control" type="text">
            <span class="invalid-feedback">Please enter a telephone number.</span>
          </div>
          <div class="col">
            <label for="fax1">Postal Code</label>
            <input id="fax1" class="form-control" type="text">
            <span class="invalid-feedback">Please enter a fax number.</span>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <!-- <app-fa-link icon="times" class="float-left" (click)="removeFamilyMember(i)"> -->
        Remove
        <!-- </app-fa-link> -->
        <!-- <app-fa-link icon="plus-circle" color="#669900" class="float-right" (click)="addFamilyMember()"> -->
        Add another contact
        <!-- </app-fa-link> -->
      </div>
    </div>
  </div>
