<div class="col">

  <h1>Feedback Survey</h1>

  <p>
    EMBC is requesting your participation in a very brief survey in order to gain feedback about your experience with the new online ESS registration system. Your responses will help us to evaluate and improve the effectiveness and functionality of ESSRAS and will contribute to making this pilot program a great success.
  </p>
  <p>
    Please take a few minutes to complete the survey. Thank you in advance for your time and cooperation.
  </p>
  <a href="https://pbsurvey.jag.gov.bc.ca/Survey6/" class="btn btn-primary align-right" target="_blank">Take Survey</a>
</div>
