<span *ngFor="let notification of currentNotifications">
  <div *ngIf="notification.type==='danger'" class="alert alert-danger alert-dismissible mb-1" role="alert">
    <i class="fas fa-exclamation-circle mr-2"></i>
    <strong>{{notification.message}}</strong>
    <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
      </span>
    </button>
  </div>
  <div *ngIf="notification.type==='warning'" class="alert alert-warning alert-dismissible mb-1" role="alert">
    <i class="fas fa-exclamation-triangle mr-2"></i>
    <strong>{{notification.message}}</strong>
    <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
      </span>
    </button>
  </div>
  <div *ngIf="notification.type==='success'" class="alert alert-success alert-dismissible mb-1" role="alert">
    <i class="fas fa-check-circle mr-2"></i>
    <strong>{{notification.message}}</strong>
    <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
      </span>
    </button>
  </div>
</span>