<div *ngIf="registration">
  <h1 class="mt-4">Review Details</h1>

  <section class="space-between align-items-center">
    <div>
      <p class="m-0">
        Please confirm that all details you entered are correct by reading through the summary below with the evacuee.
      </p>
    </div>
    <div>
      <button type="submit" class="btn btn-primary ml-4 text-uppercase" (click)="routeTo()">Edit</button>
    </div>
  </section>

  <app-full-registration-summary-block [registration]='registration'></app-full-registration-summary-block>

  <section class="space-between align-items-center mt-5 mb-4">
    <div>
      <!-- TODO: Implement DEACTIVATE -->
      <!-- <button class="btn btn-outline-primary text-uppercase">Deactivate</button> -->
    </div>
    <div>
      <button type="submit" class="btn btn-primary ml-4 text-uppercase" (click)="routeTo()">Edit</button>
    </div>
  </section>
</div>
