<div *ngIf="registration">
  <h1 class="mt-4">Review Details</h1>

  <section class="space-between align-items-center">
    <div>
      <p class="m-0">
        Please confirm that all details you entered are correct by reading through the summary below with the evacuee.
      </p>
    </div>
    <div>
      <button type="submit" class="btn btn-primary ml-4 text-uppercase" (click)="routeTo()">Edit</button>
    </div>
  </section>

  <section class="mt-5 mx-3">
    <ul class="summary">
      <li>
        <span class="name">Emergency Support Services File #:</span>
        <span class="value">{{registration.essFileNumber}}</span>
      </li>
      <li>
        <span class="name">Task #:</span>
        <span class="value">{{registration.incidentTask?.taskNumber}}</span>
      </li>
    </ul>

    <h2>Place of Registration</h2>
    <ul class="summary">
      <li>
        <span class="name">Facility Name/Registration Location:</span>
        <span class="value">{{registration.facility}}</span>
      </li>
      <li>
        <span class="name">Host Community:</span>
        <span class="value">{{registration.hostCommunity?.name}}</span>
      </li>
    </ul>

    <h2>Evacuee Information</h2>
    <ul class="summary">
      <li>
        <span class="name">Last Name:</span>
        <span class="value">{{registration.headOfHousehold?.lastName}}</span>
      </li>
      <li>
        <span class="name">First Name:</span>
        <span class="value">{{registration.headOfHousehold?.firstName}}</span>
      </li>
      <li>
        <span class="name">Initial:</span>
        <span class="value">{{registration.headOfHousehold?.initials}}</span>
      </li>
      <li>
        <span class="name">Preferred Name:</span>
        <span class="value">{{registration.headOfHousehold?.nickname}}</span>
      </li>
      <li>
        <span class="name">Gender:</span>
        <span class="value">{{genderOption(registration.headOfHousehold?.gender)}}</span>
      </li>
      <li>
        <span class="name">Date of Birth:</span>
        <span class="value">{{registration.headOfHousehold?.dob | date : 'MMM-dd-yyyy'}}</span>
      </li>
    </ul>

    <h2>Evacuee Family Information</h2>
    <ul class="summary mt-4" *ngFor="let fm of registration.headOfHousehold.familyMembers">
      <li>
        <span class="name">Last Name:</span>
        <span class="value">{{fm?.lastName}}</span>
      </li>
      <li>
        <span class="name">First Name:</span>
        <span class="value">{{fm?.firstName}}</span>
      </li>
      <li>
        <span class="name">Initial:</span>
        <span class="value">{{fm?.initials}}</span>
      </li>
      <li>
        <span class="name">Relationship:</span>
        <span class="value">{{fm?.relationshipToEvacuee?.description}}</span>
      </li>
      <li>
        <span class="name">Gender:</span>
        <span class="value">{{genderOption(fm?.gender)}}</span>
      </li>
      <li>
        <span class="name">Date of Birth:</span>
        <span class="value">{{fm?.dob | date : 'MMM-dd-yyyy'}}</span>
      </li>
    </ul>

    <h2>Primary Address &amp; Contact Details</h2>
    <ul class="summary">
      <ng-container *ngIf="isBcAddress(registration.headOfHousehold?.primaryResidence); then content else other_content"></ng-container>
      <!-- BC Addresses -->
      <ng-template #content>
        <li>
          <span class="name">Apt/Suite/Building Number &amp; Street Address/PO Box:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.addressLine1}}</span>
        </li>
        <li>
          <span class="name">Community:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.community?.name}}</span>
        </li>
        <li>
          <span class="name">Province:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.province}}</span>
        </li>
        <li>
          <span class="name">Postal Code:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.postalCode}}</span>
        </li>
        <li>
          <span class="name">Country:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.country?.name }}</span>
        </li>
      </ng-template>
      <!-- Non-BC Addresses -->
      <ng-template #other_content>
        <li>
          <span class="name">Apt/Suite/Building Number &amp; Street Address/PO Box:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.addressLine1}}</span>
        </li>
        <li>
          <span class="name">City:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.city}}</span>
        </li>
        <li>
          <span class="name">Region/Province/State:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.province}}</span>
        </li>
        <li>
          <span class="name">Postal /ZIP Code:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.postalCode}}</span>
        </li>
        <li>
          <span class="name">Country/Region:</span>
          <span class="value">{{registration.headOfHousehold?.primaryResidence?.country?.name }}</span>
        </li>
      </ng-template>
      <li>
        <span class="name">Telephone/Mobile:</span>
        <span class="value">{{registration.headOfHousehold?.phoneNumber}}</span>
      </li>
      <li>
        <span class="name">Alternate Telephone/Mobile:</span>
        <span class="value">{{registration.headOfHousehold?.phoneNumberAlt}}</span>
      </li>
      <li>
        <span class="name">Email Address:</span>
        <span class="value">{{registration.headOfHousehold?.email}}</span>
      </li>
    </ul>

    <div *ngIf="registration.headOfHousehold?.mailingAddress">
      <h2>Mailing Address</h2>
      <ul class="summary">
        <ng-container *ngIf="isBcAddress(registration.headOfHousehold.mailingAddress); then content else other_content"></ng-container>
        <!-- BC Addresses -->
        <ng-template #content>
          <li>
            <span class="name">Apt/Suite/Building Number &amp; Street Address/PO Box:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.addressLine1}}</span>
          </li>
          <li>
            <span class="name">Community:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.community?.name}}</span>
          </li>
          <li>
            <span class="name">Province:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.province}}</span>
          </li>
          <li>
            <span class="name">Postal Code:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.postalCode}}</span>
          </li>
          <li>
            <span class="name">Country:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.country?.name }}</span>
          </li>
        </ng-template>
        <!-- Non-BC Addresses -->
        <ng-template #other_content>
          <li>
            <span class="name">Apt/Suite/Building Number &amp; Street Address/PO Box:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.addressLine1}}</span>
          </li>
          <li>
            <span class="name">City:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.city}}</span>
          </li>
          <li>
            <span class="name">Region/Province/State:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.province}}</span>
          </li>
          <li>
            <span class="name">Postal /ZIP Code:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.postalCode}}</span>
          </li>
          <li>
            <span class="name">Country/Region:</span>
            <span class="value">{{registration.headOfHousehold.mailingAddress.country?.name }}</span>
          </li>
        </ng-template>
      </ul>
    </div>

    <div *ngIf="registration.disasterAffectDetails">
      <h2>Brief statement of how the person/family were affected by the disaster</h2>
      <ul class="summary">
        <li>
          <span class="multi-line">{{registration.disasterAffectDetails || '&nbsp;'}}</span>
        </li>
      </ul>
    </div>

    <h2>Insurance</h2>
    <ul class="summary">
      <li>
        <span class="name">Do you have insurance:</span>
        <span class="value">{{insuranceOption(registration.insuranceCode)}}</span>
      </li>
    </ul>

    <h2>Additional Information</h2>
    <ul class="summary">
      <li>
        <span class="name">Dietary Requirements:</span>
        <span class="value">{{registration.dietaryNeeds | yesNo}}</span>
      </li>
      <li>
        <span class="name">Dietary Details:</span>
        <span class="value">{{registration.dietaryNeedsDetails}}</span>
      </li>
      <li>
        <span class="name">Medication:</span>
        <span class="value">{{registration.medicationNeeds | yesNo}}</span>
      </li>
      <li>
        <span class="name">Medication for 72hrs:</span>
        <span class="value">{{registration.hasThreeDayMedicationSupply | yesNo}}</span>
      </li>
      <li>
        <span class="name">Pets:</span>
        <span class="value">{{registration.hasPets | yesNo}}</span>
      </li>
    </ul>

    <h2>Next Steps</h2>
    <ul class="summary">
      <li>
        <span class="name">Supports Provided by the Evacuee:</span>
        <!-- NOTE: this should show opposite because the customer requesdted it-->
        <span class="value">
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" disabled [checked]="!registration.requiresFood">
            <label class="form-check-label">Food</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" disabled [checked]="!registration.requiresClothing">
            <label class="form-check-label">Clothing</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" disabled [checked]="!registration.requiresAccommodation">
            <label class="form-check-label">Lodging</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" disabled [checked]="!registration.requiresIncidentals">
            <label class="form-check-label">Incidentals</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" disabled [checked]="!registration.requiresTransportation">
            <label class="form-check-label">Transportation</label>
          </div>
        </span>
      </li>
    </ul>

    <div>
      <h2>Family Recovery Plan</h2>
      <ul class="summary">
        <li>
          <span class="multi-line">{{registration.familyRecoveryPlan || '&nbsp;'}}</span>
        </li>
      </ul>
    </div>

    <div>
      <h2>Referrals Made Within Reception Centre</h2>
      <ul class="summary">
        <li>
          <span class="name">Inquiry Referral:</span>
          <span class="value">{{registration.hasInquiryReferral | yesNo}}</span>
        </li>
        <li>
          <span class="name">Health Services Referral:</span>
          <span class="value">{{registration.hasHealthServicesReferral | yesNo}}</span>
        </li>
        <li>
          <span class="name">First Aid Referral:</span>
          <span class="value">{{registration.hasFirstAidReferral | yesNo}}</span>
        </li>
        <li>
          <span class="name">Personal Services Referral:</span>
          <span class="value">{{registration.hasPersonalServicesReferral | yesNo}}</span>
        </li>
        <li>
          <span class="name">Child Care Referral:</span>
          <span class="value">{{registration.hasChildCareReferral | yesNo}}</span>
        </li>
        <li>
          <span class="name">Pet Care Referral:</span>
          <span class="value">{{registration.hasPetCareReferral | yesNo}}</span>
        </li>
      </ul>
    </div>

    <div>
      <h2>Other Agency Referrals</h2>
      <ul class="summary">
        <li>
          <span class="multi-line">{{registration.externalReferralsDetails || '&nbsp;'}}</span>
        </li>
      </ul>
    </div>
  </section>

  <section class="mt-4">
    <h2 class="blue-header font-weight-bold">Internal Case Notes</h2>
    <ul class="summary mx-3">
      <li>
        <span class="multi-line">{{registration.internalCaseNotes || '&nbsp;'}}</span>
      </li>
    </ul>
  </section>

  <section class="space-between align-items-center mt-5 mb-4">
    <div>
      <!-- TODO: Implement DEACTIVATE -->
      <!-- <button class="btn btn-outline-primary text-uppercase">Deactivate</button> -->
    </div>
    <div>
      <button type="submit" class="btn btn-primary ml-4 text-uppercase" (click)="routeTo()">Edit</button>
    </div>
  </section>
</div>
