<div class="mt-4 mx-3">
  <div class="space-between align-items-center my-3">
    <section>
      <app-pagination-summary [value]="pagination">
        <span class="font-weight-bold">ACTIVE</span> evacuees
        <!-- TODO: <small class="ml-3">(<a href="">show deactivated</a>)</small> -->
      </app-pagination-summary>
    </section>
  </div>

  <app-referral-search-results #searchResultsView [searchResults]="searchResults$ | async">
  </app-referral-search-results>

  <button class="btn btn-secondary float-right" (click)="printReferrals()">CREATE PDF &amp; PRINT</button>
</div>
