<div *ngIf="!summaryMode">
  <!-- CREATE NEW REGISTRATION / EDIT EVACUEE REGISTRATION -->
  <h1>{{pageTitle}}</h1>

  <p *ngIf="createMode">
    Before starting a new evacuee registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered.
  </p>

  <p>
    <small>
      All required fields are marked with an asterisk *
    </small>
  </p>

  <!-- COLLECTION NOTICE AND AUTHORIZATION -->
  <div class="mt-4">
    <h2 class="blue-header font-weight-bold">Collection Notice and Authorization</h2>
    <section>
      <!-- <input type="checkbox" class="form-check-input" [formControl]="declarationAndConsent"> -->
      <p>
        Emergency Management BC (EMBC) will collect your personal information for the purpose of providing you with emergency services in accordance with section 26(c) of the Freedom of Information and Protection of Privacy Act (FoIPPA). EMBC will also collect the information as per section 26(e) of FoIPPA in order to evaluate the ESS program. Should you have any questions about the collection, use, or disclosure of personal information, please contact the ESS Call Centre Manager at PO Box 9201, STN PROV GOVT, Victoria, BC, V8W 9J1 or by phone toll free at 1-800-585-9559.
      </p>
      <p>
        By submitting your email address, you authorize the Emergency Management BC to communicate with you by email about your registration and to invite you to provide feedback about your experience.
      </p>
    </section>
  </div>

  <form novalidate [formGroup]="form">
    <!-- RESTRICTION -->
    <div class="feature-block mt-4">
      <h3 class="required mt-0">Restriction</h3>
      <p>
        Concerned family and friends may inquire about you and your family because of the emergency. We would like to provide these people with some information about you.<br>
        <strong>May we disclose your location and the contact information for you and your family members?</strong>
      </p>
      <div class="form-check">
        <input type="radio" class="form-check-input" [value]="false" formControlName="restrictedAccess" (click)="setRestricted(false)" id="restrictionFalse">
        <label class="form-check-label" for="restrictionFalse">
          <strong>Yes</strong>
        </label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" [value]="true" formControlName="restrictedAccess" (click)="setRestricted(true)" id="restrictionTrue">
        <label class="form-check-label" for="restrictionTrue">
          <strong>No</strong> - (Emergency Support Services Team: Requires an authorized team member to complete the form manually.)
        </label>
      </div>
    </div>

    <!-- EMERGENCY SUPPORT SERVICES TEAM HANDLING NOTE -->
    <div *ngIf="activeForm===false" class="mt-4">
      <h1>Emergency Support Services Team Handling Note</h1>
      <p>
        Privacy is important. Please locate a volunteer that is trained to collect and handle sensitive information.
      </p>
      <p>
        This does not change the support offered but does change the process of collecting and handling information. This restricts other Emergency Support Services team members from seeing the registration.
      </p>
      <a routerLink="/dashboard">Return to the Emergency Support Services Dashboard</a>
    </div>

    <div *ngIf="activeForm===true">
      <!-- TASK NUMBER & PLACE OF REGISTRATION -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Task Number &amp; Place of Registration</h2>
        <div class="form-row">
          <app-attention-icon></app-attention-icon>
          <app-form-field required="true" class="col">
            <label for="incidentTask">Task Number</label>
            <select [compareWith]="compareById" [class.is-invalid]="invalid('incidentTask')" class="form-control" formControlName="incidentTask" id="incidentTask">
              <option [ngValue]="null">-- Select task number</option>
              <option [ngValue]="incident" *ngFor="let incident of incidentTasks$ | async">
                {{incident.taskNumber}}
                <span *ngIf="incident.community">
                  <span *ngIf="incident.community.name"> - {{incident.community.name}}</span>
                </span>
              </option>
            </select>
            <span *ngIf="submitted" class="invalid-feedback">{{e.incidentTask}}</span>
          </app-form-field>
          <div class="d-flex align-items-center col-md-7">
            <small class="text-muted">
              If the task number you’re looking for is not listed, please contact your supervisor or the Emergency Coordination Centre at 1-800-663-3456.
            </small>
          </div>
        </div>
        <div class="form-row">
          <app-attention-icon></app-attention-icon>
          <app-form-field class="col" required="true" tooltip="Tool Tip: The location where you are registering the evacuees.">
            <label for="facility">Facility Name / Registration Location</label>
            <input type="text" [class.is-invalid]="invalid('facility')" class="form-control" formControlName="facility" id="facility" autocomplete="off">
            <span *ngIf="submitted" class="invalid-feedback">{{e.facility}}</span>
          </app-form-field>
        </div>
        <div class="form-row">
          <app-attention-icon></app-attention-icon>
          <app-form-field class="col" required="true" tooltip="Tool Tip: A host community is the community where the registration is taking place and the Reception Centre is located.">
            <label for="hostCommunity">Host Community</label>
            <app-communities-select [class.is-invalid]="invalid('hostCommunity')" [myParent]="form" myFormControlName="hostCommunity" myId="hostCommunity"></app-communities-select>
            <span *ngIf="submitted" class="invalid-feedback">{{e.hostCommunity}}</span>
          </app-form-field>
        </div>
      </div>

      <!-- EVACUEE DETAILS -->
      <div formGroupName="headOfHousehold" class="mt-4">
        <h2 class="blue-header font-weight-bold">Evacuee Details</h2>
        <app-form-field required="true">
          <label for="lastName">Last Name</label>
          <input type="text" [class.is-invalid]="invalid('headOfHousehold.lastName')" class="form-control text-uppercase" appUpperCase="blur" formControlName="lastName" id="lastName" autocomplete="off">
          <span *ngIf="submitted" class="invalid-feedback">{{e.headOfHousehold?.lastName}}</span>
        </app-form-field>
        <app-form-field required="true">
          <label for="firstName">First Name</label>
          <input type="text" [class.is-invalid]="invalid('headOfHousehold.firstName')" class="form-control" formControlName="firstName" id="firstName" autocomplete="off">
          <span *ngIf="submitted" class="invalid-feedback">{{e.headOfHousehold?.firstName}}</span>
        </app-form-field>
        <div class="form-row">
          <app-form-field class="col">
            <label for="initials">Initial</label>
            <input type="text" class="form-control" formControlName="initials" id="initials" autocomplete="off">
          </app-form-field>
          <app-form-field class="col">
            <label for="nickname">Preferred Name</label>
            <input type="text" class="form-control" formControlName="nickname" id="nickname" autocomplete="off">
          </app-form-field>
        </div>
        <div class="form-row">
          <app-form-field class="col">
            <label for="gender">Gender</label>
            <select class="form-control" formControlName="gender" id="gender">
              <option [ngValue]="null">Please select--</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="x">X</option>
            </select>
          </app-form-field>
          <app-form-field class="col" required="true">
            <label for="dob">Date of Birth</label>
            <input type="text" [textMask]="{mask: dateMask, keepCharPositions: true}" placeholder="yyyy-mm-dd" [class.is-invalid]="invalid('headOfHousehold.dob')" class="form-control" formControlName="dob" id="dob" autocomplete="off">
            <small>(Format: yyyy-mm-dd)</small>
            <span *ngIf="submitted" class="invalid-feedback">{{e.headOfHousehold.dob}}</span>
          </app-form-field>
        </div>
      </div>

      <!-- EVACUEE FAMILY INFORMATION -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Evacuee Family Information</h2>
        <p class="required">
          Is the evacuee registering any immediate family members who live in the same household with them?
        </p>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" value="yes" formControlName="registeringFamilyMembers" id="registeringFamilyMembersYes">
            <label class="form-check-label" for="registeringFamilyMembersYes">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" value="no" formControlName="registeringFamilyMembers" id="registeringFamilyMembersNo">
            <label class="form-check-label" for="registeringFamilyMembersNo">No</label>
          </div>
          <span [class.d-block]="invalid('registeringFamilyMembers')" class="invalid-feedback">{{e.registeringFamilyMembers}}</span>
        </div>
        <div formArrayName="familyMembers">
          <!-- TODO: Refactor into sub-component -->
          <div *ngFor="let entry of familyMembers.controls; index as i;" [formGroupName]="i" class="feature-block card p-0 mt-3">
            <div class="card-body p-3">
              <div class="row mt-0">
                <div class="col">
                  <label class="required" for="lastName-{{i}}">Last Name</label>
                  <input type="text" [class.is-invalid]="invalid('lastName', entry)" class="form-control text-uppercase" appUpperCase="blur" formControlName="lastName" id="lastName-{{i}}" autocomplete="off">
                  <span *ngIf="submitted" class="invalid-feedback">Please enter a last name.</span>
                </div>
                <div class="col">
                  <!-- not yet implemented -->
                  <!-- <label>Same as main applicant.</label>
                  <div class="form-check" for="sameLastNameAsEvacuee">
                    <input type="checkbox" class="form-check-input" [value]="true" formControlName="sameLastNameAsEvacuee" id="sameLastNameAsEvacuee">
                  </div> -->
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <label class="required" for="firstName-{{i}}">First Name</label>
                  <input type="text" [class.is-invalid]="invalid('firstName', entry)" class="form-control" formControlName="firstName" id="firstName-{{i}}" autocomplete="off">
                  <span *ngIf="submitted" class="invalid-feedback">Please enter a first name.</span>
                </div>
                <div class="col">
                  <label for="initials-{{i}}">Initial</label>
                  <input type="text" class="form-control" formControlName="initials" id="initials-{{i}}" autocomplete="off">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <label class="required" for="relationshipToEvacuee-{{i}}">Relationship to evacuee</label>
                  <select [compareWith]="compareById" [class.is-invalid]="invalid('relationshipToEvacuee', entry)" class="form-control" formControlName="relationshipToEvacuee" id="relationshipToEvacuee-{{i}}">
                    <option [ngValue]="null">Please select--</option>
                    <option *ngFor="let item of relationshipTypes$ | async" [ngValue]="item">
                      {{item.description}}
                    </option>
                  </select>
                  <span *ngIf="submitted" class="invalid-feedback">Please state your relationship to this family member.</span>
                </div>
                <div class="col">
                  <label for="gender-{{i}}">Gender</label>
                  <select class="form-control" formControlName="gender" id="gender-{{i}}">
                    <option [ngValue]="null">Please select--</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="x">X</option>
                  </select>
                </div>
                <div class="col">
                  <label class="required" for="dob-{{i}}">Date of Birth</label>
                  <input type="text" [textMask]="{mask: dateMask, keepCharPositions: true}" placeholder="yyyy-mm-dd" [class.is-invalid]="invalid('dob', entry)" class="form-control" formControlName="dob" id="dob-{{i}}" autocomplete="off">
                  <small>(Format: yyyy-mm-dd)</small>
                  <span *ngIf="submitted && hasErrors('dob', entry, ['required'])" class="invalid-feedback">Please enter a date of birth.</span>
                  <ng-container *ngIf="submitted && hasErrors('dob', entry, ['date', 'maxDate'])">
                    <span *ngIf="hasErrors('dob', entry, ['date']); else maxDate" class="invalid-feedback">Please enter a valid date.</span>
                    <ng-template #maxDate>
                      <span class="invalid-feedback">Date of birth must be today or in the past.</span>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <app-fa-link icon="times" class="float-left" (click)="removeFamilyMember(i)">
                Remove
              </app-fa-link>
              <app-fa-link icon="plus-circle" color="#669900" class="float-right" (click)="addFamilyMember()">
                Add another contact
              </app-fa-link>
            </div>
          </div>
        </div>
      </div>

      <!-- PRIMARY RESIDENCE & CONTACT DETAILS -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Primary Residence &amp; Contact Details</h2>
        <p class="required">
          Is the evacuee's primary residence within BC?
        </p>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('primaryResidenceInBC')" class="form-check-input" [value]="true" formControlName="primaryResidenceInBC" id="primaryResidenceInBCTrue">
            <label class="form-check-label" for="primaryResidenceInBCTrue">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('primaryResidenceInBC')" class="form-check-input" [value]="false" formControlName="primaryResidenceInBC" id="primaryResidenceInBCFalse">
            <label class="form-check-label" for="primaryResidenceInBCFalse">No</label>
          </div>
          <span [class.d-block]="invalid('primaryResidenceInBC')" class="invalid-feedback">{{e.primaryResidenceInBC}}</span>
        </div>
        <p class="mt-3">
          <small>
            <strong>Primary residence:</strong> is the dwelling where an individual or family spends most of their personal time. A person can only have one primary residence at any time.
          </small>
        </p>
        <div *ngIf="form.value.primaryResidenceInBC !== null" class="feature-block mt-4">
          <app-address-selector [parent]="f.primaryResidence" [touched]="submitted" [withinBC]="form.value.primaryResidenceInBC"></app-address-selector>
          <div class="row mt-0">
            <div class="col">
              <label for="phoneNumber">Telephone / Mobile Number</label>
              <input type="text" [class.is-invalid]="invalid('phoneNumber')" class="form-control" [textMask]="{mask: phoneMask, keepCharPositions: true}" placeholder="999-999-9999" formControlName="phoneNumber" id="phoneNumber" autocomplete="off">
              <small class="d-block" *ngIf="!!form.value.primaryResidenceInBC">(Format: 999-999-9999)</small>
              <span *ngIf="submitted" class="invalid-feedback">{{e.phoneNumber}}</span>
            </div>
            <div class="col">
              <label for="phoneNumberAlt">Alternate Telephone / Mobile Number</label>
              <input type="text" [class.is-invalid]="invalid('phoneNumberAlt')" class="form-control" [textMask]="{mask: phoneMask, keepCharPositions: true}" placeholder="999-999-9999" formControlName="phoneNumberAlt" id="phoneNumberAlt" autocomplete="off">
              <small class="d-block" *ngIf="!!form.value.primaryResidenceInBC">(Format: 999-999-9999)</small>
              <span *ngIf="submitted" class="invalid-feedback">{{e.phoneNumberAlt}}</span>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label for="email">Email Address</label>
              <input type="email" [class.is-invalid]="invalid('email')" class="form-control" formControlName="email" id="email" autocomplete="off">
              <small class="d-block">This email address will be used for communication with the evacuee regarding this registration.</small>
              <span *ngIf="submitted" class="invalid-feedback">{{e.email}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- MAILING ADDRESS -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Mailing Address</h2>
        <p class="required">
          Is the evacuee's mailing address the same as their primary residence?
        </p>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('mailingAddressSameAsPrimary')" class="form-check-input" [value]="true" formControlName="mailingAddressSameAsPrimary" id="mailingAddressSameAsPrimaryTrue">
            <label class="form-check-label" for="mailingAddressSameAsPrimaryTrue">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('mailingAddressSameAsPrimary')" class="form-check-input" [value]="false" formControlName="mailingAddressSameAsPrimary" id="mailingAddressSameAsPrimaryFalse">
            <label class="form-check-label" for="mailingAddressSameAsPrimaryFalse">No</label>
          </div>
          <span [class.d-block]="invalid('mailingAddressSameAsPrimary')" class="invalid-feedback">{{e.mailingAddressSameAsPrimary}}</span>
        </div>
        <div *ngIf="form.value.mailingAddressSameAsPrimary === false" class="feature-block mt-4 pb-0">
          <p class="required">
            Is the mailing address within BC?
          </p>
          <div class="form-group mb-0 pb-4">
            <div class="form-check">
              <input type="radio" class="form-check-input" [value]="true" formControlName="mailingAddressInBC" id="mailingAddressInBCTrue">
              <label class="form-check-label" for="mailingAddressInBCTrue">Yes</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" [value]="false" formControlName="mailingAddressInBC" id="mailingAddressInBCFalse">
              <label class="form-check-label" for="mailingAddressInBCFalse">No</label>
            </div>
          </div>
          <span [class.d-block]="invalid('mailingAddressInBC')" class="invalid-feedback">{{e.mailingAddressInBC}}</span>
          <div *ngIf="form.value.mailingAddressInBC !== null" class="mt-0">
            <app-address-selector [parent]="f.mailingAddress" [touched]="submitted" [withinBC]="form.value.mailingAddressInBC"></app-address-selector>
          </div>
        </div>
      </div>

      <!-- ADDITIONAL INFORMATION -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Additional Information</h2>

        <!-- DIETARY REQUIREMENTS -->
        <div class="form-row mt-0">
          <app-attention-icon></app-attention-icon>
          <p class="col required">
            Does the evacuee have any dietary requirements?
          </p>
        </div>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('dietaryNeeds')" class="form-check-input" [value]="true" formControlName="dietaryNeeds" id="dietaryNeedsTrue">
            <label class="form-check-label" for="dietaryNeedsTrue">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('dietaryNeeds')" class="form-check-input" [value]="false" formControlName="dietaryNeeds" id="dietaryNeedsFalse">
            <label class="form-check-label" for="dietaryNeedsFalse">No</label>
          </div>
          <span [class.d-block]="invalid('dietaryNeeds')" class="invalid-feedback">{{e.dietaryNeeds}}</span>
        </div>

        <div *ngIf="form.value.dietaryNeeds" class="feature-block">
          <label>Please specify</label>
          <input type="text" [class.is-invalid]="invalid('dietaryNeedsDetails')" class="form-control" formControlName="dietaryNeedsDetails" autocomplete="off">
          <span *ngIf="submitted" class="invalid-feedback">{{e.dietaryNeedsDetails}}</span>
        </div>

        <!-- MEDICATION -->
        <div class="form-row mt-4">
          <app-attention-icon></app-attention-icon>
          <p class="required">
            Does the evacuee (or anyone registering with them) take medication?
          </p>
        </div>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('medicationNeeds')" class="form-check-input" [value]="true" formControlName="medicationNeeds" id="medicationNeedsTrue">
            <label class="form-check-label" for="medicationNeedsTrue">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('medicationNeeds')" class="form-check-input" [value]="false" formControlName="medicationNeeds" id="medicationNeedsFalse">
            <label class="form-check-label" for="medicationNeedsFalse">No</label>
          </div>
          <span [class.d-block]="invalid('medicationNeeds')" class="invalid-feedback">{{e.medicationNeeds}}</span>
        </div>
        <div *ngIf="form.value.medicationNeeds" class="feature-block">
          <p class="required">
            Does the evacuee have sufficient supply for the next 72 hours?
          </p>
          <div class="form-group mb-0">
            <div class="form-check">
              <input type="radio" [class.is-invalid]="invalid('hasThreeDayMedicationSupply')" class="form-check-input" [value]="true" formControlName="hasThreeDayMedicationSupply" id="hasThreeDayMedicationSupplyTrue">
              <label class="form-check-label" for="hasThreeDayMedicationSupplyTrue">Yes</label>
            </div>
            <div class="form-check">
              <input type="radio" [class.is-invalid]="invalid('hasThreeDayMedicationSupply')" class="form-check-input" [value]="false" formControlName="hasThreeDayMedicationSupply" id="hasThreeDayMedicationSupplyFalse">
              <label class="form-check-label" for="hasThreeDayMedicationSupplyFalse">No</label>
            </div>
            <span [class.d-block]="invalid('hasThreeDayMedicationSupply')" class="invalid-feedback">{{e.hasThreeDayMedicationSupply}}</span>
          </div>
          <div *ngIf="form.value.hasThreeDayMedicationSupply===false" class="alert alert-warning mt-3 mb-0" role="alert">
            <p class="alert-heading display-6 my-2">Refer the evacuee to Health Services at the Reception Centre where available.</p>
          </div>
        </div>

        <!-- PETS -->
        <p class="required mt-4">
          Does the evacuee have any pets with them?
        </p>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('hasPets')" class="form-check-input" [value]="true" formControlName="hasPets" id="hasPetsTrue">
            <label class="form-check-label" for="hasPetsTrue">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('hasPets')" class="form-check-input" [value]="false" formControlName="hasPets" id="hasPetsFalse">
            <label class="form-check-label" for="hasPetsFalse">No</label>
          </div>
          <span [class.d-block]="invalid('hasPets')" class="invalid-feedback">{{e.hasPets}}</span>
        </div>
        <div *ngIf="form.value.hasPets" class="feature-block">
          <label>Please describe the evacuee's pet-care plan.</label>
          <input type="text" [class.is-invalid]="invalid('petCarePlan')" class="form-control" formControlName="petCarePlan" autocomplete="off">
          <span *ngIf="submitted" class="invalid-feedback">{{e.petCarePlan}}</span>
        </div>
      </div>

      <!-- INSURANCE -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Insurance</h2>
        <p class="required">
          Does the evacuee have insurance to cover their immediate needs?
        </p>
        <div class="form-group mb-0">
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" value="yes" formControlName="insuranceCode" id="insuranceCodeYes">
            <label class="form-check-label" for="insuranceCodeYes">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" value="yes-unsure" formControlName="insuranceCode" id="insuranceCodeYesUnsure">
            <label class="form-check-label" for="insuranceCodeYesUnsure">Yes, but they are unsure if they have coverage for this event</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" value="no" formControlName="insuranceCode" id="insuranceCodeNo">
            <label class="form-check-label" for="insuranceCodeNo">No</label>
          </div>
          <div class="form-check">
            <input type="radio" [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" value="unsure" formControlName="insuranceCode" id="insuranceCodeUnsure">
            <label class="form-check-label" for="insuranceCodeUnsure">They don't know</label>
          </div>
          <span [class.d-block]="invalid('insuranceCode')" class="invalid-feedback">{{e.insuranceCode}}</span>
        </div>
        <div class="feature-block">
          <p class="mb-0">
            Please encourage the evacuee to contact their insurance provider as soon as possible.
          </p>
          <p class="mb-0">
            If they are having difficulty contacting their insurance provider, have them contact the Insurance Bureau of Canada at <a href="tel:18442275422">1-844-227-5422</a>.
          </p>
        </div>
      </div>

      <!-- BRIEF STATEMENT OF HOW THE PERSON/FAMILY WERE AFFECTED BY THE DISASTER -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Brief Statement of How The Person/Family Were Affected By The Disaster</h2>
        <div class="form-row">
          <app-attention-icon></app-attention-icon>
          <p class="col">
            Please do not include any personal/medical information pertaining to the evacuee and their family.
          </p>
        </div>
        <div class="form-row">
          <div class="col">
            <textarea class="form-control" formControlName="disasterAffectDetails" placeholder="Please specify" rows="4"></textarea>
          </div>
        </div>
      </div>

      <!-- NON-ESSENTIAL SUPPORTS -->
      <div class="mt-4">
        <h2 class="blue-header font-weight-bold">Non-essential Supports</h2>
        <div class="col">
          <p class="required">Which categories of support is the evacuee <strong>able to provide for themselves?</strong></p>
        </div>
        <div class="feature-block">
          <p>Check all that apply:</p>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" formControlName="requiresFood" id="requiresFood">
            <label class="form-check-label" for="requiresFood">Food</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" value="" formControlName="requiresClothing" id="requiresClothing">
            <label class="form-check-label" for="requiresClothing">Clothing</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" value="" formControlName="requiresAccommodation" id="requiresLodging">
            <label class="form-check-label" for="requiresLodging">Lodging</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" value="" formControlName="requiresIncidentals" id="requiresIncidentals">
            <label class="form-check-label" for="requiresIncidentals">Incidentals</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" value="" formControlName="requiresTransportation" id="requiresTransportation">
            <label class="form-check-label" for="requiresTransportation">Transportation</label>
          </div>
        </div>
      </div>

      <!-- FAMILY RECOVERY PLANS (IMMEDIATE & LONG TERM) -->
      <div class="mb-4">
        <h2 class="blue-header font-weight-bold">Family Recovery Plans (Immediate &amp; Long Term)</h2>
        <div class="form-row">
          <app-attention-icon></app-attention-icon>
          <div class="col">
            <p>
              Emergency Support Services provides short term assistance to give evacuees a chance to recover. Has the evacuee thought about what they will do after that time?
            </p>
          </div>
        </div>
        <textarea class="form-control" placeholder="Details" rows="4" formControlName="familyRecoveryPlan"></textarea>
      </div>

      <!-- Reception Centre Service Recommendations -->
      <div class="mb-4">
        <h2 class="blue-header font-weight-bold">Reception Centre Service Recommendations</h2>
        <div class="form-row">
          <app-attention-icon></app-attention-icon>
          <div class="col">
            <p>
              Please review the following services available in your reception centre.
              <br>
              Please select the ones you have recommended for the evacuee
            </p>
          </div>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" formControlName="hasInquiryReferral" id="hasInquiryReferral">
          <label class="form-check-label" for="hasInquiryReferral">Inquiry</label>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" value="" formControlName="hasHealthServicesReferral" id="hasHealthServicesReferral">
          <label class="form-check-label" for="hasHealthServicesReferral">Health Services</label>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" value="" formControlName="hasFirstAidReferral" id="hasFirstAidReferral">
          <label class="form-check-label" for="hasFirstAidReferral">First Aid</label>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" value="" formControlName="hasPersonalServicesReferral" id="hasPersonalServicesReferral">
          <label class="form-check-label" for="hasPersonalServicesReferral">Personal Services</label>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" value="" formControlName="hasChildCareReferral" id="hasChildCareReferral">
          <label class="form-check-label" for="hasChildCareReferral">Child Care</label>
        </div>
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" value="" formControlName="hasPetCareReferral" id="hasPetCareReferral">
          <label class="form-check-label" for="hasPetCareReferral">Pet Care</label>
        </div>
      </div>

      <!-- OTHER AGENCY REFERRALS MADE OUTSIDE OF THE RECEPTION CENTRE< -->
      <div class="mb-4">
        <h2 class="blue-header font-weight-bold">Other Agency Service Recommendations Made Outside of the Reception Centre</h2>
        <div class="form-row mx-0">
          <app-attention-icon></app-attention-icon>
          <textarea class="form-control" placeholder="Please specify" rows="4" formControlName="externalReferralsDetails"></textarea>
        </div>
      </div>

      <!-- INTERNAL CASE NOTES -->
      <div class="mb-4">
        <h2 class="blue-header font-weight-bold">Internal Case Notes</h2>
        <div class="form-row mx-0">
          <app-attention-icon></app-attention-icon>
          <div class="col">
            <p>
              A space to add any factual case notes pertaining to the evacuee and their family. Please do not add any medical information or irrelevant/speculative personal details as this information may be viewed by other volunteers and/or EMBC. Evacuees may request to view their own records, including these case notes.
            </p>
            <p>
              Initial and date each comment that you add. Do not remove any previously added case notes.
            </p>
          </div>
        </div>
        <textarea class="form-control" placeholder="Details" rows="8" formControlName="internalCaseNotes"></textarea>
      </div>

      <div *ngIf="errorSummary" class="text-danger">
        <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon>
        &nbsp;{{ errorSummary }}
      </div>

      <section class="space-between align-items-center mt-5 mb-4">
        <div>
          <a href="javascript:void(0)" (click)="cancel()">
            <app-font-awesome-icon icon="times"></app-font-awesome-icon>
            <span class="ml-2">Cancel &amp; Close</span>
          </a>
        </div>
        <div>
          <button type="button" class="btn btn-primary text-uppercase ml-4" [disabled]="submitting" (click)="next()">
            <span *ngIf="submitting">Working</span>
            <span *ngIf="!submitting">Next</span>
          </button>
        </div>
      </section>
    </div>
  </form>
</div>

<!-- *********************************SUMMARY BELOW****************************************** -->
<div *ngIf="summaryMode">
  <!-- REVIEW DETAILS -->
  <h1 class="mt-4">Review Details</h1>

  <p>
    Please confirm that all details you entered are correct by reading through the summary below with the evacuee.
  </p>

  <app-full-registration-summary-block [registration]='registration'></app-full-registration-summary-block>

  <div class="mt-5 space-between">
    <section>
      <button type="button" class="btn btn-outline-primary text-uppercase" (click)="back()">Edit Registration</button>
    </section>
    <section>
      <!-- <a routerLink="/dashboard">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a> -->
      <button *ngIf="!submitting" type="button" class="btn btn-primary text-uppercase" [disabled]="submitting" (click)="submit(true)">
        <span>Save &amp; Add Referrals</span>
      </button>
      <button type="button" class="btn btn-primary ml-3 text-uppercase" [disabled]="submitting" (click)="submit(false)">
        <span *ngIf="submitting">Submitting</span>
        <span *ngIf="!submitting">Save</span>
      </button>
    </section>
  </div>
</div>
