// to make 'invalid-feedback' message visible after custom component
app-communities-select {
  &.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }
}

.full-width {
  width: 100%;
}
