$iconColor: #c9c9c9;
// to make 'invalid-feedback' message visible after custom component
app-communities-select {
  &.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }
}

.full-width {
  width: 100%;
}


.icon-l-padding {
    padding-left: 5px;
}

.fa {
    color: $iconColor;
    cursor: help;
}

.flex-container {
  display: flex;
  & .vertical {
    flex-direction: column;
  }
}

.flex-item {
  flex: 0 1 auto;
}

.flex-btns {
  align-items: flex-end;
  flex: 2 0 auto;
}

