<h3 class="with-icon taxi">Transportation {{> itemsDetailTitle}}</h3>
<p><span class="input-output">{{OtherTransportModeDetails}}</span></p>
<br />
<p><strong>Total value:</strong> <span class="input-output">${{TotalAmount}}</span><em>(incl. GST/PST)</em></p>
<br />
