<div class="row">
    <div class="col-12">
        <div class="info-block">
            <h3 class="with-icon clipboard">Invoice Checklist</h3>
            <p>The following checklist is provided for your convenience to ensure your invoice documentation is complete and accurate prior to forwarding to Emergency Management BC (EMBC) for payment.</p>
        </div>
    </div>
</div>
<div class="checklist">
</div>
