<div class="row">

  <div class="col-lg-9">
    <h1>Evacuee Summary &amp; Referrals</h1>

    <div *ngIf="loading">Loading...</div>

    <div *ngIf="registrationSummary" class="mt-3">
      <section class="clearfix">
        <h2 class="blue-header font-weight-bold">EVACUEE INFORMATION</h2>
        <ul class="summary">
          <li class="summary-heading">
            <div class="container py-3">
              <div class="row">
                <div class="col">
                  <h3 class="h1 my-1 font-weight-normal">
                    {{registrationSummary.headOfHousehold?.lastName}},
                    {{registrationSummary.headOfHousehold?.firstName}}
                    {{registrationSummary.headOfHousehold?.initials}}
                  </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  Task #: {{registrationSummary.incidentTask?.taskNumber}}
                </div>
                <div class="col px-0">
                  Self Registration Date &amp; Time:
                  {{registrationSummary.selfRegisteredDate | dateTimeFormatPipe}}
                </div>
                <div class="col-3">
                  File Status:
                  <span *ngIf="registrationSummary.active">Active</span>
                  <span *ngIf="!registrationSummary.active">Inactive</span>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  ESS File #: {{registrationSummary.essFileNumber}}
                </div>
                <div class="col px-0">
                  Registration Completed Date &amp; Time:
                  {{registrationSummary.registrationCompletionDate | dateTimeFormatPipe}}
                </div>
                <div class="col-3">
                  <!-- Restricted File:
                <span *ngIf="registrationSummary.restrictedAccess">Yes</span>
                <span *ngIf="!registrationSummary.restrictedAccess">No</span> -->
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="name">Facility Name/Registration Location:</span>
            <span class="value">{{registrationSummary.facility}}</span>
          </li>
          <li>
            <span class="name">Host Community:</span>
            <span class="value">{{registrationSummary.hostCommunity?.name}}</span>
          </li>
          <li>
            <span class="name">Family Members:</span>
            <span class="value">
              <div *ngFor="let familyMember of registrationSummary.headOfHousehold?.familyMembers">
                {{familyMember.lastName}}, {{familyMember.firstName}}
              </div>
            </span>
          </li>
          <li>
            <span class="name">Supports Provided by the Evacuee:</span>
            <!-- NOTE: this should show opposite because the customer requesdted it-->
            <span class="value">
              <div class="form-check mt-2">
                <input class="form-check-input" [checked]="!registrationSummary.requiresFood" type="checkbox" disabled>
                <label class="form-check-label">Food</label>
              </div>
              <div class="form-check mt-2">
                <input class="form-check-input" [checked]="!registrationSummary.requiresClothing" type="checkbox" disabled>
                <label class="form-check-label">Clothing</label>
              </div>
              <div class="form-check mt-2">
                <input class="form-check-input" [checked]="!registrationSummary.requiresAccommodation" type="checkbox" disabled>
                <label class="form-check-label">Lodging</label>
              </div>
              <div class="form-check mt-2">
                <input class="form-check-input" [checked]="!registrationSummary.requiresIncidentals" type="checkbox" disabled>
                <label class="form-check-label">Incidentals</label>
              </div>
              <div class="form-check mt-2">
                <input class="form-check-input" [checked]="!registrationSummary.requiresTransportation" type="checkbox" disabled>
                <label class="form-check-label">Transportation</label>
              </div>
            </span>
          </li>
          <li>
            <span class="name">Internal Case Notes:</span>
            <span class="value">{{registrationSummary.hasInternalCaseNotes | yesNo}}</span>
          </li>
        </ul>
        <div class="mt-4">
          <button type="button" class="btn btn-primary float-right text-uppercase" (click)="showFullProfile(viewAlert)">View Full Profile</button>
        </div>
      </section>

      <!-- safety check: no task number means this registration isn't finalized -->
      <section *ngIf="registrationSummary.incidentTask?.taskNumber" class="clearfix">
        <h2 class="blue-header font-weight-bold">Add Referrals</h2>

        <div class="feature-block card d-block border-0">
          <!-- TODO: only display 'and family' if familyMembers > 0 ? -->
          <h3>Add referrals for {{registrationSummary.headOfHousehold?.lastName + ', ' + registrationSummary.headOfHousehold?.firstName}} and family</h3>

          <app-form-field>
            <!-- TODO: pre-select HOH? -->
            <label for="purchaser">Who will be responsible for purchasing goods?</label>
            <select class="form-control w-25" id="purchaser" [(ngModel)]="selectedPurchaser">
              <option [ngValue]="null">Please select--</option>
              <option *ngIf="registrationSummary.headOfHousehold" [value]="registrationSummary.headOfHousehold.lastName + ', ' + registrationSummary.headOfHousehold.firstName">
                {{registrationSummary.headOfHousehold.lastName}}, {{registrationSummary.headOfHousehold.firstName}}
              </option>
              <option *ngFor="let familyMember of registrationSummary.headOfHousehold?.familyMembers" [value]="familyMember.lastName + ', ' + familyMember.firstName">
                {{familyMember.lastName}}, {{familyMember.firstName}}
              </option>
              <option value="other">Someone else...</option>
            </select>

            <input type="text" *ngIf="selectedPurchaser === 'other'" class="form-control w-25 ml-3" [(ngModel)]="otherPurchaser" placeholder="Please specify">
          </app-form-field>

          <button type="button" class="btn btn-primary d-block" [disabled]="!getPurchaser()" (click)="addReferrals()">
            ADD REFERRALS
          </button>
        </div>
      </section>

      <!-- safety check: no task number means this registration isn't finalized -->
      <section *ngIf="registrationSummary.incidentTask?.taskNumber" class="clearfix">
        <h2 class="blue-header font-weight-bold">List of Referrals</h2>

        <app-referral-table [registration]="registration"></app-referral-table>
      </section>
    </div>
  </div>

  <div class="col-lg-3">
    <app-sidebox-add-registration></app-sidebox-add-registration>
  </div>

  <!-- Alert to confirm evacuee file viewing -->
  <ng-template #viewAlert let-modal>
    <div class="modal-header">
      <h1 class="modal-title h2">Alert</h1>
      <button type="button" class="close" aria-label="Close" (click)="confirmModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <p>You are requesting to view an evacuee file. Please confirm that you have permission by selecting a reason code below.</p>
      <select class="form-control w-50" [(ngModel)]="reason">
        <option [ngValue]="null">Please select---</option>
        <option value="checkCaseNotes">Access Internal Case Notes</option>
        <option value="evacueeError">Evacuee made an error</option>
        <option value="evacueeAddition">Evacuee wants to make an addition</option>
        <option value="invalidTaskNumber">Task number is incorrect</option>
        <option value="incompleteRegistration">Incomplete registration</option>
        <option value="adminTask">Administrative task</option>
      </select>

      <div class="mt-4">
        <button type="button" class="btn btn-primary" [disabled]="reason == null" (click)="confirmModal.close()">Submit</button>
      </div>
    </div>
  </ng-template>
</div>
