<div class="row">
  <div class="col col-lg-8">
    <div class="mb-4">
      <h1 *ngIf="!editMode" (click)="editMode=!editMode">Add ESS User</h1>
      <h1 *ngIf="editMode" (click)="editMode=!editMode">Edit ESS User</h1>
      <small>
        All fields are required
      </small>
      <h3 class="blue-header">
        EVACUEE DETAILS
      </h3>
      <div class="col mb-4">
        <label>Last Name</label>
        <input class="form-control" type="text" [formControl]="lastName">
      </div>
      <div class="col mb-4">
        <label>First Name</label>
        <input class="form-control" type="text" [formControl]="firstName">
      </div>
      <div class="col mb-4">
        <label>BCeID</label>
        <input class="form-control" type="text" [formControl]="bceid">
      </div>
      <div class="col mb-4">
        <p>
          Can this user access restricted files?
        </p>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input [formControl]="restrictedAccess" class="form-check-input" type="radio" [value]="true">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input [formControl]="restrictedAccess" class="form-check-input" type="radio" [value]="false">
            <label class="form-check-label">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <button class="btn btn-primary">Cancel</button>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
      <button class="btn btn-primary float-right">Next</button>

    </div>
    <!-- TODO Need yellow horizontal rule -->
  </div>
  <!-- Information side bar -->
  <div class="col-12 col-lg-4">
    <app-side-box-info title="ADD AN EVACUEE"
      content="Before starting a new registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered."
      button="Add Evacuee(s)" route="register-evacuee"></app-side-box-info>

    <app-side-box title="Useful Information" icon="description">
      <section role="content">
        <p>
          Lost your password?
        </p>
        <p>
          Contact your Emergency Support Services Director or the Local Authority for assistance.
        </p>
        <!-- <section role="footer">
          <a class="btn btn-primary" href="tel:1-800-663-3456">1-800-663-3456</a>
        </section> -->
      </section>
    </app-side-box>
  </div>
</div>
<!-- HIDE THE JUNK -->
<!-- <div class="row">
  <div class="col">
    <p>{{lastName.value}}</p>
    <p>{{firstName.value}}</p>
    <p>{{bceid.value}}</p>
    <p>{{restrictedAccess.value}}</p>
  </div>
</div> -->