<div class="row">
  <div class="col col-lg-8">
    <router-outlet></router-outlet>
  </div>
  <!-- Information side bar -->
  <div class="col-12 col-lg-4">
    <app-side-box-info title="ADD AN EVACUEE"
      content="Before starting a new registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered."
      button="Add Evacuee(s)" route="register-evacuee"></app-side-box-info>

    <app-side-box title="Useful Information" icon="description">
      <section role="content">
        <p>
          Lost your password?
        </p>
        <p>
          Contact your Emergency Support Services Director or the Local Authority for assistance.
        </p>
        <!-- <section role="footer">
          <a class="btn btn-primary" href="tel:1-800-663-3456">1-800-663-3456</a>
        </section> -->
      </section>
    </app-side-box>
  </div>
</div>
<!-- HIDE THE JUNK -->
<!-- <div class="row">
  <div class="col">
    <p>{{lastName.value}}</p>
    <p>{{firstName.value}}</p>
    <p>{{bceid.value}}</p>
    <p>{{restrictedAccess.value}}</p>
  </div>
</div> -->