@import "src/styles/components/search-gates.scss";
// TO-DO: Animate basic => advance search transition
.btn-padding {
    margin-right: 5px;
}

.search-btn {
    background-color: #fff;
    &:hover {
    color: #fff;
    background-color: #38598a;
    border-color: #38598a;
    }
}