<!-- Local Authority -->
<div class="mb-4">
  <h1>Emergency Support Services Team Management Dashboard</h1>
  <p>Use this section to add new Emergency Support Services users, as well as edit existing user information and permissions.</p>

  <h3 class="blue-header text-uppercase">Users List</h3>
  <div class="form-row">
    <div class="col-md">
      <input type="text" aria-label="search" class="form-control mb-2" placeholder="Search by last name &hellip;" [(ngModel)]="queryString" (keydown.enter)="search()">
    </div>
    <div class="col-md-auto">
      <button class="btn btn-primary" (click)="search()">SEARCH</button>
    </div>
  </div>
  <div class="search-results mt-4">
    <div *ngIf="resultsAndPagination?.data?.length > 0; then searchResultsTable; else notFound"></div>
  </div>
  <ng-template #searchResultsTable>
    <div class="space-between align-items-center my-3">
      <section>
        <app-pagination-summary [value]="resultsAndPagination.metadata">
          <span class="font-weight-bold">ACTIVE</span> users
          <!-- TODO: <small class="ml-3">(<a href="">show deactivated</a>)</small> -->
        </app-pagination-summary>
      </section>
      <section>
        <button class="btn btn-primary" (click)="modifyVolunteer()">ADD USERS</button>
      </section>
    </div>
    <table class="table">
      <thead class="thead-light">
        <th scope="col">LAST NAME</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">BCEID</th>
        <!-- <th scope="col">RESTRICTED FILES</th> -->
        <th scope="col">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let volunteer of resultsAndPagination.data">
          <td>{{volunteer.lastName}}</td>
          <td>{{volunteer.firstName}}</td>
          <td>{{volunteer.bceidAccountNumber}}</td>
          <td>
            <a href="javascript:void(0)" (click)="modifyVolunteer(volunteer.id)">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination area -->
    <div class="col clearfix" *ngIf="resultsAndPagination?.metadata?.totalPages > 1">
      <div class="float-right">
        <app-paginator [metaData]="resultsAndPagination.metadata" (params)="onPaginationEvent($event)"></app-paginator>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="modifyVolunteer()">ADD USERS</button>
    </div>
  </ng-template>

  <ng-template #notFound>
    <p>
      {{notFoundMessage}}
    </p>
  </ng-template>
</div>

<!-- Alert to confirm editing user details -->
<ng-template #viewAlert let-modal>
  <div class="modal-header">
    <h1 class="modal-title h2">Alert</h1>
    <button type="button" class="close" aria-label="Close" (click)="confirmModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>
      You are requesting to edit user details.<br>
      Are you sure you want to do this?
    </p>

    <div class="mt-4 space-between">
      <a href="javascript:void(0)" (click)="confirmModal.dismiss()">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a>
      <button class="btn btn-primary float-right" (click)="confirmModal.close()">YES</button>
    </div>
  </div>
</ng-template>
