<div *ngIf="maker">
  <form novalidate [formGroup]="form">
    <div class="mb-4">
      <h1>{{ pageTitle }}</h1>

      <p>
        The Emergency Coordination Centre is responsible for adding task numbers to the system.
      </p>

      <small>All fields are required</small>
      <h3 class="blue-header mt-0">Task Details</h3>

      <div class="row">
        <div class="col mb-4">
          <label class="required" for="taskNumber">Task Number</label>
          <input type="text" class="form-control" [class.is-invalid]="invalid('taskNumber')" formControlName="taskNumber" id="taskNumber">
          <span class="invalid-feedback">Please enter a task number</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <label class="required" for="community">Support Community</label>
          <app-communities-select [class.is-invalid]="invalid('community')" [myParent]="form" myFormControlName="community" myId="community" [myRequired]="true"></app-communities-select>
          <span class="invalid-feedback">Please select a community/region from the dropdown list where the incident took place</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <label class="">Task Number Start Date &amp; Time</label>
          <div class="bott-pad-med">Start date is set to the current date and time, this can be changed if needed.</div>
          <app-date-time-picker [class.is-invalid]="invalid('taskNumberStartDate')" formControlName="taskNumberStartDate"></app-date-time-picker>
          <span class="invalid-feedback" *ngIf="f.taskNumberStartDate.errors?.required">Please enter a valid date and time for the task number</span>
          <span class="invalid-feedback" *ngIf="f.taskNumberStartDate.errors?.maxDate">Date for the task number must be today or in the past</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <label class="required">Task Number End Date &amp; Time</label>
          <div class="bott-pad-med">
            <div>
              End date and time is set to 72 hours plus an 8 hour buffer (a total of 80 hours) after the task start date.
            </div>
            <div>
              Task number end date can be overridden, if needed.
            </div>
          </div>
          <!--Read only-->
          <div class="strong" *ngIf="!this.endDateOverride">
            {{f.taskNumberEndDate.value | date : 'MMM-dd-yyyy'}} at {{f.taskNumberEndDate.value | date : "HH:mm"}}
            &nbsp;
            <a href="javascript:void(0)" (click)="toggleOverride()">
              <app-font-awesome-icon icon="times"></app-font-awesome-icon>
              <span class="ml-2">Override end time</span>
            </a>
          </div>
          <!--Edit-->
          <div *ngIf="this.endDateOverride">
            <app-date-time-picker [class.is-invalid]="invalid('taskNumberEndDate')" formControlName="overrideDate"></app-date-time-picker>
            <div style="display: inline-block;">
              <button class="btn btn-primary" (click)="updateEndDate()">UPDATE</button>
              &nbsp;
              <button class="btn btn-outline-secondary" (click)="toggleOverride()">CANCEL</button>
            </div>
            <span class="invalid-feedback" *ngIf="f.taskNumberEndDate.errors?.required">Please enter a valid date and time for the task number</span>
            <span class="invalid-feedback" *ngIf="f.taskNumberEndDate.errors?.minDate">Date for the task number end date must be at least 80 hours from the start date</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <label class="required" for="details">Details of Incident</label>
          <textarea class="form-control" [class.is-invalid]="invalid('details')" placeholder="Please specify" formControlName="details" id="details" rows="4"></textarea>
          <span class="invalid-feedback">Please enter incident details</span>
        </div>
      </div>
    </div>

    <div *ngIf="showErrorsWhen && !form.valid" class="text-danger">
      <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon>
      &nbsp;Some required fields have not been completed.
    </div>

    <div class="mt-5 space-between">
      <section>
        <a href="javascript:void(0)" (click)="cancel()">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
      </section>
      <section>
        <button type="button" class="btn btn-primary float-right text-uppercase" (click)="next()">Next</button>
      </section>
    </div>
  </form>
</div>

<!-- TODO Need yellow horizontal rule -->
<div *ngIf="!maker">
  <div class="mb-4">
    <h1>Review Details</h1>
    <p>Please confirm that all details you entered are correct by reading through the summary below.</p>
    <section class="p-3">
      <h3>Task Details</h3>
      <ul class="summary">
        <li>
          <span class="name">Task Number:</span>
          <span class="value">{{incidentTask.taskNumber}}</span>
        </li>
        <li>
          <span class="name">Support Community:</span>
          <span class="value">{{incidentTask.community.name}}</span>
        </li>
        <li>
          <span class="name">Task Number Start Date &amp; Time:</span>
          <span class="value">{{incidentTask.taskNumberStartDate | dateTimeFormatPipe}}</span>
        </li>
        <li>
          <span class="name">Task Number End Date &amp; Time:</span>
          <span class="value">{{incidentTask.taskNumberEndDate | dateTimeFormatPipe}}</span>
        </li>
        <li>
          <span class="name">Details of Incident:</span>
          <span [innerHTML]="incidentTask.details|newlines" class="value"></span>
        </li>
      </ul>
    </section>
  </div>
  <div class="mt-5 space-between">
    <section>
      <button type="button" class="btn btn-outline-primary text-uppercase" (click)="back()">Edit Task Details</button>
    </section>
    <section>
      <button type="button" *ngIf="submitting" class="btn btn-primary text-uppercase" disabled>
        <span>Submitting</span>
      </button>
      <button type="button" *ngIf="!submitting" class="btn btn-primary text-uppercase" (click)="submit()">
        <span>Save Task</span>
      </button>
    </section>
  </div>
</div>
