.vertical-spacer {
  padding-top: 34px; // we need this to align the DATE field with the time picker
}

// to make 'invalid-feedback' message visible after custom component
app-communities-select,
app-date-time-picker {
  &.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }
}
