<div class="row">
  <div class="col col-lg-8">
    <app-useful-information-content></app-useful-information-content>
  </div>
  <!-- Information side bar -->
  <div class="col-12 col-lg-4">
    <app-add-evacuee></app-add-evacuee>
    <app-side-box title="Useful Information" icon="description">
      <section role="content">
        <p>
          Lost your password?
        </p>
        <p>
          Contact your Emergency Support Services Director or the Local Authority for assistance.
        </p>
        <!-- <section role="footer">
            <a class="btn btn-primary" href="tel:1-800-663-3456">1-800-663-3456</a>
          </section> -->
      </section>
    </app-side-box>
  </div>
</div>