<div class="mb-4">
  <h1>List of Organizations &amp; Users</h1>

  <p class="pb-3">
    Use this page to view organizations and users that are currently registered in the system. If you are unable to find
    an organization or a user, please add them.
  </p>

  <h3 class="blue-header">Organizations &amp; Users List</h3>

  <div role="search" class="form-row">
    <div class="col-md-9">
      <input #searchbox type="text" aria-label="search" class="form-control mb-2"
        placeholder="Search for community &hellip;" (keydown.enter)="filter(searchbox.value)">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary float-right" (click)="filter(searchbox.value)">Filter</button>
    </div>
  </div>
  <div class="search-results mt-5">
    <div *ngIf="metaOrganizations && metaOrganizations.data.length > 0; then searchResultsTable; else notFound"></div>
  </div>

  <ng-template #searchResultsTable>
    <div class="space-between my-3">
      <section>
        {{metaOrganizations.metadata.page * metaOrganizations.metadata.pageSize}} -
        {{metaOrganizations.metadata.pageSize}} of
        {{metaOrganizations.metadata.totalCount}} <span class="font-weight-bold">ACTIVE</span>
        organizations <small class="ml-3">(<a href="">show deactivated</a>)</small>
      </section>
      <section>
        <button class="btn btn-primary" routerLink="../organization">ADD ORGANIZATION</button>
      </section>
    </div>

    <table class="table">
      <thead class="thead-light">
        <th scope="col">NAME</th>
        <th scope="col">ADMIN BCeID USER ID</th>
        <th scope="col">REGION / COMMUNITY</th>
        <th scope="col">PRIMARY CONTACT</th>
        <th scope="col">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let organization of metaOrganizations.data">
          <td>{{organization.name}}</td>
          <td>{{organization.adminBCeID}}</td>
          <td>{{organization.community.name}}</td>
          <td>{{organization.adminLastName}}, {{organization.adminFirstName}}</td>
          <td>
            <a [routerLink]="" (click)="routeTo(organization.id)">View / Add Users</a>
            <br>
            <a [routerLink]="" (click)="routeTo(organization.id)">Edit Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #notFound>
    <p>
      {{notFoundMessage}}
    </p>
  </ng-template>
</div>