<div class="mb-4">
  <h1>List of Organizations &amp; Users</h1>
  <p>
    Use this page to view organizations and users that are currently registered in the system. If you are unable to find an organization or a user, please add them.</p>
  <h3 class="blue-header">ORGANIZATIONS &amp; USERS LIST</h3>

  <div role="search" class="form-row">
    <div class="col-md-9">
      <input #searchbox type="text" aria-label="search" class="form-control mb-2" placeholder="Search for user by last name &hellip;" (keydown.enter)="search(searchbox.value)">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="search(searchbox.value)">Search</button>
    </div>
  </div>
  <div class="search-results mt-4">
    <div *ngIf="metaOrganizations && metaOrganizations.data.length>0; then searchResultsTable; else notFound"></div>
  </div>

  <!-- TODO: <a class="small" href="">advanced search</a> -->
  <!-- TODO: show icons for HOH, RESTRICTED FILE -->
  <!-- <pre>{{metaOrganizations|json}}</pre> -->
</div>
<!-- The start of the table stuff. -->


<ng-template #searchResultsTable>
  <!-- <p> {{metaOrganizations.metadata.page*metaOrganizations.metadata.pageSize}} - {{metaOrganizations.metadata.pageSize}} of
        {{metaOrganizations.metadata.totalCount}} <span class="font-weight-bold">ACTIVE</span>
        organizations
        <small class="ml-3">(<a href="">show deactivated</a>)</small>
      </p> -->
  <table class="table">
    <thead class="thead-light">
      <th scope="col">NAME</th>
      <th scope="col">ADMIN BCeID USER ID</th>
      <th scope="col">
        REGION / COMMUNITY</th>
      <!-- <th scope="col">PRIMARY CONTACT</th> -->
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor="let organization of metaOrganizations.data">
        <td>{{organization.name}}</td>
        <td>{{organization.bceidAccountNumber}}</td>
        <td>{{organization.community.name}}</td>
        <!-- <td>Primary contact name</td> -->
        <td>
          <a [routerLink]="" (click)="routeTo(organization.id)">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #notFound>
  <p>
    {{notFoundMessage}}
  </p>
</ng-template>