<div [formGroup]="form">
  <h2 class="step">STEP 2</h2>
  <h1 class="mt-0">Register as an Evacuee</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu
    a fringilla.</p>

  <h3 class="blue-header">ADDITIONAL INFORMATION</h3>
  <section class="padded-section">
    <p>Do you have any dietary requirements?</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="true" formControlName="dietaryNeeds">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="false" formControlName="dietaryNeeds">
        <label class="form-check-label">No</label>
      </div>
    </div>

    <p>Do you (or anyone registering with you) take medication?</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="true" formControlName="familyMemberTakesMedication">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="false" formControlName="familyMemberTakesMedication">
        <label class="form-check-label">No</label>
      </div>
    </div>

    <p>Do you have any pets with you?</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="true" formControlName="hasPets">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="false" formControlName="hasPets">
        <label class="form-check-label">No</label>
      </div>
    </div>
  </section>

  <h3 class="blue-header">INSURANCE</h3>
  <section class="padded-section">
    <p>Do you have insurance to cover your immediate needs?</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" value="1" formControlName="insuranceCode">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="2" formControlName="insuranceCode">
        <label class="form-check-label">Yes, but I'm not sure if I have coverage for this event</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="3" formControlName="insuranceCode">
        <label class="form-check-label">No</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="4" formControlName="insuranceCode">
        <label class="form-check-label">I don't know</label>
      </div>
    </div>
  </section>

  <h3 class="blue-header">NEXT STEPS</h3>
  <section class="padded-section">
    <p>While you are evacuated do you require supports?</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="true" formControlName="requiresSupport">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="false" formControlName="requiresSupport">
        <label class="form-check-label">No</label>
      </div>
    </div>
    <div *ngIf="ui.showAvailableServices()" class="feature-block">
      <p>Check the following that applies:</p>
      <div class="support-services__list padded-section">
        <div class="support-services__item">
          <div class="row">
            <div class="form-check col-md-6">
              <input class="form-check-input" type="checkbox" formControlName="requiresFood">
              <label class="form-check-label">Food</label>
            </div>
          </div>
          <div class="row">
            <div class="form-check col-md-6">
              <input class="form-check-input" type="checkbox" formControlName="requiresClothing">
              <label class="form-check-label">Clothing</label>
            </div>
          </div>
          <div class="row">
            <div class="form-check col-md-6">
              <input class="form-check-input" type="checkbox" formControlName="requiresAccommodation">
              <label class="form-check-label">Accommodation</label>
            </div>
          </div>
          <div class="row">
            <div class="form-check col-md-6">
              <input class="form-check-input" type="checkbox" formControlName="requiresIncidentals">
              <label class="form-check-label">Incidentals</label>
            </div>
          </div>
          <div class="row">
            <div class="form-check col-md-6">
              <input class="form-check-input" type="checkbox" formControlName="requiresTransportation">
              <label class="form-check-label">Transportation</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="mt-5 space-between">
    <section>
      <button class="btn btn-secondary" (click)="back()">BACK</button>
    </section>
    <section>
      <a [routerLink]="">
        <i class="fa fa-times" style="margin-right: 5px"></i>Cancel &amp; Close
      </a>
      <button class="btn btn-primary ml-4" (click)="next()">NEXT</button>
    </section>
  </div>
</div>

<div class="mt-5">
  <h4>Form State</h4>
  <pre>{{ this.form.value | json }}</pre>
</div>

<div class="mt-5">
  <h4>Current Registration</h4>
  <pre>{{ this.registration | json }}</pre>
</div>
