{
  "swagger": "2.0",
  "info": {
    "title": "OData Service for namespace Microsoft.Dynamics.CRM",
    "description": "This OData service is located at https://bcessdev.api.crm3.dynamics.com/api/data/v8.2/",
    "version": "1.0.1"
  },
  "host": "bcessdev.api.crm3.dynamics.com",
  "basePath": "/api/data/v8.2/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get entities from accounts",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "address2_line1",
                "address2_line1 desc",
                "territorycode",
                "territorycode desc",
                "accountid",
                "accountid desc",
                "address1_telephone1",
                "address1_telephone1 desc",
                "address1_postofficebox",
                "address1_postofficebox desc",
                "openrevenue",
                "openrevenue desc",
                "marketcap",
                "marketcap desc",
                "address2_freighttermscode",
                "address2_freighttermscode desc",
                "address1_name",
                "address1_name desc",
                "emailaddress3",
                "emailaddress3 desc",
                "address1_telephone3",
                "address1_telephone3 desc",
                "address2_county",
                "address2_county desc",
                "createdon",
                "createdon desc",
                "numberofemployees",
                "numberofemployees desc",
                "address1_line2",
                "address1_line2 desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "timespentbymeonemailandmeetings",
                "timespentbymeonemailandmeetings desc",
                "yominame",
                "yominame desc",
                "address2_longitude",
                "address2_longitude desc",
                "ownershipcode",
                "ownershipcode desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "primarysatoriid",
                "primarysatoriid desc",
                "_masterid_value",
                "_masterid_value desc",
                "address1_telephone2",
                "address1_telephone2 desc",
                "address2_fax",
                "address2_fax desc",
                "_slaid_value",
                "_slaid_value desc",
                "aging60_base",
                "aging60_base desc",
                "telephone1",
                "telephone1 desc",
                "accountcategorycode",
                "accountcategorycode desc",
                "entityimage",
                "entityimage desc",
                "revenue",
                "revenue desc",
                "emailaddress1",
                "emailaddress1 desc",
                "address1_latitude",
                "address1_latitude desc",
                "_transactioncurrencyid_value",
                "_transactioncurrencyid_value desc",
                "tickersymbol",
                "tickersymbol desc",
                "address2_shippingmethodcode",
                "address2_shippingmethodcode desc",
                "opendeals",
                "opendeals desc",
                "address2_telephone1",
                "address2_telephone1 desc",
                "address2_name",
                "address2_name desc",
                "accountnumber",
                "accountnumber desc",
                "address1_stateorprovince",
                "address1_stateorprovince desc",
                "address1_line3",
                "address1_line3 desc",
                "industrycode",
                "industrycode desc",
                "accountratingcode",
                "accountratingcode desc",
                "address1_line1",
                "address1_line1 desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "paymenttermscode",
                "paymenttermscode desc",
                "fax",
                "fax desc",
                "businesstypecode",
                "businesstypecode desc",
                "address2_line3",
                "address2_line3 desc",
                "opendeals_state",
                "opendeals_state desc",
                "donotphone",
                "donotphone desc",
                "exchangerate",
                "exchangerate desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "ftpsiteurl",
                "ftpsiteurl desc",
                "shippingmethodcode",
                "shippingmethodcode desc",
                "stockexchange",
                "stockexchange desc",
                "address2_telephone3",
                "address2_telephone3 desc",
                "openrevenue_date",
                "openrevenue_date desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "aging60",
                "aging60 desc",
                "participatesinworkflow",
                "participatesinworkflow desc",
                "address1_postalcode",
                "address1_postalcode desc",
                "address2_addressid",
                "address2_addressid desc",
                "donotpostalmail",
                "donotpostalmail desc",
                "address2_addresstypecode",
                "address2_addresstypecode desc",
                "aging90",
                "aging90 desc",
                "aging30",
                "aging30 desc",
                "entityimage_url",
                "entityimage_url desc",
                "sharesoutstanding",
                "sharesoutstanding desc",
                "address2_latitude",
                "address2_latitude desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "stageid",
                "stageid desc",
                "versionnumber",
                "versionnumber desc",
                "preferredappointmenttimecode",
                "preferredappointmenttimecode desc",
                "address2_composite",
                "address2_composite desc",
                "aging90_base",
                "aging90_base desc",
                "address1_fax",
                "address1_fax desc",
                "_originatingleadid_value",
                "_originatingleadid_value desc",
                "merged",
                "merged desc",
                "address1_city",
                "address1_city desc",
                "description",
                "description desc",
                "address2_stateorprovince",
                "address2_stateorprovince desc",
                "donotfax",
                "donotfax desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "address1_country",
                "address1_country desc",
                "donotemail",
                "donotemail desc",
                "_slainvokedid_value",
                "_slainvokedid_value desc",
                "address1_primarycontactname",
                "address1_primarycontactname desc",
                "onholdtime",
                "onholdtime desc",
                "_createdbyexternalparty_value",
                "_createdbyexternalparty_value desc",
                "creditlimit_base",
                "creditlimit_base desc",
                "marketingonly",
                "marketingonly desc",
                "statuscode",
                "statuscode desc",
                "traversedpath",
                "traversedpath desc",
                "processid",
                "processid desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "_modifiedbyexternalparty_value",
                "_modifiedbyexternalparty_value desc",
                "address2_postalcode",
                "address2_postalcode desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "address1_shippingmethodcode",
                "address1_shippingmethodcode desc",
                "_createdby_value",
                "_createdby_value desc",
                "entityimage_timestamp",
                "entityimage_timestamp desc",
                "donotbulkemail",
                "donotbulkemail desc",
                "address2_primarycontactname",
                "address2_primarycontactname desc",
                "donotsendmm",
                "donotsendmm desc",
                "primarytwitterid",
                "primarytwitterid desc",
                "_preferredserviceid_value",
                "_preferredserviceid_value desc",
                "customertypecode",
                "customertypecode desc",
                "opendeals_date",
                "opendeals_date desc",
                "address2_postofficebox",
                "address2_postofficebox desc",
                "statecode",
                "statecode desc",
                "address2_city",
                "address2_city desc",
                "address2_utcoffset",
                "address2_utcoffset desc",
                "_primarycontactid_value",
                "_primarycontactid_value desc",
                "address1_freighttermscode",
                "address1_freighttermscode desc",
                "address1_longitude",
                "address1_longitude desc",
                "customersizecode",
                "customersizecode desc",
                "openrevenue_base",
                "openrevenue_base desc",
                "telephone2",
                "telephone2 desc",
                "address1_addresstypecode",
                "address1_addresstypecode desc",
                "donotbulkpostalmail",
                "donotbulkpostalmail desc",
                "lastusedincampaign",
                "lastusedincampaign desc",
                "_preferredsystemuserid_value",
                "_preferredsystemuserid_value desc",
                "telephone3",
                "telephone3 desc",
                "address1_addressid",
                "address1_addressid desc",
                "preferredappointmentdaycode",
                "preferredappointmentdaycode desc",
                "websiteurl",
                "websiteurl desc",
                "accountclassificationcode",
                "accountclassificationcode desc",
                "_defaultpricelevelid_value",
                "_defaultpricelevelid_value desc",
                "name",
                "name desc",
                "sic",
                "sic desc",
                "_preferredequipmentid_value",
                "_preferredequipmentid_value desc",
                "creditlimit",
                "creditlimit desc",
                "lastonholdtime",
                "lastonholdtime desc",
                "address2_line2",
                "address2_line2 desc",
                "creditonhold",
                "creditonhold desc",
                "entityimageid",
                "entityimageid desc",
                "aging30_base",
                "aging30_base desc",
                "address1_composite",
                "address1_composite desc",
                "_territoryid_value",
                "_territoryid_value desc",
                "followemail",
                "followemail desc",
                "address1_upszone",
                "address1_upszone desc",
                "modifiedon",
                "modifiedon desc",
                "address1_county",
                "address1_county desc",
                "openrevenue_state",
                "openrevenue_state desc",
                "marketcap_base",
                "marketcap_base desc",
                "address2_upszone",
                "address2_upszone desc",
                "address2_country",
                "address2_country desc",
                "address1_utcoffset",
                "address1_utcoffset desc",
                "emailaddress2",
                "emailaddress2 desc",
                "_parentaccountid_value",
                "_parentaccountid_value desc",
                "preferredcontactmethodcode",
                "preferredcontactmethodcode desc",
                "revenue_base",
                "revenue_base desc",
                "address2_telephone2",
                "address2_telephone2 desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "address2_line1",
                "territorycode",
                "accountid",
                "address1_telephone1",
                "address1_postofficebox",
                "openrevenue",
                "marketcap",
                "address2_freighttermscode",
                "address1_name",
                "emailaddress3",
                "address1_telephone3",
                "address2_county",
                "createdon",
                "numberofemployees",
                "address1_line2",
                "_owningbusinessunit_value",
                "timespentbymeonemailandmeetings",
                "yominame",
                "address2_longitude",
                "ownershipcode",
                "timezoneruleversionnumber",
                "primarysatoriid",
                "_masterid_value",
                "address1_telephone2",
                "address2_fax",
                "_slaid_value",
                "aging60_base",
                "telephone1",
                "accountcategorycode",
                "entityimage",
                "revenue",
                "emailaddress1",
                "address1_latitude",
                "_transactioncurrencyid_value",
                "tickersymbol",
                "address2_shippingmethodcode",
                "opendeals",
                "address2_telephone1",
                "address2_name",
                "accountnumber",
                "address1_stateorprovince",
                "address1_line3",
                "industrycode",
                "accountratingcode",
                "address1_line1",
                "importsequencenumber",
                "paymenttermscode",
                "fax",
                "businesstypecode",
                "address2_line3",
                "opendeals_state",
                "donotphone",
                "exchangerate",
                "_ownerid_value",
                "_modifiedonbehalfby_value",
                "utcconversiontimezonecode",
                "ftpsiteurl",
                "shippingmethodcode",
                "stockexchange",
                "address2_telephone3",
                "openrevenue_date",
                "_owningteam_value",
                "aging60",
                "participatesinworkflow",
                "address1_postalcode",
                "address2_addressid",
                "donotpostalmail",
                "address2_addresstypecode",
                "aging90",
                "aging30",
                "entityimage_url",
                "sharesoutstanding",
                "address2_latitude",
                "_owninguser_value",
                "stageid",
                "versionnumber",
                "preferredappointmenttimecode",
                "address2_composite",
                "aging90_base",
                "address1_fax",
                "_originatingleadid_value",
                "merged",
                "address1_city",
                "description",
                "address2_stateorprovince",
                "donotfax",
                "overriddencreatedon",
                "address1_country",
                "donotemail",
                "_slainvokedid_value",
                "address1_primarycontactname",
                "onholdtime",
                "_createdbyexternalparty_value",
                "creditlimit_base",
                "marketingonly",
                "statuscode",
                "traversedpath",
                "processid",
                "_createdonbehalfby_value",
                "_modifiedbyexternalparty_value",
                "address2_postalcode",
                "_modifiedby_value",
                "address1_shippingmethodcode",
                "_createdby_value",
                "entityimage_timestamp",
                "donotbulkemail",
                "address2_primarycontactname",
                "donotsendmm",
                "primarytwitterid",
                "_preferredserviceid_value",
                "customertypecode",
                "opendeals_date",
                "address2_postofficebox",
                "statecode",
                "address2_city",
                "address2_utcoffset",
                "_primarycontactid_value",
                "address1_freighttermscode",
                "address1_longitude",
                "customersizecode",
                "openrevenue_base",
                "telephone2",
                "address1_addresstypecode",
                "donotbulkpostalmail",
                "lastusedincampaign",
                "_preferredsystemuserid_value",
                "telephone3",
                "address1_addressid",
                "preferredappointmentdaycode",
                "websiteurl",
                "accountclassificationcode",
                "_defaultpricelevelid_value",
                "name",
                "sic",
                "_preferredequipmentid_value",
                "creditlimit",
                "lastonholdtime",
                "address2_line2",
                "creditonhold",
                "entityimageid",
                "aging30_base",
                "address1_composite",
                "_territoryid_value",
                "followemail",
                "address1_upszone",
                "modifiedon",
                "address1_county",
                "openrevenue_state",
                "marketcap_base",
                "address2_upszone",
                "address2_country",
                "address1_utcoffset",
                "emailaddress2",
                "_parentaccountid_value",
                "preferredcontactmethodcode",
                "revenue_base",
                "address2_telephone2"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "lead_customer_accounts",
                "accountleads_association",
                "lead_parent_account",
                "originatingleadid",
                "defaultpricelevelid",
                "account_bookableresource_AccountId",
                "account_BulkOperations",
                "account_CampaignResponses",
                "CreatedAccount_BulkOperationLogs2",
                "SourceAccount_BulkOperationLogs",
                "listaccount_association",
                "account_IncidentResolutions",
                "Account_ServiceAppointments",
                "contractlineitem_customer_accounts",
                "contract_billingcustomer_accounts",
                "contract_customer_accounts",
                "incident_customer_accounts",
                "account_entitlement_Account",
                "account_entitlement_Customer",
                "preferredequipmentid",
                "preferredserviceid",
                "account_OpportunityCloses",
                "account_OrderCloses",
                "account_QuoteCloses",
                "invoice_customer_accounts",
                "opportunity_customer_accounts",
                "order_customer_accounts",
                "quote_customer_accounts",
                "opportunity_parent_account",
                "territoryid",
                "account_principalobjectattributeaccess",
                "ownerid",
                "Account_ActivityPointers",
                "Account_SyncErrors",
                "createdby",
                "Account_Email_SendersAccount",
                "Account_Email_EmailSender",
                "Account_Annotation",
                "Account_SharepointDocumentLocation",
                "sla_account_sla",
                "account_connections2",
                "modifiedby",
                "account_PostFollows",
                "account_PostRegardings",
                "Account_ProcessSessions",
                "Account_Faxes",
                "masterid",
                "account_master_account",
                "owningbusinessunit",
                "Account_AsyncOperations",
                "transactioncurrencyid",
                "Account_DuplicateBaseRecord",
                "preferredsystemuserid",
                "createdonbehalfby",
                "Account_RecurringAppointmentMasters",
                "Account_Phonecalls",
                "primarycontactid",
                "Account_SocialActivities",
                "Account_MailboxTrackingFolder",
                "SocialActivity_PostAuthorAccount_accounts",
                "Account_CustomerAddress",
                "slakpiinstance_account",
                "Account_Tasks",
                "slainvokedid_account_sla",
                "Account_BulkDeleteFailures",
                "SocialActivity_PostAuthor_accounts",
                "contact_customer_accounts",
                "Account_Appointments",
                "Account_Emails",
                "parentaccountid",
                "account_parent_account",
                "Socialprofile_customer_accounts",
                "Account_DuplicateMatchingRecord",
                "account_activity_parties",
                "account_connections1",
                "owningteam",
                "account_actioncard",
                "owninguser",
                "Account_Letters",
                "stageid_processstage",
                "modifiedonbehalfby"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of accounts",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Add new entity to accounts",
        "operationId": "Accounts_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/accounts({accountid})": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get entity from accounts by key",
        "operationId": "Accounts_GetByKey",
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "description": "key: accountid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "address2_line1",
                "territorycode",
                "accountid",
                "address1_telephone1",
                "address1_postofficebox",
                "openrevenue",
                "marketcap",
                "address2_freighttermscode",
                "address1_name",
                "emailaddress3",
                "address1_telephone3",
                "address2_county",
                "createdon",
                "numberofemployees",
                "address1_line2",
                "_owningbusinessunit_value",
                "timespentbymeonemailandmeetings",
                "yominame",
                "address2_longitude",
                "ownershipcode",
                "timezoneruleversionnumber",
                "primarysatoriid",
                "_masterid_value",
                "address1_telephone2",
                "address2_fax",
                "_slaid_value",
                "aging60_base",
                "telephone1",
                "accountcategorycode",
                "entityimage",
                "revenue",
                "emailaddress1",
                "address1_latitude",
                "_transactioncurrencyid_value",
                "tickersymbol",
                "address2_shippingmethodcode",
                "opendeals",
                "address2_telephone1",
                "address2_name",
                "accountnumber",
                "address1_stateorprovince",
                "address1_line3",
                "industrycode",
                "accountratingcode",
                "address1_line1",
                "importsequencenumber",
                "paymenttermscode",
                "fax",
                "businesstypecode",
                "address2_line3",
                "opendeals_state",
                "donotphone",
                "exchangerate",
                "_ownerid_value",
                "_modifiedonbehalfby_value",
                "utcconversiontimezonecode",
                "ftpsiteurl",
                "shippingmethodcode",
                "stockexchange",
                "address2_telephone3",
                "openrevenue_date",
                "_owningteam_value",
                "aging60",
                "participatesinworkflow",
                "address1_postalcode",
                "address2_addressid",
                "donotpostalmail",
                "address2_addresstypecode",
                "aging90",
                "aging30",
                "entityimage_url",
                "sharesoutstanding",
                "address2_latitude",
                "_owninguser_value",
                "stageid",
                "versionnumber",
                "preferredappointmenttimecode",
                "address2_composite",
                "aging90_base",
                "address1_fax",
                "_originatingleadid_value",
                "merged",
                "address1_city",
                "description",
                "address2_stateorprovince",
                "donotfax",
                "overriddencreatedon",
                "address1_country",
                "donotemail",
                "_slainvokedid_value",
                "address1_primarycontactname",
                "onholdtime",
                "_createdbyexternalparty_value",
                "creditlimit_base",
                "marketingonly",
                "statuscode",
                "traversedpath",
                "processid",
                "_createdonbehalfby_value",
                "_modifiedbyexternalparty_value",
                "address2_postalcode",
                "_modifiedby_value",
                "address1_shippingmethodcode",
                "_createdby_value",
                "entityimage_timestamp",
                "donotbulkemail",
                "address2_primarycontactname",
                "donotsendmm",
                "primarytwitterid",
                "_preferredserviceid_value",
                "customertypecode",
                "opendeals_date",
                "address2_postofficebox",
                "statecode",
                "address2_city",
                "address2_utcoffset",
                "_primarycontactid_value",
                "address1_freighttermscode",
                "address1_longitude",
                "customersizecode",
                "openrevenue_base",
                "telephone2",
                "address1_addresstypecode",
                "donotbulkpostalmail",
                "lastusedincampaign",
                "_preferredsystemuserid_value",
                "telephone3",
                "address1_addressid",
                "preferredappointmentdaycode",
                "websiteurl",
                "accountclassificationcode",
                "_defaultpricelevelid_value",
                "name",
                "sic",
                "_preferredequipmentid_value",
                "creditlimit",
                "lastonholdtime",
                "address2_line2",
                "creditonhold",
                "entityimageid",
                "aging30_base",
                "address1_composite",
                "_territoryid_value",
                "followemail",
                "address1_upszone",
                "modifiedon",
                "address1_county",
                "openrevenue_state",
                "marketcap_base",
                "address2_upszone",
                "address2_country",
                "address1_utcoffset",
                "emailaddress2",
                "_parentaccountid_value",
                "preferredcontactmethodcode",
                "revenue_base",
                "address2_telephone2"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "lead_customer_accounts",
                "accountleads_association",
                "lead_parent_account",
                "originatingleadid",
                "defaultpricelevelid",
                "account_bookableresource_AccountId",
                "account_BulkOperations",
                "account_CampaignResponses",
                "CreatedAccount_BulkOperationLogs2",
                "SourceAccount_BulkOperationLogs",
                "listaccount_association",
                "account_IncidentResolutions",
                "Account_ServiceAppointments",
                "contractlineitem_customer_accounts",
                "contract_billingcustomer_accounts",
                "contract_customer_accounts",
                "incident_customer_accounts",
                "account_entitlement_Account",
                "account_entitlement_Customer",
                "preferredequipmentid",
                "preferredserviceid",
                "account_OpportunityCloses",
                "account_OrderCloses",
                "account_QuoteCloses",
                "invoice_customer_accounts",
                "opportunity_customer_accounts",
                "order_customer_accounts",
                "quote_customer_accounts",
                "opportunity_parent_account",
                "territoryid",
                "account_principalobjectattributeaccess",
                "ownerid",
                "Account_ActivityPointers",
                "Account_SyncErrors",
                "createdby",
                "Account_Email_SendersAccount",
                "Account_Email_EmailSender",
                "Account_Annotation",
                "Account_SharepointDocumentLocation",
                "sla_account_sla",
                "account_connections2",
                "modifiedby",
                "account_PostFollows",
                "account_PostRegardings",
                "Account_ProcessSessions",
                "Account_Faxes",
                "masterid",
                "account_master_account",
                "owningbusinessunit",
                "Account_AsyncOperations",
                "transactioncurrencyid",
                "Account_DuplicateBaseRecord",
                "preferredsystemuserid",
                "createdonbehalfby",
                "Account_RecurringAppointmentMasters",
                "Account_Phonecalls",
                "primarycontactid",
                "Account_SocialActivities",
                "Account_MailboxTrackingFolder",
                "SocialActivity_PostAuthorAccount_accounts",
                "Account_CustomerAddress",
                "slakpiinstance_account",
                "Account_Tasks",
                "slainvokedid_account_sla",
                "Account_BulkDeleteFailures",
                "SocialActivity_PostAuthor_accounts",
                "contact_customer_accounts",
                "Account_Appointments",
                "Account_Emails",
                "parentaccountid",
                "account_parent_account",
                "Socialprofile_customer_accounts",
                "Account_DuplicateMatchingRecord",
                "account_activity_parties",
                "account_connections1",
                "owningteam",
                "account_actioncard",
                "owninguser",
                "Account_Letters",
                "stageid_processstage",
                "modifiedonbehalfby"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Delete entity from accounts",
        "operationId": "Accounts_Delete",
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "description": "key: accountid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "accounts"
        ],
        "summary": "Update entity in accounts",
        "operationId": "Accounts_Update",
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "description": "key: accountid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Get entities from contacts",
        "operationId": "Contacts_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "onholdtime",
                "onholdtime desc",
                "address3_latitude",
                "address3_latitude desc",
                "address1_longitude",
                "address1_longitude desc",
                "donotsendmm",
                "donotsendmm desc",
                "customersizecode",
                "customersizecode desc",
                "yomifullname",
                "yomifullname desc",
                "address2_name",
                "address2_name desc",
                "anniversary",
                "anniversary desc",
                "governmentid",
                "governmentid desc",
                "assistantname",
                "assistantname desc",
                "gov_alternatephone2",
                "gov_alternatephone2 desc",
                "creditlimit",
                "creditlimit desc",
                "gov_externalid",
                "gov_externalid desc",
                "participatesinworkflow",
                "participatesinworkflow desc",
                "timespentbymeonemailandmeetings",
                "timespentbymeonemailandmeetings desc",
                "followemail",
                "followemail desc",
                "aging60",
                "aging60 desc",
                "entityimage",
                "entityimage desc",
                "createdon",
                "createdon desc",
                "gov_referencecloseddate",
                "gov_referencecloseddate desc",
                "_gov_regionid_value",
                "_gov_regionid_value desc",
                "address2_line3",
                "address2_line3 desc",
                "suffix",
                "suffix desc",
                "exchangerate",
                "exchangerate desc",
                "annualincome_base",
                "annualincome_base desc",
                "address2_longitude",
                "address2_longitude desc",
                "address1_latitude",
                "address1_latitude desc",
                "address1_addresstypecode",
                "address1_addresstypecode desc",
                "emailaddress2",
                "emailaddress2 desc",
                "middlename",
                "middlename desc",
                "address2_county",
                "address2_county desc",
                "familystatuscode",
                "familystatuscode desc",
                "msdyn_orgchangestatus",
                "msdyn_orgchangestatus desc",
                "birthdate",
                "birthdate desc",
                "marketingonly",
                "marketingonly desc",
                "subscriptionid",
                "subscriptionid desc",
                "processid",
                "processid desc",
                "address2_latitude",
                "address2_latitude desc",
                "_parentcustomerid_value",
                "_parentcustomerid_value desc",
                "gov_additionalcomments",
                "gov_additionalcomments desc",
                "address3_telephone2",
                "address3_telephone2 desc",
                "address3_line2",
                "address3_line2 desc",
                "address2_telephone1",
                "address2_telephone1 desc",
                "haschildrencode",
                "haschildrencode desc",
                "address2_upszone",
                "address2_upszone desc",
                "traversedpath",
                "traversedpath desc",
                "modifiedon",
                "modifiedon desc",
                "leadsourcecode",
                "leadsourcecode desc",
                "pager",
                "pager desc",
                "aging90",
                "aging90 desc",
                "address3_line3",
                "address3_line3 desc",
                "gov_interviewerlastnameinitial",
                "gov_interviewerlastnameinitial desc",
                "_transactioncurrencyid_value",
                "_transactioncurrencyid_value desc",
                "gov_essfilenumber",
                "gov_essfilenumber desc",
                "merged",
                "merged desc",
                "address2_freighttermscode",
                "address2_freighttermscode desc",
                "versionnumber",
                "versionnumber desc",
                "emailaddress3",
                "emailaddress3 desc",
                "gov_isfamilymember",
                "gov_isfamilymember desc",
                "address1_county",
                "address1_county desc",
                "_masterid_value",
                "_masterid_value desc",
                "aging90_base",
                "aging90_base desc",
                "paymenttermscode",
                "paymenttermscode desc",
                "_preferredserviceid_value",
                "_preferredserviceid_value desc",
                "address2_primarycontactname",
                "address2_primarycontactname desc",
                "address2_composite",
                "address2_composite desc",
                "address1_addressid",
                "address1_addressid desc",
                "salutation",
                "salutation desc",
                "gov_isvolunteer",
                "gov_isvolunteer desc",
                "preferredcontactmethodcode",
                "preferredcontactmethodcode desc",
                "address2_utcoffset",
                "address2_utcoffset desc",
                "_gov_facilityid_value",
                "_gov_facilityid_value desc",
                "employeeid",
                "employeeid desc",
                "entityimage_url",
                "entityimage_url desc",
                "address3_shippingmethodcode",
                "address3_shippingmethodcode desc",
                "gov_age",
                "gov_age desc",
                "ftpsiteurl",
                "ftpsiteurl desc",
                "address1_name",
                "address1_name desc",
                "gov_isevacueehoh",
                "gov_isevacueehoh desc",
                "educationcode",
                "educationcode desc",
                "address1_line2",
                "address1_line2 desc",
                "address1_fax",
                "address1_fax desc",
                "msdyn_gdproptout",
                "msdyn_gdproptout desc",
                "lastusedincampaign",
                "lastusedincampaign desc",
                "yomifirstname",
                "yomifirstname desc",
                "callback",
                "callback desc",
                "address3_fax",
                "address3_fax desc",
                "address1_composite",
                "address1_composite desc",
                "_gov_communityid_value",
                "_gov_communityid_value desc",
                "gov_peptasknumber",
                "gov_peptasknumber desc",
                "address2_line1",
                "address2_line1 desc",
                "address3_primarycontactname",
                "address3_primarycontactname desc",
                "_parentcontactid_value",
                "_parentcontactid_value desc",
                "mobilephone",
                "mobilephone desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "aging30",
                "aging30 desc",
                "address1_telephone1",
                "address1_telephone1 desc",
                "jobtitle",
                "jobtitle desc",
                "websiteurl",
                "websiteurl desc",
                "address1_stateorprovince",
                "address1_stateorprovince desc",
                "address1_telephone2",
                "address1_telephone2 desc",
                "yomilastname",
                "yomilastname desc",
                "preferredappointmentdaycode",
                "preferredappointmentdaycode desc",
                "aging30_base",
                "aging30_base desc",
                "address2_addresstypecode",
                "address2_addresstypecode desc",
                "address3_line1",
                "address3_line1 desc",
                "_slaid_value",
                "_slaid_value desc",
                "address1_line1",
                "address1_line1 desc",
                "isbackofficecustomer",
                "isbackofficecustomer desc",
                "statuscode",
                "statuscode desc",
                "nickname",
                "nickname desc",
                "childrensnames",
                "childrensnames desc",
                "_preferredequipmentid_value",
                "_preferredequipmentid_value desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "gov_isfollowuprequired",
                "gov_isfollowuprequired desc",
                "gov_restriction",
                "gov_restriction desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "donotemail",
                "donotemail desc",
                "_accountid_value",
                "_accountid_value desc",
                "address1_freighttermscode",
                "address1_freighttermscode desc",
                "gov_islocalauthority",
                "gov_islocalauthority desc",
                "address1_city",
                "address1_city desc",
                "customertypecode",
                "customertypecode desc",
                "address1_shippingmethodcode",
                "address1_shippingmethodcode desc",
                "_createdby_value",
                "_createdby_value desc",
                "address1_utcoffset",
                "address1_utcoffset desc",
                "gov_isadmin",
                "gov_isadmin desc",
                "address2_telephone2",
                "address2_telephone2 desc",
                "annualincome",
                "annualincome desc",
                "yomimiddlename",
                "yomimiddlename desc",
                "stageid",
                "stageid desc",
                "gov_referenceessnumber",
                "gov_referenceessnumber desc",
                "donotbulkpostalmail",
                "donotbulkpostalmail desc",
                "gov_referencelastname",
                "gov_referencelastname desc",
                "numberofchildren",
                "numberofchildren desc",
                "_originatingleadid_value",
                "_originatingleadid_value desc",
                "telephone1",
                "telephone1 desc",
                "address2_shippingmethodcode",
                "address2_shippingmethodcode desc",
                "address2_stateorprovince",
                "address2_stateorprovince desc",
                "accountrolecode",
                "accountrolecode desc",
                "assistantphone",
                "assistantphone desc",
                "address3_stateorprovince",
                "address3_stateorprovince desc",
                "donotpostalmail",
                "donotpostalmail desc",
                "firstname",
                "firstname desc",
                "address3_name",
                "address3_name desc",
                "address2_country",
                "address2_country desc",
                "address1_upszone",
                "address1_upszone desc",
                "telephone2",
                "telephone2 desc",
                "address1_postalcode",
                "address1_postalcode desc",
                "address1_telephone3",
                "address1_telephone3 desc",
                "fax",
                "fax desc",
                "gendercode",
                "gendercode desc",
                "address3_telephone1",
                "address3_telephone1 desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "gov_alternatephone1",
                "gov_alternatephone1 desc",
                "gov_bceid",
                "gov_bceid desc",
                "_gov_volunteerid_value",
                "_gov_volunteerid_value desc",
                "address2_postofficebox",
                "address2_postofficebox desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "telephone3",
                "telephone3 desc",
                "emailaddress1",
                "emailaddress1 desc",
                "lastonholdtime",
                "lastonholdtime desc",
                "address1_country",
                "address1_country desc",
                "statecode",
                "statecode desc",
                "territorycode",
                "territorycode desc",
                "_preferredsystemuserid_value",
                "_preferredsystemuserid_value desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "address3_county",
                "address3_county desc",
                "fullname",
                "fullname desc",
                "gov_filedate",
                "gov_filedate desc",
                "externaluseridentifier",
                "externaluseridentifier desc",
                "_modifiedbyexternalparty_value",
                "_modifiedbyexternalparty_value desc",
                "description",
                "description desc",
                "address1_line3",
                "address1_line3 desc",
                "company",
                "company desc",
                "address2_postalcode",
                "address2_postalcode desc",
                "donotfax",
                "donotfax desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "address2_fax",
                "address2_fax desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "gov_referencefirstname",
                "gov_referencefirstname desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "_slainvokedid_value",
                "_slainvokedid_value desc",
                "lastname",
                "lastname desc",
                "address3_addresstypecode",
                "address3_addresstypecode desc",
                "address1_primarycontactname",
                "address1_primarycontactname desc",
                "managername",
                "managername desc",
                "contactid",
                "contactid desc",
                "preferredappointmenttimecode",
                "preferredappointmenttimecode desc",
                "address3_telephone3",
                "address3_telephone3 desc",
                "spousesname",
                "spousesname desc",
                "department",
                "department desc",
                "business2",
                "business2 desc",
                "address2_addressid",
                "address2_addressid desc",
                "creditlimit_base",
                "creditlimit_base desc",
                "managerphone",
                "managerphone desc",
                "gov_interviewerfirstname",
                "gov_interviewerfirstname desc",
                "aging60_base",
                "aging60_base desc",
                "_defaultpricelevelid_value",
                "_defaultpricelevelid_value desc",
                "donotphone",
                "donotphone desc",
                "address3_composite",
                "address3_composite desc",
                "address2_city",
                "address2_city desc",
                "address3_addressid",
                "address3_addressid desc",
                "address2_telephone3",
                "address2_telephone3 desc",
                "gov_filetime",
                "gov_filetime desc",
                "entityimage_timestamp",
                "entityimage_timestamp desc",
                "address3_freighttermscode",
                "address3_freighttermscode desc",
                "shippingmethodcode",
                "shippingmethodcode desc",
                "address3_city",
                "address3_city desc",
                "address1_postofficebox",
                "address1_postofficebox desc",
                "entityimageid",
                "entityimageid desc",
                "_createdbyexternalparty_value",
                "_createdbyexternalparty_value desc",
                "donotbulkemail",
                "donotbulkemail desc",
                "creditonhold",
                "creditonhold desc",
                "address3_upszone",
                "address3_upszone desc",
                "home2",
                "home2 desc",
                "address3_postalcode",
                "address3_postalcode desc",
                "address3_postofficebox",
                "address3_postofficebox desc",
                "address3_country",
                "address3_country desc",
                "address3_utcoffset",
                "address3_utcoffset desc",
                "address2_line2",
                "address2_line2 desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "gov_isinformationchange",
                "gov_isinformationchange desc",
                "address3_longitude",
                "address3_longitude desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "onholdtime",
                "address3_latitude",
                "address1_longitude",
                "donotsendmm",
                "customersizecode",
                "yomifullname",
                "address2_name",
                "anniversary",
                "governmentid",
                "assistantname",
                "gov_alternatephone2",
                "creditlimit",
                "gov_externalid",
                "participatesinworkflow",
                "timespentbymeonemailandmeetings",
                "followemail",
                "aging60",
                "entityimage",
                "createdon",
                "gov_referencecloseddate",
                "_gov_regionid_value",
                "address2_line3",
                "suffix",
                "exchangerate",
                "annualincome_base",
                "address2_longitude",
                "address1_latitude",
                "address1_addresstypecode",
                "emailaddress2",
                "middlename",
                "address2_county",
                "familystatuscode",
                "msdyn_orgchangestatus",
                "birthdate",
                "marketingonly",
                "subscriptionid",
                "processid",
                "address2_latitude",
                "_parentcustomerid_value",
                "gov_additionalcomments",
                "address3_telephone2",
                "address3_line2",
                "address2_telephone1",
                "haschildrencode",
                "address2_upszone",
                "traversedpath",
                "modifiedon",
                "leadsourcecode",
                "pager",
                "aging90",
                "address3_line3",
                "gov_interviewerlastnameinitial",
                "_transactioncurrencyid_value",
                "gov_essfilenumber",
                "merged",
                "address2_freighttermscode",
                "versionnumber",
                "emailaddress3",
                "gov_isfamilymember",
                "address1_county",
                "_masterid_value",
                "aging90_base",
                "paymenttermscode",
                "_preferredserviceid_value",
                "address2_primarycontactname",
                "address2_composite",
                "address1_addressid",
                "salutation",
                "gov_isvolunteer",
                "preferredcontactmethodcode",
                "address2_utcoffset",
                "_gov_facilityid_value",
                "employeeid",
                "entityimage_url",
                "address3_shippingmethodcode",
                "gov_age",
                "ftpsiteurl",
                "address1_name",
                "gov_isevacueehoh",
                "educationcode",
                "address1_line2",
                "address1_fax",
                "msdyn_gdproptout",
                "lastusedincampaign",
                "yomifirstname",
                "callback",
                "address3_fax",
                "address1_composite",
                "_gov_communityid_value",
                "gov_peptasknumber",
                "address2_line1",
                "address3_primarycontactname",
                "_parentcontactid_value",
                "mobilephone",
                "_createdonbehalfby_value",
                "aging30",
                "address1_telephone1",
                "jobtitle",
                "websiteurl",
                "address1_stateorprovince",
                "address1_telephone2",
                "yomilastname",
                "preferredappointmentdaycode",
                "aging30_base",
                "address2_addresstypecode",
                "address3_line1",
                "_slaid_value",
                "address1_line1",
                "isbackofficecustomer",
                "statuscode",
                "nickname",
                "childrensnames",
                "_preferredequipmentid_value",
                "_owninguser_value",
                "gov_isfollowuprequired",
                "gov_restriction",
                "_owningteam_value",
                "donotemail",
                "_accountid_value",
                "address1_freighttermscode",
                "gov_islocalauthority",
                "address1_city",
                "customertypecode",
                "address1_shippingmethodcode",
                "_createdby_value",
                "address1_utcoffset",
                "gov_isadmin",
                "address2_telephone2",
                "annualincome",
                "yomimiddlename",
                "stageid",
                "gov_referenceessnumber",
                "donotbulkpostalmail",
                "gov_referencelastname",
                "numberofchildren",
                "_originatingleadid_value",
                "telephone1",
                "address2_shippingmethodcode",
                "address2_stateorprovince",
                "accountrolecode",
                "assistantphone",
                "address3_stateorprovince",
                "donotpostalmail",
                "firstname",
                "address3_name",
                "address2_country",
                "address1_upszone",
                "telephone2",
                "address1_postalcode",
                "address1_telephone3",
                "fax",
                "gendercode",
                "address3_telephone1",
                "_ownerid_value",
                "gov_alternatephone1",
                "gov_bceid",
                "_gov_volunteerid_value",
                "address2_postofficebox",
                "utcconversiontimezonecode",
                "telephone3",
                "emailaddress1",
                "lastonholdtime",
                "address1_country",
                "statecode",
                "territorycode",
                "_preferredsystemuserid_value",
                "_modifiedonbehalfby_value",
                "address3_county",
                "fullname",
                "gov_filedate",
                "externaluseridentifier",
                "_modifiedbyexternalparty_value",
                "description",
                "address1_line3",
                "company",
                "address2_postalcode",
                "donotfax",
                "timezoneruleversionnumber",
                "address2_fax",
                "_modifiedby_value",
                "importsequencenumber",
                "gov_referencefirstname",
                "overriddencreatedon",
                "_slainvokedid_value",
                "lastname",
                "address3_addresstypecode",
                "address1_primarycontactname",
                "managername",
                "contactid",
                "preferredappointmenttimecode",
                "address3_telephone3",
                "spousesname",
                "department",
                "business2",
                "address2_addressid",
                "creditlimit_base",
                "managerphone",
                "gov_interviewerfirstname",
                "aging60_base",
                "_defaultpricelevelid_value",
                "donotphone",
                "address3_composite",
                "address2_city",
                "address3_addressid",
                "address2_telephone3",
                "gov_filetime",
                "entityimage_timestamp",
                "address3_freighttermscode",
                "shippingmethodcode",
                "address3_city",
                "address1_postofficebox",
                "entityimageid",
                "_createdbyexternalparty_value",
                "donotbulkemail",
                "creditonhold",
                "address3_upszone",
                "home2",
                "address3_postalcode",
                "address3_postofficebox",
                "address3_country",
                "address3_utcoffset",
                "address2_line2",
                "_owningbusinessunit_value",
                "gov_isinformationchange",
                "address3_longitude"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "contact_SharePointDocumentLocations",
                "gov_FacilityId",
                "gov_primarycontact_incidenttasks",
                "gov_evacueecontact_registrations",
                "gov_volunteercontact_registrations",
                "gov_primarycontact_communities",
                "gov_primarycontact_regions",
                "gov_primarycontact_facilities",
                "gov_VolunteerId",
                "gov_volunteercontact_evacueecontacts",
                "gov_RegionId",
                "gov_CommunityId",
                "lead_customer_contacts",
                "contactleads_association",
                "lead_parent_contact",
                "originatingleadid",
                "defaultpricelevelid",
                "contact_bookableresource_ContactId",
                "contact_BulkOperations",
                "contact_CampaignResponses",
                "CreatedContact_BulkOperationLogs",
                "SourceContact_BulkOperationLogs",
                "listcontact_association",
                "Contact_ServiceAppointments",
                "contact_as_responsible_contact",
                "contractlineitem_customer_contacts",
                "contract_billingcustomer_contacts",
                "contract_customer_contacts",
                "incident_customer_contacts",
                "contact_as_primary_contact",
                "contact_entitlement_ContactId",
                "contact_entitlement_Customer",
                "entitlementcontacts_association",
                "servicecontractcontacts_association",
                "preferredequipmentid",
                "preferredserviceid",
                "contactinvoices_association",
                "contactorders_association",
                "invoice_customer_contacts",
                "opportunity_customer_contacts",
                "order_customer_contacts",
                "quote_customer_contacts",
                "contactquotes_association",
                "opportunity_parent_contact",
                "contact_principalobjectattributeaccess",
                "contact_connections1",
                "Contact_Feedback",
                "Contact_ProcessSessions",
                "stageid_processstage",
                "Contact_ActivityPointers",
                "Contact_SocialActivities",
                "lk_contact_feedback_createdonbehalfby",
                "contact_PostFollows",
                "contact_PostRegardings",
                "socialactivity_postauthor_contacts",
                "Contact_Phonecalls",
                "Contact_Tasks",
                "Contact_SyncErrors",
                "slainvokedid_contact_sla",
                "sla_contact_sla",
                "createdonbehalfby",
                "Contact_Annotation",
                "masterid",
                "contact_master_contact",
                "modifiedonbehalfby",
                "Contact_Email_EmailSender",
                "account_primary_contact",
                "createdby",
                "contact_actioncard",
                "socialactivity_postauthoraccount_contacts",
                "Socialprofile_customer_contacts",
                "Contact_CustomerAddress",
                "owningbusinessunit",
                "owningteam",
                "parentcustomerid_account",
                "Contact_DuplicateMatchingRecord",
                "lk_contact_feedback_createdby",
                "slakpiinstance_contact",
                "preferredsystemuserid",
                "Contact_Faxes",
                "Contact_MailboxTrackingFolder",
                "Contact_Appointments",
                "owninguser",
                "Contact_AsyncOperations",
                "ownerid",
                "transactioncurrencyid",
                "Contact_RecurringAppointmentMasters",
                "Contact_BulkDeleteFailures",
                "parentcustomerid_contact",
                "contact_customer_contacts",
                "contact_connections2",
                "Contact_DuplicateBaseRecord",
                "modifiedby",
                "Contact_Emails",
                "contact_activity_parties",
                "Contact_Letters"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of contacts",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.contact"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Add new entity to contacts",
        "operationId": "Contacts_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.contact"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.contact"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/contacts({contactid})": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Get entity from contacts by key",
        "operationId": "Contacts_GetByKey",
        "parameters": [
          {
            "name": "contactid",
            "in": "path",
            "required": true,
            "description": "key: contactid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "onholdtime",
                "address3_latitude",
                "address1_longitude",
                "donotsendmm",
                "customersizecode",
                "yomifullname",
                "address2_name",
                "anniversary",
                "governmentid",
                "assistantname",
                "gov_alternatephone2",
                "creditlimit",
                "gov_externalid",
                "participatesinworkflow",
                "timespentbymeonemailandmeetings",
                "followemail",
                "aging60",
                "entityimage",
                "createdon",
                "gov_referencecloseddate",
                "_gov_regionid_value",
                "address2_line3",
                "suffix",
                "exchangerate",
                "annualincome_base",
                "address2_longitude",
                "address1_latitude",
                "address1_addresstypecode",
                "emailaddress2",
                "middlename",
                "address2_county",
                "familystatuscode",
                "msdyn_orgchangestatus",
                "birthdate",
                "marketingonly",
                "subscriptionid",
                "processid",
                "address2_latitude",
                "_parentcustomerid_value",
                "gov_additionalcomments",
                "address3_telephone2",
                "address3_line2",
                "address2_telephone1",
                "haschildrencode",
                "address2_upszone",
                "traversedpath",
                "modifiedon",
                "leadsourcecode",
                "pager",
                "aging90",
                "address3_line3",
                "gov_interviewerlastnameinitial",
                "_transactioncurrencyid_value",
                "gov_essfilenumber",
                "merged",
                "address2_freighttermscode",
                "versionnumber",
                "emailaddress3",
                "gov_isfamilymember",
                "address1_county",
                "_masterid_value",
                "aging90_base",
                "paymenttermscode",
                "_preferredserviceid_value",
                "address2_primarycontactname",
                "address2_composite",
                "address1_addressid",
                "salutation",
                "gov_isvolunteer",
                "preferredcontactmethodcode",
                "address2_utcoffset",
                "_gov_facilityid_value",
                "employeeid",
                "entityimage_url",
                "address3_shippingmethodcode",
                "gov_age",
                "ftpsiteurl",
                "address1_name",
                "gov_isevacueehoh",
                "educationcode",
                "address1_line2",
                "address1_fax",
                "msdyn_gdproptout",
                "lastusedincampaign",
                "yomifirstname",
                "callback",
                "address3_fax",
                "address1_composite",
                "_gov_communityid_value",
                "gov_peptasknumber",
                "address2_line1",
                "address3_primarycontactname",
                "_parentcontactid_value",
                "mobilephone",
                "_createdonbehalfby_value",
                "aging30",
                "address1_telephone1",
                "jobtitle",
                "websiteurl",
                "address1_stateorprovince",
                "address1_telephone2",
                "yomilastname",
                "preferredappointmentdaycode",
                "aging30_base",
                "address2_addresstypecode",
                "address3_line1",
                "_slaid_value",
                "address1_line1",
                "isbackofficecustomer",
                "statuscode",
                "nickname",
                "childrensnames",
                "_preferredequipmentid_value",
                "_owninguser_value",
                "gov_isfollowuprequired",
                "gov_restriction",
                "_owningteam_value",
                "donotemail",
                "_accountid_value",
                "address1_freighttermscode",
                "gov_islocalauthority",
                "address1_city",
                "customertypecode",
                "address1_shippingmethodcode",
                "_createdby_value",
                "address1_utcoffset",
                "gov_isadmin",
                "address2_telephone2",
                "annualincome",
                "yomimiddlename",
                "stageid",
                "gov_referenceessnumber",
                "donotbulkpostalmail",
                "gov_referencelastname",
                "numberofchildren",
                "_originatingleadid_value",
                "telephone1",
                "address2_shippingmethodcode",
                "address2_stateorprovince",
                "accountrolecode",
                "assistantphone",
                "address3_stateorprovince",
                "donotpostalmail",
                "firstname",
                "address3_name",
                "address2_country",
                "address1_upszone",
                "telephone2",
                "address1_postalcode",
                "address1_telephone3",
                "fax",
                "gendercode",
                "address3_telephone1",
                "_ownerid_value",
                "gov_alternatephone1",
                "gov_bceid",
                "_gov_volunteerid_value",
                "address2_postofficebox",
                "utcconversiontimezonecode",
                "telephone3",
                "emailaddress1",
                "lastonholdtime",
                "address1_country",
                "statecode",
                "territorycode",
                "_preferredsystemuserid_value",
                "_modifiedonbehalfby_value",
                "address3_county",
                "fullname",
                "gov_filedate",
                "externaluseridentifier",
                "_modifiedbyexternalparty_value",
                "description",
                "address1_line3",
                "company",
                "address2_postalcode",
                "donotfax",
                "timezoneruleversionnumber",
                "address2_fax",
                "_modifiedby_value",
                "importsequencenumber",
                "gov_referencefirstname",
                "overriddencreatedon",
                "_slainvokedid_value",
                "lastname",
                "address3_addresstypecode",
                "address1_primarycontactname",
                "managername",
                "contactid",
                "preferredappointmenttimecode",
                "address3_telephone3",
                "spousesname",
                "department",
                "business2",
                "address2_addressid",
                "creditlimit_base",
                "managerphone",
                "gov_interviewerfirstname",
                "aging60_base",
                "_defaultpricelevelid_value",
                "donotphone",
                "address3_composite",
                "address2_city",
                "address3_addressid",
                "address2_telephone3",
                "gov_filetime",
                "entityimage_timestamp",
                "address3_freighttermscode",
                "shippingmethodcode",
                "address3_city",
                "address1_postofficebox",
                "entityimageid",
                "_createdbyexternalparty_value",
                "donotbulkemail",
                "creditonhold",
                "address3_upszone",
                "home2",
                "address3_postalcode",
                "address3_postofficebox",
                "address3_country",
                "address3_utcoffset",
                "address2_line2",
                "_owningbusinessunit_value",
                "gov_isinformationchange",
                "address3_longitude"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "contact_SharePointDocumentLocations",
                "gov_FacilityId",
                "gov_primarycontact_incidenttasks",
                "gov_evacueecontact_registrations",
                "gov_volunteercontact_registrations",
                "gov_primarycontact_communities",
                "gov_primarycontact_regions",
                "gov_primarycontact_facilities",
                "gov_VolunteerId",
                "gov_volunteercontact_evacueecontacts",
                "gov_RegionId",
                "gov_CommunityId",
                "lead_customer_contacts",
                "contactleads_association",
                "lead_parent_contact",
                "originatingleadid",
                "defaultpricelevelid",
                "contact_bookableresource_ContactId",
                "contact_BulkOperations",
                "contact_CampaignResponses",
                "CreatedContact_BulkOperationLogs",
                "SourceContact_BulkOperationLogs",
                "listcontact_association",
                "Contact_ServiceAppointments",
                "contact_as_responsible_contact",
                "contractlineitem_customer_contacts",
                "contract_billingcustomer_contacts",
                "contract_customer_contacts",
                "incident_customer_contacts",
                "contact_as_primary_contact",
                "contact_entitlement_ContactId",
                "contact_entitlement_Customer",
                "entitlementcontacts_association",
                "servicecontractcontacts_association",
                "preferredequipmentid",
                "preferredserviceid",
                "contactinvoices_association",
                "contactorders_association",
                "invoice_customer_contacts",
                "opportunity_customer_contacts",
                "order_customer_contacts",
                "quote_customer_contacts",
                "contactquotes_association",
                "opportunity_parent_contact",
                "contact_principalobjectattributeaccess",
                "contact_connections1",
                "Contact_Feedback",
                "Contact_ProcessSessions",
                "stageid_processstage",
                "Contact_ActivityPointers",
                "Contact_SocialActivities",
                "lk_contact_feedback_createdonbehalfby",
                "contact_PostFollows",
                "contact_PostRegardings",
                "socialactivity_postauthor_contacts",
                "Contact_Phonecalls",
                "Contact_Tasks",
                "Contact_SyncErrors",
                "slainvokedid_contact_sla",
                "sla_contact_sla",
                "createdonbehalfby",
                "Contact_Annotation",
                "masterid",
                "contact_master_contact",
                "modifiedonbehalfby",
                "Contact_Email_EmailSender",
                "account_primary_contact",
                "createdby",
                "contact_actioncard",
                "socialactivity_postauthoraccount_contacts",
                "Socialprofile_customer_contacts",
                "Contact_CustomerAddress",
                "owningbusinessunit",
                "owningteam",
                "parentcustomerid_account",
                "Contact_DuplicateMatchingRecord",
                "lk_contact_feedback_createdby",
                "slakpiinstance_contact",
                "preferredsystemuserid",
                "Contact_Faxes",
                "Contact_MailboxTrackingFolder",
                "Contact_Appointments",
                "owninguser",
                "Contact_AsyncOperations",
                "ownerid",
                "transactioncurrencyid",
                "Contact_RecurringAppointmentMasters",
                "Contact_BulkDeleteFailures",
                "parentcustomerid_contact",
                "contact_customer_contacts",
                "contact_connections2",
                "Contact_DuplicateBaseRecord",
                "modifiedby",
                "Contact_Emails",
                "contact_activity_parties",
                "Contact_Letters"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.contact"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Delete entity from contacts",
        "operationId": "Contacts_Delete",
        "parameters": [
          {
            "name": "contactid",
            "in": "path",
            "required": true,
            "description": "key: contactid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "contacts"
        ],
        "summary": "Update entity in contacts",
        "operationId": "Contacts_Update",
        "parameters": [
          {
            "name": "contactid",
            "in": "path",
            "required": true,
            "description": "key: contactid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.contact"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/gov_communities": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "Get entities from gov_communities",
        "operationId": "Communities_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "_ownerid_value",
                "_ownerid_value desc",
                "gov_country",
                "gov_country desc",
                "gov_communityid",
                "gov_communityid desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "gov_street",
                "gov_street desc",
                "modifiedon",
                "modifiedon desc",
                "gov_stateorprovince",
                "gov_stateorprovince desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "gov_city",
                "gov_city desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "statuscode",
                "statuscode desc",
                "gov_alternatephone",
                "gov_alternatephone desc",
                "_gov_regionid_value",
                "_gov_regionid_value desc",
                "statecode",
                "statecode desc",
                "gov_telephone",
                "gov_telephone desc",
                "gov_email",
                "gov_email desc",
                "gov_name",
                "gov_name desc",
                "emailaddress",
                "emailaddress desc",
                "versionnumber",
                "versionnumber desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "gov_postalcode",
                "gov_postalcode desc",
                "createdon",
                "createdon desc",
                "_gov_primarycontactid_value",
                "_gov_primarycontactid_value desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "_createdby_value",
                "_createdby_value desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "gov_phone",
                "gov_phone desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "_ownerid_value",
                "gov_country",
                "gov_communityid",
                "_owningbusinessunit_value",
                "_modifiedby_value",
                "gov_street",
                "modifiedon",
                "gov_stateorprovince",
                "_modifiedonbehalfby_value",
                "gov_city",
                "timezoneruleversionnumber",
                "statuscode",
                "gov_alternatephone",
                "_gov_regionid_value",
                "statecode",
                "gov_telephone",
                "gov_email",
                "gov_name",
                "emailaddress",
                "versionnumber",
                "_owninguser_value",
                "utcconversiontimezonecode",
                "gov_postalcode",
                "createdon",
                "_gov_primarycontactid_value",
                "importsequencenumber",
                "_createdby_value",
                "_owningteam_value",
                "_createdonbehalfby_value",
                "overriddencreatedon",
                "gov_phone"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdby",
                "createdonbehalfby",
                "modifiedby",
                "modifiedonbehalfby",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "gov_community_ActivityPointers",
                "gov_community_SyncErrors",
                "gov_community_ActivityParties",
                "gov_community_DuplicateMatchingRecord",
                "gov_community_DuplicateBaseRecord",
                "gov_community_AsyncOperations",
                "gov_community_MailboxTrackingFolders",
                "gov_community_ProcessSession",
                "gov_community_BulkDeleteFailures",
                "gov_community_PrincipalObjectAttributeAccesses",
                "gov_community_Appointments",
                "gov_community_Emails",
                "gov_community_Faxes",
                "gov_community_Letters",
                "gov_community_PhoneCalls",
                "gov_community_Tasks",
                "gov_community_RecurringAppointmentMasters",
                "gov_community_SocialActivities",
                "gov_community_Annotations",
                "gov_community_ServiceAppointments",
                "gov_community_facilities",
                "gov_community_incidenttasks",
                "gov_community_registrations",
                "gov_RegionId",
                "gov_PrimaryContactId",
                "gov_community_evacueecontacts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of gov_communities",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.gov_community"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "communities"
        ],
        "summary": "Add new entity to gov_communities",
        "operationId": "Communities_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.gov_community"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.gov_community"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/gov_communities({gov_communityid})": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "Get entity from gov_communities by key",
        "operationId": "Communities_GetByKey",
        "parameters": [
          {
            "name": "gov_communityid",
            "in": "path",
            "required": true,
            "description": "key: gov_communityid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "_ownerid_value",
                "gov_country",
                "gov_communityid",
                "_owningbusinessunit_value",
                "_modifiedby_value",
                "gov_street",
                "modifiedon",
                "gov_stateorprovince",
                "_modifiedonbehalfby_value",
                "gov_city",
                "timezoneruleversionnumber",
                "statuscode",
                "gov_alternatephone",
                "_gov_regionid_value",
                "statecode",
                "gov_telephone",
                "gov_email",
                "gov_name",
                "emailaddress",
                "versionnumber",
                "_owninguser_value",
                "utcconversiontimezonecode",
                "gov_postalcode",
                "createdon",
                "_gov_primarycontactid_value",
                "importsequencenumber",
                "_createdby_value",
                "_owningteam_value",
                "_createdonbehalfby_value",
                "overriddencreatedon",
                "gov_phone"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdby",
                "createdonbehalfby",
                "modifiedby",
                "modifiedonbehalfby",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "gov_community_ActivityPointers",
                "gov_community_SyncErrors",
                "gov_community_ActivityParties",
                "gov_community_DuplicateMatchingRecord",
                "gov_community_DuplicateBaseRecord",
                "gov_community_AsyncOperations",
                "gov_community_MailboxTrackingFolders",
                "gov_community_ProcessSession",
                "gov_community_BulkDeleteFailures",
                "gov_community_PrincipalObjectAttributeAccesses",
                "gov_community_Appointments",
                "gov_community_Emails",
                "gov_community_Faxes",
                "gov_community_Letters",
                "gov_community_PhoneCalls",
                "gov_community_Tasks",
                "gov_community_RecurringAppointmentMasters",
                "gov_community_SocialActivities",
                "gov_community_Annotations",
                "gov_community_ServiceAppointments",
                "gov_community_facilities",
                "gov_community_incidenttasks",
                "gov_community_registrations",
                "gov_RegionId",
                "gov_PrimaryContactId",
                "gov_community_evacueecontacts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.gov_community"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "communities"
        ],
        "summary": "Delete entity from gov_communities",
        "operationId": "Communities_Delete",
        "parameters": [
          {
            "name": "gov_communityid",
            "in": "path",
            "required": true,
            "description": "key: gov_communityid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "communities"
        ],
        "summary": "Update entity in gov_communities",
        "operationId": "Communities_Update",
        "parameters": [
          {
            "name": "gov_communityid",
            "in": "path",
            "required": true,
            "description": "key: gov_communityid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.gov_community"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/gov_incidenttasks": {
      "get": {
        "tags": [
          "incidenttasks"
        ],
        "summary": "Get entities from gov_incidenttasks",
        "operationId": "Incidenttasks_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
[...]
