<div class="card card-default sidebox-card mb-4" style="border-left:0;border-right:0;border-top:0;">
  <div class="card-header">
    <span class="h6 my-0 text-uppercase">Evacuee Profile</span>
  </div>
  <div class="card-body">
    <p class="card-text">
      <i *ngIf="step<1" class="far fa-circle circle-style"></i>
      <i *ngIf="step===1" class="fas fa-check-circle checkmark-style"></i>
      <i *ngIf="step>1" class="fas fa-circle circle-complete-style"></i>
      <strong class="ml-2">STEP 1:</strong> Evacuee Information
    </p>
    <p class="card-text">
      <i *ngIf="step<2" class="far fa-circle circle-style"></i>
      <i *ngIf="step===2" class="fas fa-check-circle checkmark-style"></i>
      <i *ngIf="step>2" class="fas fa-circle circle-complete-style"></i>
      <strong class="ml-2">STEP 2:</strong> Additional Information
    </p>
    <p class="card-text">
      <i *ngIf="step<3" class="far fa-circle circle-style"></i>
      <i *ngIf="step===3" class="fas fa-check-circle checkmark-style"></i>
      <i *ngIf="step>3" class="fas fa-circle circle-style"></i>
      <strong class="ml-2">STEP 3:</strong> Review Details
    </p>
    <p class="card-text">
      <i *ngIf="step<4" class="far fa-circle circle-style"></i>
      <i *ngIf="step===4" class="fas fa-check-circle checkmark-style"></i>
      <i *ngIf="step>4" class="fas fa-circle circle-complete-style"></i>
      <strong class="ml-2">STEP 4:</strong> Confirmation
    </p>
  </div>
</div>

<!-- Contextual side-boxes. -->
<div *ngIf="step===1">
  <app-side-box title="Registering Family Members" icon="list">
    <p>
      If unsure as to how to register additional family members, please contact the Emergency Support Services team through your local government.
    </p>
  </app-side-box>
</div>

<div *ngIf="step===2">
  <app-side-box title="Useful Information" icon="list">
    <p>
      If you have insurance, please keep all of your receipts and contact your insurance provider as soon as possible.
    </p>
    <p>
      If you are having difficulty contacting your insurance provider, contact the Insurance Bureau of Canada at <a class="text-light" href="tel:18442275422">1-844-227-5422</a>.
    </p>
  </app-side-box>
</div>

<!-- Step 3 has no blocks yet -->
<!-- <div *ngIf="step===3"></div> -->

<div *ngIf="step===4">
  <app-side-box title="Useful Information" icon="list">
    <p>
      An updated list of reception centres can be found at <a class="text-light" href="https://www.emergencyinfobc.gov.bc.ca/">EmergencyInfoBC</a>.
    </p>
  </app-side-box>
</div>
