// primary: #38598a,
// success: #43893e,
// info: #96c0e6,
// warning: #f9ca54,
// danger: #d93e45,
// // new entries
// primary-nav: #036,
// secondary-nav: #5475a7,
// bcgold: #fcba19

.circle-style{
  color: #38598a;
}
.circle-complete-style{
  color: #38598a;
}
.checkmark-style{
  color: #43893e;
}
