<app-side-infobox title="Tips for delivery of Collection Notice and Authorization" icon="description">
  <section role="content">
    <p>
      The Collection Notice does <strong>not</strong> need to be read word-for-word.
    </p>
    <p>
      The role of the Emergency Support Services volunteer is to ensure the evacuee understands the following:
    </p>
    <ul>
      <li>
        Information is being collected on behalf of Emergency Management BC for the purpose of providing emergency services
      </li>
      <li>
        The information is collected under the authority of the Freedom of Information and Protection of Privacy Act (FoIPPA)
      </li>
      <li>
        By submitting your email address, you authorize Emergency Management BC to communicate with you by email about your registration and to invite you to provide feedback about your experience.
      </li>
    </ul>
    <!-- <section role="footer">
        <a class="btn btn-primary" href="tel:1-800-663-3456">1-800-663-3456</a>
      </section> -->
  </section>
</app-side-infobox>
