.dark-row {
  margin: 0;
  font-weight: 400;
  margin-bottom: 5px;

  > .col, > [class*=col-] {
    padding: 5px;
    background-color: #e1e8f2;

    + .col, + [class*=col-] {
      margin-left: 5px;
    }
  }
}

.alt-row {
  margin: 0;
  font-weight: normal;
  margin-bottom: 5px;

  > .col, > [class*=col-] {
    padding: 5px;
    background-color: #f1f4fa;

    + .col, + [class*=col-] {
      margin-left: 5px;
    }
  }
}
