<div [formGroup]="form">
  <h2 class="step">STEP 3</h2>
  <h1 class="mt-0">Self Registration Summary</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu
    a fringilla.</p>

  <section class="p-3">
    <ul class="summary">
      <li>
        <span class="name">ESS File #:</span>
        <span class="value">{{registration?.essFileNumber}}</span>
      </li>
      <li [class.restricted]="registration.restrictedAccess">
        <span class="name">Restriction:</span>
        <span class="value">{{registration?.restrictedAccess | yesNo}}</span>
      </li>
    </ul>
    <h2>Evacuee Information</h2>
    <ul class="summary">
      <li>
        <span class="name">Last Name:</span>
        <span class="value">{{registration?.headOfHousehold?.lastName}}</span>
      </li>
      <li>
        <span class="name">First Name:</span>
        <span class="value">{{registration?.headOfHousehold?.firstName}}</span>
      </li>
      <li>
        <span class="name">Initial:</span>
        <span class="value">{{registration?.headOfHousehold?.initials}}</span>
      </li>
      <li>
        <span class="name">Nickname:</span>
        <span class="value">{{registration?.headOfHousehold?.nickname}}</span>
      </li>
      <li>
        <span class="name">Gender:</span>
        <span class="value">{{registration?.headOfHousehold?.gender}}</span>
      </li>
      <li>
        <span class="name">Date of Birth:</span>
        <span class="value">{{registration?.headOfHousehold?.dob | date : 'MM/dd/yyyy'}}</span>
      </li>
    </ul>

    <h2>Evacuee Family Information</h2>
    <ul class="summary" *ngFor="let fm of registration.familyMembers">
      <li>
        <span class="name">Last Name:</span>
        <span class="value">{{fm?.lastName}}</span>
      </li>
      <li>
        <span class="name">First Name:</span>
        <span class="value">{{fm?.firstName}}</span>
      </li>
      <li>
        <span class="name">Initial:</span>
        <span class="value">{{fm?.initials}}</span>
      </li>
      <li>
        <span class="name">Nickname:</span>
        <span class="value">{{fm?.nickname}}</span>
      </li>
      <li>
        <span class="name">Gender:</span>
        <span class="value">{{fm?.gender}}</span>
      </li>
      <li>
        <span class="name">Date of Birth:</span>
        <span class="value">{{fm?.dob | date : 'MM/dd/yyyy'}}</span>
      </li>
    </ul>

    <h2>Primary Address &amp; Contact Details</h2>
    <ul class="summary">
      <li>
        <span class="name">Apt /Suite/Building Number &amp; Street Address:</span>
        <span class="value">{{registration?.headOfHousehold?.primaryResidence?.addressLine1}}</span>
      </li>
      <li>
        <span class="name">Community:</span>
        <span class="value">{{registration?.headOfHousehold?.primaryResidence?.communityOrCity}}</span>
      </li>
      <li>
        <span class="name">Province:</span>
        <span class="value">{{registration?.headOfHousehold?.primaryResidence?.provinceOrState}}</span>
      </li>
      <li>
        <span class="name">Postal code:</span>
        <span class="value">{{registration?.headOfHousehold?.primaryResidence?.postalCodeOrZip}}</span>
      </li>
      <li>
        <span class="name">Country:</span>
        <span class="value">{{registration?.headOfHousehold?.primaryResidence?.country}}</span>
      </li>
      <li>
        <span class="name">Telephone/Mobile:</span>
        <span class="value">{{registration?.headOfHousehold?.phoneNumber}}</span>
      </li>
      <li>
        <span class="name">Alternate Telephone/Mobile:</span>
        <span class="value">{{registration?.headOfHousehold?.phoneNumber}}</span>
      </li>
      <li>
        <span class="name">Email Address:</span>
        <span class="value">{{registration?.headOfHousehold?.email}}</span>
      </li>
    </ul>

    <h2>Mailing Address</h2>
    <ul class="summary">
      <li>
        <span class="name">Apt /Suite/Building Number &amp; Street Address:</span>
        <span class="value">{{registration?.headOfHousehold?.mailingAddress?.addressLine1}}</span>
      </li>
      <li>
        <span class="name">Community:</span>
        <span class="value">{{registration?.headOfHousehold?.mailingAddress?.communityOrCity}}</span>
      </li>
      <li>
        <span class="name">Province:</span>
        <span class="value">{{registration?.headOfHousehold?.mailingAddress?.provinceOrState}}</span>
      </li>
      <li>
        <span class="name">Postal code:</span>
        <span class="value">{{registration?.headOfHousehold?.mailingAddress?.postalCodeOrZip}}</span>
      </li>
      <li>
        <span class="name">Country:</span>
        <span class="value">{{registration?.headOfHousehold?.mailingAddress?.country}}</span>
      </li>
    </ul>

    <h2>Additional Information</h2>
    <ul class="summary">
      <li>
        <span class="name">Dietary Requirements:</span>
        <span class="value">{{registration?.dietaryNeeds | yesNo}}</span>
      </li>
      <li>
        <span class="name">Medication:</span>
        <span class="value">{{registration?.medicationNeeds | yesNo}}</span>
      </li>
      <li>
        <span class="name">Pets:</span>
        <span class="value">{{registration?.hasPets | yesNo}}</span>
      </li>
    </ul>

    <h2>Next Steps</h2>
    <ul class="summary">
      <li>
        <span class="name">Insurance:</span>
        <span class="value"></span>
      </li>
      <li>
        <span class="name">Supports:</span>
        <span class="value">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled [checked]="registration?.requiresFood">
            <label class="form-check-label">Food</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled [checked]="registration?.requiresClothing">
            <label class="form-check-label">Clothing</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled [checked]="registration?.requiresAccommodation">
            <label class="form-check-label">Accommodation</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled [checked]="registration?.requiresIncidentals">
            <label class="form-check-label">Incidentals</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled [checked]="registration?.requiresTransportation">
            <label class="form-check-label">Transportation</label>
          </div>
        </span>
      </li>
    </ul>
  </section>

  <h3 class="blue-header">DECLARATIONS AND CONSENT</h3>
  <section class="padded-section">
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="declarationAndConsent">
        <label class="form-check-label required">Personal information is collected under the authority of the Emergency
          Program Act and may be shared with other organizations to enable the provision of emergency services.
          Questions regarding the collection, use or disclosure of this information should be directed to: ESS Office,
          Provisional Emergency Program, Ministry of Public Safety and Solicitor General, P.O. Box 9201 STN PROV GOVT,
          Victoria, B.C. V8W 9J1.</label>
      </div>
    </div>
  </section>

  <div class="mt-5 space-between">
    <section>
      <button class="btn btn-secondary" (click)="back()">BACK</button>
    </section>
    <section>
      <a [routerLink]="">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a>
      <button class="btn btn-primary ml-4" [disabled]="form.invalid" (click)="next()">NEXT</button>
    </section>
  </div>
</div>

<div class="mt-5">
  <h4>Current Registration</h4>
  <pre>{{ this.registration | json }}</pre>
</div>
