<div [formGroup]="form">
  <h2 class="step">STEP 3</h2>
  <h1 class="mt-0">Self Registration Summary</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu
    a fringilla.</p>

  <section class="p-3">
    <div>
      <div class="dark-row form-row">
        <div class="col-md-4">Restriction:</div>
        <div class="col">Yes</div>
      </div>
    </div>
    <h2>Evacuee Information</h2>
    <div>
      <div class="dark-row form-row">
        <div class="col-md-4">Last Name:</div>
        <div class="col">Smith</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4">First Name:</div>
        <div class="col">Anne</div>
      </div>
    </div>

    <h2>Evacuee Family Information</h2>
    <div>
      <div class="dark-row form-row">
        <div class="col-md-4">Last Name:</div>
        <div class="col">Smith</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4">First Name:</div>
        <div class="col">Anne</div>
      </div>
    </div>
  </section>
</div>
