<!-- <app-admin-navbar></app-admin-navbar> -->
<div class="row">
  <div class="col col-lg-8">
    <router-outlet></router-outlet>
  </div>


  <div class="col-12 col-lg-4">
    <app-add-task-number></app-add-task-number>
    <!-- <app-add-organization></app-add-organization> -->
    <app-add-user route="/provincial-admin/volunteer"></app-add-user>
    <app-add-evacuee></app-add-evacuee>
    <app-add-organization></app-add-organization>

    <app-side-box title="Useful Information">
      <section role="content">
        <p>
          A BCeID will be needed if an organization and/or a user is accessing this system.
        </p>
        <p>
          If you have any questions regarding your BCeID, please read the <a href="https://www.bceid.ca/aboutbceid/faqs.aspx">Frequently Asked Questions</a>.
        </p>
      </section>
      <!-- <section role="footer">
          <button class="btn btn-primary" routerLink="/">Learn More</button>
        </section> -->
    </app-side-box>
  </div>

</div>