
.card{
  margin-bottom: 20px;
}
.sidebox-card-info {
  // card overrides
  background-color: theme-color(primary);
  border-radius: 0px;
  border: 0;
  border-bottom: 4px theme-color(bcgold) solid;
}

//   .round-icon-material {
//     height: 48px;
//     width: 48px;
//     min-width: 48px;
//     min-height: 48px;
//     border-radius: 48px;
//     background-color: #7596c8;
//     text-align: center;
//     display: inline-block;
//     padding-top: 12px;
//   }
// }

// angular material overrides
// :host ::ng-deep .side-box {
//   * {
//     color: $side-box-color;
//   }

//   .btn {
//     background-color: $bg-dark;
//   }

//   .mat-card-header-text {
//     margin: 0;
//     padding-left: 10px;
//   }
// }
