<div class="row">
  <div class="col-lg-9">
    <h1>ERA Training Material & Useful Information</h1>
    <p>Welcome to the ERA training material and useful information page.</p>
    <h2 class="blue-header">Training Materials</h2>
    <p>These training materials are for ERA <span *ngIf="isSuperUser; then superuser; else user;"></span>
      and best intended for anyone wanting to complete ERA training
      and require step-by-step instructions on how to navigate the ERA tool.</p>
    <div class="mb-4">
      <h3 class="section-header">Training Guides</h3>
      <div>
        <div class="guide-btn reference-guide" (click)="openRefGuide()">
          <span>
            <i class="fas fa-file-pdf big-icon"></i>&nbsp;&nbsp;&nbsp;<span class="btn-text">
              Quick Reference Guide
            </span>
          </span>
        </div>
        <div class="guide-btn training-guide" *ngIf="isSuperUser" (click)="openTrainingGuide()">
          <span>
            <i class="fas fa-file-pdf big-icon"></i>&nbsp;&nbsp;&nbsp;
            <span class="btn-text">
              ERA Superuser Training Guide
            </span>
          </span>
        </div>
        <div class="guide-btn training-guide" *ngIf="!isSuperUser" (click)="openTrainingGuide()">
          <span>
            <i class="fas fa-file-pdf big-icon"></i>&nbsp;&nbsp;&nbsp;
            <span class="btn-text">
              ERA User Training Guide
            </span>
          </span>
        </div>
      </div>
    </div>
    <div>
      <div class="mb-4" *ngIf="isSuperUser">
        <h3 class="section-header">ERA Superuser Video Tutorials</h3>
        <div>
          <i class="far fa-file-video list-icon"></i> &nbsp;
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/7_AccessingERA_Superusers" target="_blank">
            1. Accessing ERA - Superusers
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/8_LocateEvacueeFile_Superusers" target="_blank">
            2. Locate an Evacuee File - Superusers
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/9_AddUsers_Superusers" target="_blank">
            3. Add Users - Superusers
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/10_EditUsers_Superusers" target="_blank">
            4. Edit Users - Superusers
          </a>
        </div>
      </div>
      <div class="mb-4">
        <h3 class="section-header">ERA User Video Tutorials</h3>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/1_AccessingERA_ERAUsers/" target="_blank">
            1. Accessing ERA
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/2_LocateEvacueeFile_ERAUsers" target="_blank">
            2. Locate an Evacuee File
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/6_NewEvacueeRegistration_ERAUsers" target="_blank">
            3. New Evacuee Registration
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/3_FinalizeEvacueeRegistration_ERAUsers" target="_blank">
            4. Finalize Evacuee Registration
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/4_EditEvacueeRegistration_ERAUsers" target="_blank">
            5. Edit Evacuee Registration
          </a>
        </div>
        <div>
          <i class="far fa-file-video list-icon"></i>&nbsp; 
          <a href="https://ess.pathfinder.gov.bc.ca/era/videos/5_AddReferrals_ERAUsers" target="_blank">
            6. Add Referrals
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="isSuperUser">
      <h3 class="section-header">Facilitator Package</h3>
      <div class="section-container">
        <p>
          The Facilitator Package is intended for an ERA Superuser who is also an ESS trainer and requires classroom
          material to train other ESS members.
        </p>
        <div>
          <i class="fas fa-file-pdf list-icon"></i>&nbsp;
          <a href="https://ess.gov.bc.ca/era/documents/ERA-Tool-Training-Facilitator-Guide.pdf" target="_blank">
            ERA Tool Training - Facilitator Guide (for in-person training)
          </a>
        </div>
        <div>
          <i class="fas fa-file-pdf list-icon"></i>&nbsp;
          <a href="https://ess.pathfinder.gov.bc.ca/era/documents/ERA-Tool-Training-Schedule-Template.pdf" target="_blank">
            ERA Tool Training Schedule (for in-person training)
          </a>
        </div>
        <div>
          <i class="fas fa-file-pdf list-icon"></i>&nbsp;
          <a href="https://ess.gov.bc.ca/era/documents/ERA-Tool-Training-Participant-Guide.pdf" target="_blank">
            ERA Tool Training - Participation Guide
          </a>
        </div>
        <div>
          <i class="fas fa-file-pdf list-icon"></i>&nbsp;
          <a href="https://ess.pathfinder.gov.bc.ca/era/documents/ERA-Training-Evaluation.pdf" target="_blank">
            ERA Tool Training Evaluation
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="isSuperUser">
      <h3 class="section-header">Coming Soon</h3>
      <p>ERA Tool Training Facilitator Guide (for online training)</p>
      <p>ERA Tool Training Schedule (for online training)</p>
    </div>

    <!--Original Stuff-->
    <div class="mb-4">
      <h3 class="blue-header">Useful Information</h3>
      <h3 class="section-header">
        ESS Program Guide
      </h3>
      <p>
        The <a target="_blank"
          href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/ess/field-guide/essfieldguide.pdf">ESS
          Field Guide</a> (PDF, 4.5MB) provides information about how emergency support services (ESS) are delivered,
        and clarifies procedures and guidelines for <a target="_blank"
          href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/services/local-and-other-authorities">local
          authorities</a> and Emergency Support Services teams.
      </p>
      <p>
        ESS Directors should keep a copy of the guide, which can be updated with revisions posted to this web page.
        Copies of the guide should also be kept at all reception centres and by Level One responders. The Emergency
        Support Services Office will communicate amendments by email.
      </p>
    </div>
    <div class="mb-4">
      <h3 class="section-header">
        MANUAL FOR MAXIMIZING STRESS RESILIENCE
      </h3>
      <p>
        Organizations, agencies and businesses can use the <a target="_blank"
          href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/ess/workers-prior-assessment/max-stress-manual.pdf">Maximizing
          Stress Resilience Manual</a> (PDF) as a tool to assess whether or not a new emergency support services recruit
        will cope during a disaster.
      </p>
      <p>
        Current responders may also find the manual useful, especially the sections:
      </p>
      <ul>
        <li>Trauma and Disaster Work: A Self-Assessment, and</li>
        <li>Your Health and Disasters.</li>
      </ul>
      <p>The manual was developed by the British Columbia Disaster Worker Care Committee, with the support of the <a
          target="_blank"
          href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/contacts">Emergency
          Support Services Office</a> and the Emergency Support Services Advisory Committee.</p>
    </div>
    <div class="mb-4">
      <h3 class="section-header">
        SELF-CARE FOR DISASTER WORKERS
      </h3>
      <p>
        Emergency Support Service responders – and their families and friends – are encouraged to read these pages to
        understand and anticipate the possible emotional consequences associated with responding to disasters. These
        pages address a number of issues including self-assessment, disaster workers as secondary victims, fatigue,
        frustration and anger, stress relief and returning home from a disaster.
      </p>
      <ul>
        <li>
          <a target="_blank"
            href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/self-assessment-prior-to-an-assignment">Self-Assessment:
            Prior to an Assignment</a>
        </li>
        <li>
          <a target="_blank"
            href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/emotional-health-for-workers-on-assignment">Emotional
            Health for Workers on Assignment</a>
        </li>
        <li>
          <a target="_blank"
            href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/emotional-health-for-families-and-friends-of-workers-on-assignment">Emotional
            Health for Families and Friends of Workers on Assignment</a>
        </li>
        <li>
          <a target="_blank"
            href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/emergency-support-services/self-care-for-disaster-workers/returning-home-from-a-disaster-assignment">Returning
            Home From A Disaster Assignment</a>
        </li>
        <li>
          <a target="_blank"
            href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/volunteers/safety-program">Safety
            Policy for Public Safety Lifeline Volunteers</a>
        </li>
        <li>
          <a target="_blank"
            href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/volunteers/ess_safety_program_guide.pdf">ESS
            Safety Manual</a>
        </li>
      </ul>
    </div>
    <hr>
  </div>
  <div class="col-lg-3">
    <app-sidebox-add-registration></app-sidebox-add-registration>
  </div>
</div>

<ng-template #user>
  Users
</ng-template>

<ng-template #superuser>
  Superusers
</ng-template>