<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2 class="step">STEP 1 of 4</h2>
  <h1 class="mt-3">Register as an Evacuee</h1>

  <p>If you have been given an evacuation order and have been asked to leave your home, use this step-by-step Evacuee
    Self-Registration form to register with Emergency Social Services.</p>

  <small>All required fields are marked with an asterisk *</small>

  <div class="mt-3 feature-block">
    <h3>Restriction</h3>
    <p>Concerned family and friends may inquire about you and your family because of the emergency. We would like to
      provide these people with some information about you. Please check "Yes" if you <u>do not</u> want EMBC to
      disclose your
      location and the contact information for you and your family members?</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="restrictedAccess">
      <label class="form-check-label">
        Yes, I <u>do not</u> want EMBC to disclose my personal information to concerned family and friends.
      </label>
    </div>
  </div>

  <h3 class="blue-header">EVACUEE DETAILS</h3>
  <section class="padded-section" formGroupName="headOfHousehold">
    <div class="row">
      <app-form-field class="col-md-9" required="true"
        tooltip="Tool Tip: Please ensure you use the legal last name of the person registering the family.">
        <label>Last Name</label>
        <input [class.is-invalid]="invalidField(form, 'headOfHousehold.lastName', submitted)" class="form-control"
          type="text" formControlName="lastName">
        <span *ngIf="submitted" class="invalid-feedback">
          {{validationErrors['headOfHousehold'].lastName}}
        </span>
      </app-form-field>
    </div>
    <div class="row">
      <app-form-field class="col-md-9" required="true"
        tooltip="Tool Tip: Please ensure you use the legal first name of the person registering the family.">
        <label>First Name</label>
        <input [class.is-invalid]="invalidField(form, 'headOfHousehold.firstName', submitted)" class="form-control"
          type="text" formControlName="firstName">
        <span *ngIf="submitted" class="invalid-feedback">
          {{validationErrors['headOfHousehold'].firstName}}
        </span>
      </app-form-field>
    </div>
    <div class="row">
      <app-form-field class="col-md-2">
        <label>Initial</label>
        <input class="form-control" type="text" formControlName="initials">
      </app-form-field>
      <app-form-field class="col-md-7">
        <label>Nickname</label>
        <input class="form-control" type="text" formControlName="nickname">
      </app-form-field>
    </div>
    <div class="row">
      <app-form-field class="col-md-4">
        <label>Gender</label>
        <select class="form-control" formControlName="gender">
          <option [ngValue]="null">Please select--</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="x">X</option>
        </select>
      </app-form-field>
      <app-form-field class="col-md-4" required="true">
        <!-- TODO: Split DOB into 3 inputs [MM] [DD] [YYYY] -->
        <label>Date of Birth</label>
        <input [class.is-invalid]="invalidField(form, 'headOfHousehold.dob', submitted)" class="form-control"
          type="date" formControlName="dob">
        <small>For example: 31 12 1970</small>
        <span *ngIf="submitted" class="invalid-feedback">
          {{validationErrors['headOfHousehold'].dob}}
        </span>
      </app-form-field>
    </div>
  </section>

  <h3 class="blue-header">EVACUEE FAMILY INFORMATION
    <!-- TODO: Implement animation for info circle on-hover -->
    <app-font-awesome-icon icon="info-circle" className="ml-3 text-white"
      title="Each additional immediate family member needs to be added to the Evacuee Registration if they reside in the same household. Roommates or tenants of the same address need to be registered separately.">
    </app-font-awesome-icon>
  </h3>
  <section class="padded-section">
    <p class="required">Are you registering immediate family members who live in the same household with you?</p>
    <div class="form-group">
      <div class="form-check">
        <input [class.is-invalid]="invalidField(form, 'registeringFamilyMembers', submitted)" class="form-check-input"
          type="radio" value="yes" formControlName="registeringFamilyMembers">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input [class.is-invalid]="invalidField(form, 'registeringFamilyMembers', submitted)" class="form-check-input"
          type="radio" value="yes-later" formControlName="registeringFamilyMembers">
        <label class="form-check-label">Yes, but I'd like to register them when I get to the
          Reception Center</label>
      </div>
      <div class="form-check">
        <input [class.is-invalid]="invalidField(form, 'registeringFamilyMembers', submitted)" class="form-check-input"
          type="radio" value="no" formControlName="registeringFamilyMembers">
        <label class="form-check-label">No</label>
        <span *ngIf="submitted" class="invalid-feedback">
          {{validationErrors['registeringFamilyMembers']}}
        </span>
      </div>
    </div>
    <div *ngIf="ui.showFamilyMembers()" class="feature-block">
      <div class="family-members__list" formArrayName="familyMembers">
        <div class="family-members__item" *ngFor="let entry of familyMembers.controls; index as i;" [formGroupName]="i">
          <!-- TODO: Refactor into sub-component -->
          <div class="row">
            <app-form-field class="col-md-5" required="true">
              <label>Last Name</label>
              <input [class.is-invalid]="invalidField(entry, 'lastName', submitted)" class="form-control" type="text"
                formControlName="lastName">
              <span *ngIf="submitted" class="invalid-feedback">Please enter a last name.</span>
            </app-form-field>
            <div class="form-check col-md-5">
              <input class="form-check-input" type="checkbox" formControlName="sameLastNameAsEvacuee" [value]="true">
              <label class="form-check-label">Same as main applicant</label>
            </div>
          </div>
          <div class="row">
            <app-form-field class="col-md-5" required="true">
              <label>First Name</label>
              <input [class.is-invalid]="invalidField(entry, 'firstName', submitted)" class="form-control" type="text"
                formControlName="firstName">
              <span *ngIf="submitted" class="invalid-feedback">Please enter a first name.</span>
            </app-form-field>
            <app-form-field class="col-md-2">
              <label>Initial</label>
              <input class="form-control" type="text" formControlName="initials">
            </app-form-field>
          </div>
          <div class="row">
            <app-form-field class="col-md-5" required="true">
              <label>Relationship</label>
              <select [class.is-invalid]="invalidField(entry, 'relationshipToEvacuee', submitted)" class="form-control"
                formControlName="relationshipToEvacuee">
                <option [ngValue]="null">Please select--</option>
                <option [ngValue]="item" *ngFor="let item of relationshipTypes$ | async">{{item.description}}
                </option>
              </select>
              <span *ngIf="submitted" class="invalid-feedback">Please select a relationship from the dropdown.</span>
            </app-form-field>
            <app-form-field class="col-md-3" required="true">
              <label>Gender</label>
              <select class="form-control" formControlName="gender">
                <option [ngValue]="null">Please select--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="x">X</option>
              </select>
            </app-form-field>
            <app-form-field class="col-md-4" required="true">
              <label>Date of Birth</label>
              <input [class.is-invalid]="invalidField(entry, 'dob', submitted)" class="form-control" type="date"
                formControlName="dob">
              <span *ngIf="submitted && hasErrors(entry, 'dob', ['required'])" class="invalid-feedback">
                Please enter a date of birth.
              </span>
              <span *ngIf="submitted && hasErrors(entry, 'dob', ['dateInThePast'])" class="invalid-feedback">
                Date of birth must be today or in the past.
              </span>
            </app-form-field>
          </div>
        </div>
      </div>
      <div class="family-members__actions clearfix">
        <a [routerLink]="" class="float-left" (click)="removeFamilyMember()">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon><span class="ml-2">Remove</span>
        </a>
        <a [routerLink]="" class="float-right" (click)="addFamilyMember()">
          <app-font-awesome-icon icon="plus-circle" color="#669900"></app-font-awesome-icon>
          <span class="ml-2">Add another contact</span>
        </a>
      </div>
    </div>
  </section>

  <h3 class="blue-header">PRIMARY RESIDENCE &amp; CONTACT DETAILS</h3>
  <section class="padded-section">
    <div class="d-flex flex-row">
      <p class="m-0 mr-4 required">Is your primary residence within BC</p>
      <div class="form-check form-check-inline">
        <input [class.is-invalid]="invalidField(form, 'primaryResidenceInBC', submitted)" class="form-check-input"
          type="radio" formControlName="primaryResidenceInBC" [value]="true">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input [class.is-invalid]="invalidField(form, 'primaryResidenceInBC', submitted)" class="form-check-input"
          type="radio" formControlName="primaryResidenceInBC" [value]="false">
        <label class="form-check-label">No</label>
      </div>
    </div>
    <span [class.d-block]="invalidField(form, 'primaryResidenceInBC', submitted)" class="invalid-feedback">
      {{validationErrors['primaryResidenceInBC']}}
    </span>
    <section *ngIf="ui.showPrimaryAddressSection()" class="mt-4 feature-block">
      <app-address-selector [parent]="primaryResidence" [touched]="submitted"
        [withinBC]="f['primaryResidenceInBC'].value">
      </app-address-selector>
      <section>
        <div class="row">
          <app-form-field class="col-md-6">
            <label>Telephone / Mobile Number</label>
            <input [class.is-invalid]="invalidField(form, 'phoneNumber', submitted)" class="form-control" type="text"
              placeholder="" formControlName="phoneNumber">
            <span *ngIf="submitted" class="invalid-feedback">
              {{validationErrors['phoneNumber']}}
            </span>
          </app-form-field>
          <app-form-field class="col-md-6">
            <label>Alternate Telephone / Mobile Number</label>
            <input [class.is-invalid]="invalidField(form, 'phoneNumberAlt', submitted)" class="form-control" type="text"
              placeholder="" formControlName="phoneNumberAlt">
            <span *ngIf="submitted" class="invalid-feedback">
              {{validationErrors['phoneNumberAlt']}}
            </span>
          </app-form-field>
        </div>
        <div class="row">
          <app-form-field class="col-md-8">
            <label>Email Address</label>
            <input [class.is-invalid]="invalidField(form, 'email', submitted)" class="form-control" type="text"
              autocomplete="email" spellcheck="false" formControlName="email">
            <small>Your email address will be used to communicate with you about your registration.</small>
            <span *ngIf="submitted" class="invalid-feedback">
              {{validationErrors['email']}}
            </span>
          </app-form-field>
        </div>
      </section>
    </section>
  </section>

  <h3 class="blue-header">MAILING ADDRESS</h3>
  <section class="padded-section">
    <p class="required">Is your mailing address the same as your primary residence?</p>
    <div class="form-group">
      <div class="form-check">
        <input [class.is-invalid]="invalidField(form, 'mailingAddressSameAsPrimary', submitted)"
          class="form-check-input" type="radio" formControlName="mailingAddressSameAsPrimary" [value]="true">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input [class.is-invalid]="invalidField(form, 'mailingAddressSameAsPrimary', submitted)"
          class="form-check-input" type="radio" formControlName="mailingAddressSameAsPrimary" [value]="false">
        <label class="form-check-label">No</label>
        <span *ngIf="submitted" class="invalid-feedback">
          {{validationErrors['mailingAddressSameAsPrimary']}}
        </span>
      </div>
    </div>
    <section *ngIf="ui.showMailingAddressSelector()" class="feature-block">
      <div class="d-flex flex-row">
        <p class="m-0 mr-4 required">Is your mailing address within BC</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="mailingAddressInBC" [value]="true">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="mailingAddressInBC" [value]="false">
          <label class="form-check-label">No</label>
        </div>
      </div>
      <span [class.d-block]="invalidField(form, 'mailingAddressInBC', submitted)" class="invalid-feedback">
        {{validationErrors['mailingAddressInBC']}}
      </span>
      <app-address-selector class="mt-4" *ngIf="ui.showMailingAddressSection()" [parent]="mailingAddress"
        [withinBC]="f['mailingAddressInBC'].value"></app-address-selector>
    </section>
  </section>

  <div *ngIf="errorSummary" class="mt-5 pl-5 text-danger">
    <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon> {{ errorSummary }}
  </div>

  <div class="mt-5 space-between">
    <section>
      <a [routerLink]="">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a>
    </section>
    <section>
      <button class="btn btn-primary" type="submit">NEXT</button>
    </section>
  </div>
</form>
