$iconColor: #c9c9c9;
$infoTextColor: #868686;

.icon-l-padding {
    padding-left: 5px;
}

.fa {
    color: $iconColor;
    cursor: help;
}

.info-text {
    display: block;
    color: $infoTextColor;
}