<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <p class="step h2">STEP 1 of 4</p>
  <h1 class="mt-3">Register as an Evacuee</h1>

  <p>
    If you have been given an evacuation order and have been asked to leave your home, use this step-by-step Evacuee
    Self-Registration form to register with Emergency Support Services.
  </p>

  <p>
    <small>All required fields are marked with an asterisk *</small>
  </p>

  <h2 class="blue-header h3">COLLECTION NOTICE AND AUTHORIZATION</h2>
  <section class="padded-section">
    <!-- <input type="checkbox" class="form-check-input" [formControl]="declarationAndConsent"> -->
    <p>
      <small>Emergency Management BC (EMBC) will collect your personal information for the purpose of providing you with
        emergency services in accordance with section 26(c) of the Freedom of Information and Protection of Privacy Act
        (FoIPPA). EMBC will also collect the information as per section 26(e) of FoIPPA in order to evaluate the ESS
        program. Should you have any questions about the collection, use, or disclosure of personal information, please
        contact the Emergency Support Services Call Centre Manager at PO Box 9201, STN PROV GOVT, Victoria, BC, V8W 9J1 or
        by phone toll free at 1-800-585-9559.</small>
    </p>
    <p>
      <small>By submitting your email address, you authorize the Emergency Management BC to communicate with you by
        email about your registration and to invite you to provide feedback about your experience.</small>
    </p>
  </section>

  <div class="mt-3 feature-block">
    <h2 class="required h3 mt-0">Restriction</h2>
    <p>
      Concerned family and friends may inquire about you and your family because of the emergency. We would like to provide these people with some information about you.<br>
      <strong>May we disclose your location and the contact information for you and your family members?</strong>
    </p>
    <div class="form-check">
      <input type="radio" class="form-check-input" [value]="false" formControlName="restrictedAccess" (click)="setRestricted(false)" id="restrictedAccessFalse">
      <label class="form-check-label" for="restrictedAccessFalse">
        <strong>Yes</strong>
      </label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" [value]="true" formControlName="restrictedAccess" (click)="setRestricted(true)" id="restrictedAccessTrue">
      <label class="form-check-label" for="restrictedAccessTrue">
        <strong>No</strong>
      </label> (Please proceed to the nearest open pilot community Emergency Support Services reception centre
      to initiate your registration and receive supports.)
    </div>
  </div>
  <div *ngIf="disableForm === true">
    <h3 class="blue-header">Proceed to Reception Centre</h3>
    <h4 class="font-weight-bold mt-5">Your data privacy is important to us.</h4>
    <p>
      During an emergency response many people join the response effort. We want to ensure that your information remains
      unseen except by people that are trained to handle sensitive information.
    </p>
    <p>
      Please proceed to the nearest open pilot community Emergency Support Services reception centre to initiate your
      registration and receive supports.
    </p>
    <p>
      Your nearest Reception Centre is listed at <a target="_blank" href="https://www.emergencyinfobc.gov.bc.ca/">EmergencyInfoBC</a>.
    </p>
  </div>

  <div *ngIf="disableForm === false">
    <h2 class="blue-header h3">Evacuee Details</h2>
    <section class="padded-section" formGroupName="headOfHousehold">
      <div class="row">
        <app-form-field class="col-md-9" required="true" tooltip="Tool Tip: Please ensure you use the legal last name of the person registering the family.">
          <label for="lastName">Last Name</label>
          <input type="text" [class.is-invalid]="invalid('headOfHousehold.lastName')" class="form-control text-uppercase" appUpperCase="blur" formControlName="lastName" id="lastName" autocomplete="off">
          <span *ngIf="submitted" class="invalid-feedback">{{validationErrors['headOfHousehold'].lastName}}</span>
        </app-form-field>
      </div>
      <div class="row">
        <app-form-field class="col-md-9" required="true" tooltip="Tool Tip: Please ensure you use the legal first name of the person registering the family.">
          <label for="firstName">First Name</label>
          <input type="text" [class.is-invalid]="invalid('headOfHousehold.firstName')" class="form-control" formControlName="firstName" id="firstName" autocomplete="off">
          <span *ngIf="submitted" class="invalid-feedback">{{validationErrors['headOfHousehold'].firstName}}</span>
        </app-form-field>
      </div>
      <div class="row">
        <app-form-field class="col-md-2">
          <label for="initials">Initial</label>
          <input type="text" class="form-control" formControlName="initials" id="initials" autocomplete="off">
        </app-form-field>
        <app-form-field class="col-md-7">
          <label for="nickname">Preferred Name</label>
          <input type="text" class="form-control" formControlName="nickname" id="nickname" autocomplete="off">
        </app-form-field>
      </div>
      <div class="row">
        <app-form-field class="col-md-4">
          <label for="gender">Gender</label>
          <select class="form-control" formControlName="gender" id="gender">
            <option [ngValue]="null">Please select--</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="x">X</option>
          </select>
        </app-form-field>
        <div class="col-md-4">
          <label class="required" for="dob">Date of Birth</label>
          <input type="text" [textMask]="{mask: dateMask, keepCharPositions: true}" placeholder="yyyy-mm-dd" [class.is-invalid]="invalid('headOfHousehold.dob')" class="form-control" formControlName="dob" id="dob" autocomplete="off">
          <small>(Format: yyyy-mm-dd)</small>
          <span *ngIf="submitted" class="invalid-feedback">{{validationErrors['headOfHousehold'].dob}}</span>
        </div>
      </div>
    </section>

    <h2 class="blue-header h3">Evacuee Family Information
      <!-- TODO: Implement animation for info circle on-hover -->
      <app-font-awesome-icon icon="info-circle" className="ml-3 text-white" title="Each additional immediate family member needs to be added to your Evacuee Registration if they reside in the same household as you. Roommates or tenants of the same address need to be registered separately.">
      </app-font-awesome-icon>
    </h2>
    <section class="padded-section">
      <p class="required">Are you registering immediate family members who live in the same household with you whom you know are safe?</p>
      <div class="form-group">
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" value="yes" formControlName="registeringFamilyMembers" id="registeringFamilyMembersYes">
          <label class="form-check-label" for="registeringFamilyMembersYes">Yes</label>
        </div>
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" value="yes-later" formControlName="registeringFamilyMembers" id="registeringFamilyMembersYesLater">
          <label class="form-check-label" for="registeringFamilyMembersYesLater">Yes, but I'd like to register them when I get to the Reception Centre</label>
        </div>
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" value="no" formControlName="registeringFamilyMembers" id="registeringFamilyMembersNo">
          <label class="form-check-label" for="registeringFamilyMembersNo">No</label>
        </div>
        <span [class.d-block]="invalid('registeringFamilyMembers')" class="invalid-feedback">{{validationErrors['registeringFamilyMembers']}}</span>
      </div>
      <div *ngIf="ui.showFamilyMembers()">
        <div class="family-members__list" formArrayName="familyMembers">
          <div class="feature-block card p-0 mb-2" *ngFor="let entry of familyMembers.controls; index as i;" [formGroupName]="i">
            <!-- TODO: Refactor into sub-component -->
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <label class="required" for="lastName-{{i}}">Last Name</label>
                  <input type="text" [class.is-invalid]="invalid('lastName', entry)" class="form-control text-uppercase" appUpperCase="blur" formControlName="lastName" id="lastName-{{i}}" autocomplete="off">
                  <span *ngIf="submitted" class="invalid-feedback">Please enter a last name.</span>
                </div>
                <!-- <div class="col">
                  <label for="sameLastNameAsEvacuee-{{i}}">Same as main applicant.</label>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [value]="true" formControlName="sameLastNameAsEvacuee" id="sameLastNameAsEvacuee-{{i}}">
                  </div>
                </div> -->
              </div>
              <div class="row mb-2">
                <div class="col">
                  <label class="required" for="firstName-{{i}}">First Name</label>
                  <input type="text" [class.is-invalid]="invalid('firstName', entry)" class="form-control" formControlName="firstName" id="firstName-{{i}}" autocomplete="off">
                  <span *ngIf="submitted" class="invalid-feedback">Please enter a first name.</span>
                </div>
                <div class="col">
                  <label for="initials-{{i}}">Initial</label>
                  <input type="text" class="form-control" formControlName="initials" id="initials-{{i}}" autocomplete="off">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <label class="required" for="relationshipToEvacuee-{{i}}">Relationship to evacuee</label>
                  <select [class.is-invalid]="invalid('relationshipToEvacuee', entry)" class="form-control" formControlName="relationshipToEvacuee" id="relationshipToEvacuee-{{i}}">
                    <option [ngValue]="null">Please select--</option>
                    <option [ngValue]="item" *ngFor="let item of relationshipTypes$ | async">{{item.description}}</option>
                  </select>
                  <span *ngIf="submitted" class="invalid-feedback">Please state your relationship to this family member.</span>
                </div>
                <div class="col">
                  <label for="gender-{{i}}">Gender</label>
                  <select class="form-control" formControlName="gender" id="gender-{{i}}">
                    <option [ngValue]="null">Please select--</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="x">X</option>
                  </select>
                </div>
                <div class="col">
                  <label class="required" for="dob-{{i}}">Date of Birth</label>
                  <input type="text" [textMask]="{mask: dateMask, keepCharPositions: true}" placeholder="yyyy-mm-dd" [class.is-invalid]="invalid('dob', entry)" class="form-control" formControlName="dob" id="dob-{{i}}" autocomplete="off">
                  <small>(Format: yyyy-mm-dd)</small>
                  <span *ngIf="submitted && hasErrors('dob', entry, ['required'])" class="invalid-feedback">Please enter a date of birth.</span>
                  <ng-container *ngIf="submitted && hasErrors('dob', entry, ['date', 'maxDate'])">
                    <span *ngIf="hasErrors('dob', entry, ['date']); else maxDate" class="invalid-feedback">Please enter a valid date.</span>
                    <ng-template #maxDate>
                      <span class="invalid-feedback">Date of birth must be today or in the past.</span>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <app-fa-link icon="times" class="float-left" (click)="removeFamilyMember(i)">
                Remove
              </app-fa-link>
              <app-fa-link icon="plus-circle" color="#669900" class="float-right" (click)="addFamilyMember()">
                Add another contact
              </app-fa-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    <h2 class="blue-header h3">Primary Residence &amp; Contact Details</h2>
    <section class="padded-section">
      <p class="required">Is your primary residence within BC?</p>
      <div class="form-group">
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('primaryResidenceInBC')" class="form-check-input" formControlName="primaryResidenceInBC" [value]="true" id="primaryResidenceInBCTrue">
          <label class="form-check-label" for="primaryResidenceInBCTrue">Yes</label>
        </div>
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('primaryResidenceInBC')" class="form-check-input" formControlName="primaryResidenceInBC" [value]="false" id="primaryResidenceInBCFalse">
          <label class="form-check-label" for="primaryResidenceInBCFalse">No</label>
        </div>
        <span [class.d-block]="invalid('primaryResidenceInBC')" class="invalid-feedback">{{validationErrors['primaryResidenceInBC']}}</span>
      </div>

      <section *ngIf="ui.showPrimaryAddressSection()" class="mt-4 feature-block">
        <app-address-selector [parent]="primaryResidence" [touched]="submitted" [withinBC]="f['primaryResidenceInBC'].value"></app-address-selector>
        <section>
          <div class="row">
            <app-form-field class="col-md-6">
              <label for="phoneNumber">Telephone / Mobile Number</label>
              <input type="text" [class.is-invalid]="invalid('phoneNumber')" class="form-control" [textMask]="{mask: phoneMask, keepCharPositions: true}" placeholder="999-999-9999" formControlName="phoneNumber" id="phoneNumber" autocomplete="off">
              <small class="d-block" *ngIf="!!form.value.primaryResidenceInBC">(Format: 999-999-9999)</small>
              <span *ngIf="submitted" class="invalid-feedback">{{validationErrors['phoneNumber']}}</span>
            </app-form-field>
            <app-form-field class="col-md-6">
              <label for="phoneNumberAlt">Alternate Telephone / Mobile Number</label>
              <input type="text" [class.is-invalid]="invalid('phoneNumberAlt')" class="form-control" [textMask]="{mask: phoneMask, keepCharPositions: true}" placeholder="999-999-9999" formControlName="phoneNumberAlt" id="phoneNumberAlt" autocomplete="off">
              <small class="d-block" *ngIf="!!form.value.primaryResidenceInBC">(Format: 999-999-9999)</small>
              <span *ngIf="submitted" class="invalid-feedback">{{validationErrors['phoneNumberAlt']}}</span>
            </app-form-field>
          </div>
          <div class="row">
            <app-form-field class="col-md-8">
              <label for="email">Email Address</label>
              <input type="email" [class.is-invalid]="invalid('email')" class="form-control" spellcheck="false" formControlName="email" id="email" autocomplete="off">
              <small>Your email address will be used to communicate with you about your registration.</small>
              <span *ngIf="submitted" class="invalid-feedback">{{validationErrors['email']}}</span>
            </app-form-field>
          </div>
        </section>
      </section>
    </section>

    <h2 class="blue-header h3">Mailing Address</h2>
    <section class="padded-section">
      <p class="required">Is your mailing address the same as your primary residence?</p>
      <div class="form-group">
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('mailingAddressSameAsPrimary')" class="form-check-input" formControlName="mailingAddressSameAsPrimary" [value]="true" (click)="nullMailingAddress()" id="mailingAddressSameAsPrimaryTrue">
          <label class="form-check-label" for="mailingAddressSameAsPrimaryTrue">Yes</label>
        </div>
        <div class="form-check">
          <input type="radio" [class.is-invalid]="invalid('mailingAddressSameAsPrimary')" class="form-check-input" formControlName="mailingAddressSameAsPrimary" [value]="false" id="mailingAddressSameAsPrimaryFalse">
          <label class="form-check-label" for="mailingAddressSameAsPrimaryFalse">No</label>
        </div>
        <span [class.d-block]="invalid('mailingAddressSameAsPrimary')" class="invalid-feedback">{{validationErrors['mailingAddressSameAsPrimary']}}</span>
      </div>
      <section *ngIf="ui.showMailingAddressSelector()" class="feature-block">
        <p class="required">Is your mailing address within BC?</p>
        <div class="form-group">
          <div class="form-check">
            <input type="radio" class="form-check-input" formControlName="mailingAddressInBC" [value]="true" id="mailingAddressInBCTrue">
            <label class="form-check-label" for="mailingAddressInBCTrue">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" formControlName="mailingAddressInBC" [value]="false" id="mailingAddressInBCFalse">
            <label class="form-check-label" for="mailingAddressInBCFalse">No</label>
          </div>
          <span [class.d-block]="invalid('mailingAddressInBC')" class="invalid-feedback">{{validationErrors['mailingAddressInBC']}}</span>
        </div>

        <app-address-selector class="mt-4" *ngIf="ui.showMailingAddressSection()" [parent]="mailingAddress" [touched]="submitted" [withinBC]="f['mailingAddressInBC'].value"></app-address-selector>
      </section>
    </section>

    <div *ngIf="errorSummary" class="mt-5 pl-5 text-danger">
      <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon>
      &nbsp;{{errorSummary}}
    </div>

    <div class="mt-5 space-between">
      <section>
        <a routerLink="/">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
      </section>
      <section>
        <button type="submit" class="btn btn-primary">NEXT</button>
      </section>
    </div>
  </div>
</form>
