<div class="row">
  <div class="col col-lg-8">
    <div class="mb-4">
      <h1>Add an Evacuee</h1>
      <p>Before starting a new evacuee registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered.</p>
      <small>
        All required fields are marked with an asterisk *
      </small>
    </div>
    <div [formGroup]="form">

      <div class="mb-4">
        <h3 class="blue-header">
          TASK NUMBER & PLACE OF REGISTRATION
        </h3>
        <app-form-field required="false">
          <label>Task Number</label>
          <select class="form-control" formControlName="incidentTaskNumber">
            <option [ngValue]="null">-- Select task number</option>
            <!-- Todo. Populate the task number values from the data sources -->
            <option value="23465345">23465345</option>
          </select>
        </app-form-field>
        <app-form-field required="true">
          <label>Facility Name / Registration Location</label>
          <input class="form-control" type="text" formControlName="facility">
        </app-form-field>
        <app-form-field required="true">
            <label>Host Community</label>
            <select class="form-control" formControlName="hostCommunity">
              <option [ngValue]="null">-- Select task number</option>
              <!-- Todo. Populate the community values from the data sources -->
              <option value="Grand Forks">Grand Forks</option>
            </select>
          </app-form-field>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    something here
  </div>
</div>