<div class="row">
  <div class="col col-lg-8">
    <!-- <router-outlet></router-outlet> -->
    <app-evacuee-registration-one></app-evacuee-registration-one>
  </div>
  <!-- Information side bar -->
  <div class="col-12 col-lg-4">
    <app-side-box title="Useful Information" icon="description">
      <section role="content">
        <p>
          If the task number you are looking for is not listed, please contact your supervisor.
        </p>
        <!-- <p>
          If the community is not listed please select nearest community and notify your supervisor.
        </p> -->
        <!-- <section role="footer">
          <a class="btn btn-primary" href="tel:1-800-663-3456">1-800-663-3456</a>
        </section> -->
      </section>
    </app-side-box>
  </div>
</div>