<div class="feature-block error-page bg-warning">
  <p class="round-icon-wrapper text-muted bg-light h2 mt-0">
    <app-font-awesome-icon icon="exclamation"></app-font-awesome-icon>
  </p>
  <div class="pl-4">
    <h1 class="mt-0 mb-4">Evacuee Self-Registration ERROR</h1>
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet
      pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur
      et arcu a fringilla.</p>
  </div>
</div>
