<div class="feature-block error-page bg-warning">
  <p class="round-icon-wrapper text-muted bg-light h2 mt-0">
    <app-font-awesome-icon icon="exclamation"></app-font-awesome-icon>
  </p>
  <div class="pl-4">
    <h1 class="mt-0 mb-4">Evacuee Self-Registration ERROR</h1>
    <p class="mb-4">An error has occured while submitting the form. Please try completing and submitting the self-registration form again, or contact with a volunteer handling the emergency response.</p>
    <p>An up-to-date list of emergency response centres can be found at <a href="https://www.emergencyinfobc.gov.bc.ca/">EmergencyInfoBC</a>.</p>
  </div>
</div>
