<div class="info-container">
  <div class="info-header">
    <button type="button" class="close close-padding" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please continue the registration and contact your insurance provider for support.</p>
    <p>Emergency Support Services is intended for those without supports such as insurance coverage or friends and
      family who can assist.</p>
      <div class="btn-container">
        <button type="button" class="btn btn-primary" (click)="activeModal.close()">CLOSE</button>
      </div>
  </div>
</div>