.jumbotron {
    background-color: lightgray;
    border-left-color: rgb(248, 73, 73);
    border-left-width: 7px;
    padding: 1rem 1rem;
    h1 {
        font-size: 45px;
        font-weight: 600;
        align-content: flex-start;
        top: 100px;
    }
}
