<div class="jumbotron">
  <p class="round-icon-wrapper text-white h2 mr-2 float-left">
    <span class="nudge">
      <app-font-awesome-icon icon="check"></app-font-awesome-icon>
    </span>
  </p>
  <h1 class="mt-0 mb-4">Evacuee Self-Registration Success</h1>
  <h2 class="font-weight-bold">What you need to know:</h2>
  <ul class="arrow">
    <li>
      Your Emergency Support Services File Number is:
      <p class="h1 ml-3">{{ registrationNumber }}</p>
    </li>
    <li>Your Emergency Support Services File Number has been emailed to you.</li>
    <li>If you are under order and require any emergency support services, proceed to your designated Reception Centre. A list of open Reception Centres can be found at <a target="_blank" href="https://www.emergencyinfobc.gov.bc.ca/">Emergency Info BC</a>.</li>
    <li>Please bring your Emergency Support Services File Number with you to the Reception Centre.</li>
    <li>If you do not require emergency support services, or are under alert, no further actions are required.</li>
    <li>If you are at a Reception Centre, proceed to one of the Emergency Support Services volunteers on site who will be able to assist you with completing your registration.</li>
  </ul>
</div>
