<div class="feature-block thank-you">
  <h2 class="round-icon-wrapper text-white mt-0">
    <app-font-awesome-icon icon="check"></app-font-awesome-icon>
  </h2>
  <div class="pl-4">
    <h1 class="mt-0 mb-4">Evacuee Self-Registration Success</h1>
    <p class="font-weight-bold mb-4">What you need to know:</p>
    <ul class="arrow">
      <li>
        Your ESS File Number is:
        <h1 class="registration-number">{{ registrationNumber }}</h1>
      </li>
      <li>
        If you do not require support services, no further action is needed.
      </li>
      <!-- TODO: Add proper link to EmergencyInfoBC -->
      <li>
        If services are required, please report to your nearest Reception Centre. An updated list of reception centres
        can be found at <span style="text-decoration:underline;">EmergencyInfoBC</span>.
      </li>
      <li>
        If you are at a Reception Centre, proceed to one of the ESS volunteers on site who will be able to assist you
        with completing your registration.
      </li>
      <li>
        Don’t forget to bring your evacuee registration number with you to the Reception Centre.
      </li>
      <li>
        A copy of your registration as well as your ESS File Number has been emailed you.
      </li>
    </ul>
  </div>
</div>
