<div class="jumbotron">
  <h1 style="color:darkblue">Submission Complete</h1>
  <p></p>
  <h2 style="color:blue">Your Emergency Support Services File Number is: <strong>{{ registrationNumber }}</strong></h2>
  <p></p>
  <p>Thank you for submitting your online self-registration.</p>
  <h3 style="color:blue"><strong>Next Steps</strong></h3>
    <ul class="arrow">
      <li>Please keep a record of your Emergency Support Services File Number to receive emergency support services that can be provided up to 72 hours starting from the time connecting in with a local ESS Responder at a Reception Centre.</li>
      <li>After a need's assessment interview with a local ESS Responder has been completed, supports are provided to purchase goods and services if eligible.</li>
      <li>Any goods and services purchased prior to a need's assessment interview are not eligible for retroactive reimbursement.</li>
      <li>If you are under <strong>EVACUATION ALERT</strong> or <strong>DO NOT</strong> require emergency serves at this time, no further action is required.</li>
      <li>If you are under <strong>EVACUATION ORDER</strong>, and require emergency supports, proceed to your nearest Reception Centre. A list of open Reception Centres can be found at <a target="_blank" href="https://www.emergencyinfobc.gov.bc.ca/">Emergency Info BC</a>.</li>
      <li>If <strong>NO</strong> nearby Reception Centre is open and immediate action is required, please contact your Local Emergency Program for next steps.</li>
    </ul>
</div>
<div class="btn-container">
  <a routerLink="" class="btn btn-primary">RETURN TO THE ESS HOMEPAGE</a>
</div>
