<div class="row">
  <div class="col-lg-9">
    <!-- TODO: this registration list should be broken into components without the header block -->
    <app-organization-maker></app-organization-maker>
    <hr>
  </div>

  <div class="col-lg-3">
    <app-side-box>
      <p>
        Please contact <a class="text-light" href="https://www.bceid.ca/aboutbceid/contact_us.aspx">BCeID Help Desk</a>
        for support at 1-888-356-2741 for any Business BCeID related queries.
      </p>
    </app-side-box>
  </div>
</div>