<div class="mb-4">
  <h1>Tasks</h1>

  <p>
    The Emergency Coordination Centre (ECC) is responsible for adding task numbers to this list.
    If you need a new task number, contact the ECC at 1-800-663-3456.
  </p>

  <h3 class="blue-header">Task List</h3>

  <form novalidate role="search" class="form-row" [formGroup]="form">
    <div class="col">
      <label class="sr-only" for="searchbox">Associated EMBC Regional District / Community</label>
      <app-communities-select [myParent]="form" myFormControlName="searchbox" myId="searchbox" myPlaceHolder='Start Typing an Incident Location ...'></app-communities-select>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary text-uppercase" (click)="filter(form.value.searchbox)">Filter</button>
    </div>
  </form>
  <div class="search-results mt-4">
    <div *ngIf="results && results.length > 0; then searchResultsTable; else notFound"></div>
  </div>

  <ng-template #searchResultsTable>
    <div class="row mb-2">
      <div class="col">
        <app-pagination-summary [value]="pagination">
          <span class="font-weight-bold text-uppercase">active</span> tasks
          <!-- TODO: <small class="ml-3">(<a href="">show deactivated</a>)</small> -->
        </app-pagination-summary>
      </div>
      <div class="col">
        <button class="btn btn-primary float-right text-uppercase" (click)="modifyTaskNumber()">Add Task Number</button>
      </div>
    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <th scope="col text-uppercase">Task Number</th>
        <th scope="col text-uppercase">Incident Location</th>
        <th scope="col text-uppercase"># Associated Evacuees</th>
        <th scope="col text-uppercase">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let incidentTask of results">
          <td>{{incidentTask?.taskNumber}}</td>
          <td>{{incidentTask?.community?.name}}</td>
          <td>{{incidentTask?.totalAssociatedEvacuees > 0 ? incidentTask?.totalAssociatedEvacuees : 'n/a'}}</td>
          <td>
            <a href="javascript:void(0)" (click)="modifyTaskNumber(incidentTask.id)">Edit Task Details</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary float-right text-uppercase" (click)="modifyTaskNumber()">Add Task Number</button>
      </div>
    </div>
  </ng-template>

  <ng-template #notFound>
    <p>
      {{notFoundMessage}}
    </p>
  </ng-template>
</div>
