// Colors
$gold: #fcba19;

// Background Colors
$bg-dark: #003366;
$bg-light-blue: #f1f4fa;

// Font Colors
$font-color: #494949;

// Cards
$card-width: auto; // 400px;
$card-body-bg: $bg-light-blue;

// Side Boxes
$side-box-color: #fff;
$side-box-bg: #38598A;

// Feature Blocks
$feature-block-color: $font-color;
$feature-block-bg: $bg-light-blue;

// Form Controls
$fc-height:                     2.75rem;
$fc-border-color:               #ccc;
$fc-bg:                         #fff;
$fc-inner-shadow:               0.1rem 0.1rem 0.1rem #eee;
$fc-placeholder-color:          #999;
$fc-focus-border-color:         #5091cd;
$fc-invalid-color:              #d9534f;
$fc-invalid-bg:                 #ffffd8;

// List Variants
$summary-bg:                    #fff;
$summary-row-bg:                #e1e8f2;
$summary-alt-row-bg:            #f1f4fa;
