<div class="mb-4">
  <h1>Add a Task Number</h1>
  <p>The Emergency Coordination Centre is responsible for adding task numbers to the system. If you need a new task
    number, contact the ECC at 1 800-663-3456.</p>
  <small>All fields are required</small>
  <h3 class="blue-header">
    Task Details
  </h3>
  <div class="col mb-4">
    <label class="required" for="taskNumber">Task Number</label>
    <input class="form-control" type="text" [formControl]="taskNumber" id="taskNumber">
  </div>
  <div class="col mb-4">
    <label class="required" for="community">Community</label>
    <app-communities-select [myFormControl]="community" id="community" [myRequired]="true"></app-communities-select>
  </div>
  <div class="col mb-4">
    <label class="required" for="details">Details of Incident</label>
    <input class="form-control" type="text" placeholder="Please specify" [formControl]="details" id="details">
  </div>
</div>
<div class="mt-5 space-between">
  <section>
    <a routerLink="/dashboard">
      <app-font-awesome-icon icon="times"></app-font-awesome-icon>
      <span class="ml-2">Cancel &amp; Close</span>
    </a>
  </section>
  <section>
    <button class="btn btn-primary float-right" (click)="next()">Next</button>
  </section>
</div>

<!-- TODO Need yellow horizontal rule -->