<div class="mb-4">
  <h1>ESS Team Dashboard</h1>
  <h3>Welcome to your Dashboard!</h3>
  <p>As an Emergency Support Services user you'll be able to register new evacuees, complete an existing evacuee
    self- registration, or if needed, search and edit evacuee information.</p>
  <h3 class="blue-header">LIST OF EVACUEES</h3>

  <app-search-bar #searchBar (valueChange)="doSearch($event)" placeholder="Search by task number / last name / registration number / community ...">
  </app-search-bar>

  <!-- TODO: <a class="small" href="">advanced search</a> -->
  <!-- TODO: show icons for HOH, RESTRICTED FILE -->

  <!-- The start of the table stuff. -->
  <p *ngIf="collectionSize>0">{{(maxSize * page)-maxSize}} - {{maxSize * page}} of {{collectionSize}}
    <!-- <span class="font-weight-bold">ACTIVE</span> evacuees
    <small class="ml-3">(<a href="">show deactivated</a>)</small> -->
  </p>
  <app-evacuee-search-results #searchResultsView [searchResults]="searchResults$ | async">
  </app-evacuee-search-results>

  <!-- <select class="form-control" [(ngModel)]="maxSize">
    <option *ngFor="let increment of increments" [value]="increment">{{increment}}</option>
  </select> -->
  <!-- <span *ngIf="this.totalPages>1"> -->
  <ngb-pagination class="float-right" [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="boundaryLinks" (pageChange)="onPageChange($event)"></ngb-pagination>
  <!-- </span> -->
</div>