<app-layout-main>
  <div style="background-color:bisque;">
    <h1>Emergency Support Services Dashboard</h1>
    <h3>Welcome to your Dashboard!</h3>
    <p>As an Emergency Support Services user you'll be able to register new evacuees, complete an existing evacuee
      self- registration, or if needed, search and edit evacuee information.</p>
    <h3 class="blue-header">LIST OF EVACUEES</h3>
  </div>

  <app-search-bar #searchBar (valueChange)="doSearch($event)" placeholder="Search by task number / last name / registration number / community ...">
  </app-search-bar>
  <!-- This page should be split into components. I haven't done this because it requires changes to how the components talk.-->
  <!-- <app-registration-list></app-registration-list> -->

  <pre>{{searchResults$|async|json}}</pre>
</app-layout-main>
<app-layout-side>
  TODO: These components need updating.
  <app-collection-notice></app-collection-notice>
  <app-add-evacuee></app-add-evacuee>
  <app-side-box title="Useful Information">
    <section role="content">
      <p>
        Evacuees listed here that do not have a task number are self-registered and have not yet received Emergency
        Support Services.
      </p>
      <p>
        Use the “Action” column to “view” evacuee registrations as well as “finalize” evacuee self-registrations.
      </p>
    </section>
    <!-- <section role="footer">
        <button class="btn btn-primary" routerLink="/">Learn More</button>
      </section> -->
  </app-side-box>
</app-layout-side>