<!--
  TODO: this component needs to have:
    - FE will *always* send the "totalAmount" to the BE (even if not overridable)
    - Case in point, for restaurant meals, the FE will calculate the total amount and send it over
 -->
<div *ngIf="referral">
  <div *ngIf="!readOnly">
    <form novalidate [formGroup]="form">
      <div class="space-between align-items-center">
        <app-valid-from-to [referralDate]="referral.dates" (referralDateChange)="updateReferralDate($event)" [id]="uuid"></app-valid-from-to>
        <button type="button" class="btn btn-secondary" (click)="viewRates()">VIEW ESS RATES</button>
      </div>

      <div class="feature-block card border-0 p-0 mt-4">
        <div class="row">
          <div class="col-5 pr-0">
            <div class="pt-4 pl-4">
              <app-evacuee-list [evacuees]="evacuees" [selected]="selected.value" [errors]="selected.errors" [showErrorsWhen]="showErrorsWhen" (select)="selectEvacuee($event)" (selectAll)="selectAllEvacuees()"></app-evacuee-list>
            </div>
          </div>
          <div class="col-7">
            <div class="pt-4 pr-4">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="subType_{{uuid}}">Food required:</label>
                    <select class="form-control" id="subType_{{uuid}}" formControlName="subType">
                        <option [ngValue]="null">Select--</option>
                        <option value="RESTAURANT">Restaurant Meals</option>
                        <option value="GROCERIES">Groceries</option>
                    </select>
                  </div>
                </div>

                <div *ngIf="subType==='RESTAURANT'">
                  <div class="col-3 form-group pl-0">
                    <label for="numBreakfasts_{{uuid}}"># Breakfasts per person</label>
                    <select class="form-control" id="numBreakfasts_{{uuid}}" formControlName="numBreakfasts">
                      <option value="0">Select--</option>
                      <option *ngFor="let n of days" [ngValue]="n">{{n}}</option>
                    </select>
                  </div>
                  <div class="col-3 form-group pl-0">
                    <label for="numLunches_{{uuid}}"># Lunches per person</label>
                    <select class="form-control" id="numLunches_{{uuid}}" formControlName="numLunches">
                      <option value="0">Select--</option>
                      <option *ngFor="let n of days" [ngValue]="n">{{n}}</option>
                    </select>
                  </div>
                  <div class="col-3 form-group pl-0">
                    <label for="numDinners_{{uuid}}"># Dinners per person</label>
                    <select class="form-control" id="numDinners_{{uuid}}" formControlName="numDinners">
                      <option value="0">Select--</option>
                      <option *ngFor="let n of days" [ngValue]="n">{{n}}</option>
                    </select>
                  </div>
                </div>

                <div *ngIf="subType==='GROCERIES'">
                  <div class="col-3 form-group pl-0">
                    <label for="numDaysMeals_{{uuid}}"># Days of meals</label>
                    <select class="form-control" id="numDaysMeals_{{uuid}}" formControlName="numDaysMeals">
                      <option value="0">Select--</option>
                      <option *ngFor="let n of days" [ngValue]="n">{{n}}</option>
                    </select>
                  </div>
                </div>

                <div class="card-footer blue-header space-between" *ngIf="subType==='RESTAURANT'">
                  <div>UP TO A MAXIMUM VALUE OF {{currency.format(totalAmount)}}</div>
                </div>

                <div class="card-footer blue-header space-between" *ngIf="subType==='GROCERIES'">
                  <div>UP TO A MAXIMUM VALUE OF {{currency.format(totalAmount)}}</div>
                  <div>
                    <label class="col-form-label">Total Amount:</label>
                    <div class="col d-flex input-with-icon">
                      <span aria-hidden="true">$</span>
                      <input type="number" appErrorBorder [when]="showErrorsWhen" #amountInput class="form-control" formControlName="totalAmount">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <span class="invalid-feedback justify-content-end" [class.d-flex]="amountInput.classList.contains('is-invalid')">
                Please enter a total amount for incidentals
              </span> -->
            </div>
          </div>
        </div>

        <div class="card m-4">
          <div class="card-body">
            <app-supplier [supplier]="referral.supplier" [showErrorsWhen]="showErrorsWhen" (supplierChange)="updateSupplier($event)"></app-supplier>
          </div>
        </div>

        <div class="col p-4">
          <textarea class="form-control" formControlName="comments" placeholder="Add comments" rows="4" maxlength="250"></textarea>
        </div>
      </div>
    </form>
  </div>

  <!-- *********************************SUMMARY BELOW****************************************** -->
  <div *ngIf="readOnly">
    <ul class="summary mx-3">
      <li class="summary-heading">
        <div class="container py-3">
          <div class="row">
            <div class="col-6">
              <div class="h1 my-3">Food</div>
              <div>
                <span class="name"><strong>Valid From:</strong></span>
                <span>{{referral.dates?.from | date : 'MMM-dd-yyyy'}}</span>
              </div>
              <div>
                <span class="name"><strong>Valid To:</strong></span>
                <span>{{referral.dates?.to | date : 'MMM-dd-yyyy'}}</span>
              </div>
            </div>
            <!-- TODO: use <app-supplier> here -->
            <!-- TODO: this needs to be centered vertically -->
            <div class="col-6" *ngIf="referral.supplier">
              <div><strong>{{referral.supplier?.name}}</strong></div>
              <div>{{referral.supplier?.address}}</div>
              <div>{{referral.supplier?.city + ', BC'}} &nbsp;&nbsp; {{referral.supplier?.postalCode}}</div>
              <div>Tel: {{referral.supplier?.telephone}} | Fax: {{referral.supplier?.fax}}</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <span class="name">Person responsible for purchasing goods:</span>
        <span class="value">{{referral.purchaser}}</span>
      </li>
      <li *ngIf="referral.id">
        <span class="name">Referral Status:</span>
        <span class="value">{{referral.active ? 'ACTIVE' : 'DEACTIVATED'}}</span>
      </li>
      <li *ngIf="referral.id">
        <span class="name">Referral #:</span>
        <span class="value">{{referral.id}}</span>
      </li>
      <li>
        <!-- TODO: use <app-evacuee-list> here -->
        <!-- TODO: iterate over all family members and only 'check' the selected ones -->
        <span class="name">Evacuees Requiring Incidentals:</span>
        <span class="value">
          <div class="mt-2" *ngFor="let e of referral.evacuees">
            <label>{{e.lastName}}, {{e.firstName}}</label>
          </div>
        </span>
      </li>
      <li>
        <span class="name"># Days for Meals:</span>
        <span class="value">{{referral.dates.days}}</span>
      </li>
      <li>
        <span class="name">Up to a total of:</span>
        <span class="value">${{referral.totalAmount}}</span>
      </li>
      <li>
        <span>{{referral.comments}}</span>
      </li>
    </ul>
  </div>

</div>
