// to make 'invalid-feedback' message visible after custom component
app-communities-select {
  &.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }
}

.internal-case-notes {
  white-space: pre;
  padding: 1rem;
}
