<div class="modal-header">
  <h1 class="modal-title h2">Emergency Support Services Rates</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <table class="table table-rates">
    <thead>
      <tr class="light">
        <th scope="col" colspan="2">CLOTHING</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="dark">
        <th scope="row">1</th>
        <td class="light">Adults, youth &amp; children</td>
        <td><strong>Up to $150.00 maximum per person (incl. PST).</strong></td>
      </tr>
      <tr class="dark">
        <th scope="row">2</th>
        <td class="light">Extreme Winter Conditions</td>
        <td>Where extreme winter conditions apply at the time of the incident, and on a needs basis, amount may be
          increased to <strong>$200 per person</strong>.</td>
      </tr>
    </tbody>
  </table>

  <div>
    <p><strong>NOTE:</strong> To be issued when evacuees have been unable to pack necessities.<br>
      Clothing is provided as needed to preserve health and modesty. This is not wardrobe replacement.<br>
      Clothing may include footwear or special needs items such as baby diapers.</p>
  </div>
