<app-warning-banner [show]="isIE"></app-warning-banner>
  <app-header [currentUser]="currentUser"></app-header>

<div class="container">

<div class="app-outer" *ngIf="isIE == false">
  <div *ngIf="isNewUser">
    <!-- <main class="app-content"> -->
      <!-- <app-bceid-confirmation *ngIf="currentUser && currentUser.isNewUser == true" (reloadUser)="reloadUser()" [currentUser]="currentUser"></app-bceid-confirmation> -->
    <!-- </main> -->
  </div>
  <div *ngIf="isReturningUser || isAuthenticated == false">
    <!-- TODO: /NAVBAR START -->
    <!-- /NAVBAR END -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <button (click)="submitARegistrationTest()">Fake register.</button>
    <!-- <main class="app-content"> -->
      <!-- <div class="app-main"> -->
        <!-- <breadcrumb></breadcrumb> -->
        <!-- <router-outlet></router-outlet> -->
      <!-- </div> -->
    <!-- </main> -->
  </div>
</div>
</div>
<app-footer [versionInfo]="versionInfo"></app-footer>
