<app-warning-banner [show]="isIE"></app-warning-banner>
<app-header [currentUser]="authService.currentUser"></app-header>
<!-- Todo: only show the navbar when the user is logged in as a volunteer or administrator. -->
<app-top-navigation></app-top-navigation>
<app-notification-banner></app-notification-banner>
<div>
  <div class="app-outer" *ngIf="isIE == false">
    <div>
      <!-- TODO: /NAVBAR START -->
      <!-- /NAVBAR END -->
      <div class="container">
        <router-outlet></router-outlet>
      </div>

      <div class="verticalOffset"></div>
    </div>
  </div>
</div>
<app-footer [versionInfo]="versionInfo"></app-footer>