<div class="row">
  <div class="col col-lg-8">
    <div class="mb-4">
      <h1>Volunteer Dashboard</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu a fringilla.</p>
      <h4 class="blue-header">LIST OF EVACUEES</h4>

      <div class="form-row">
        <div class="col-md-9">
          <input type="search" class="form-control mb-2" id="searchBox" placeholder="Search by task number / last name / registration number / community / ...">
          <!-- <a class="small" href="">advanced Search</a> -->
        </div>
        <div class="col-3">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
    <div>
      <!-- The start of the table stuff. -->
      <p>1 - 10 of 2000 active evacuees 
        <small class="ml-3">(<a href="">show deactivated</a>)</small>
      </p>
      <table class="table">
        <thead>
          <th scope="col"></th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Task #</th>
          <th scope="col">ESS File #</th>
          <th scope="col">Evacuated From</th>
          <th scope="col">Evacuated To</th>
          <th scope="col">Referrals</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
          <!-- <tr class="table-danger">...</tr> -->
          <tr *ngFor="let stub of registrations" [class.table-danger]="stub.restrictedAccess">
            <th>
              <span *ngIf="stub.personType==='HOH'">
               <i class="fas fa-user mr-1"></i>
              </span>
              <span *ngIf="stub.restrictedAccess">
                <i class="fas fa-lock"></i>
              </span>
            </th>
            <td>{{stub.firstName}}</td>
            <td>{{stub.lastName}}</td>
            <td>{{stub.incidentTaskTaskNumber}}</td>
            <td>{{stub.essFileNumber}}</td>
            <td>{{stub.evacuatedFrom}}</td>
            <td>{{stub.evacuatedTo}}</td>
            <td>Yes</td>
            <td>
              <a *ngIf="stub.registrationCompletionDate===null" href="">Complete</a>
              <a *ngIf="stub.registrationCompletionDate!==null" href="">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="col-12 col-lg-4">
    <app-side-box-info title="ADD AN EVACUEE" content="This is example content." button="Click me." ></app-side-box-info>
    <!-- TODO: Refactor into a common component Stepper -->
    <section class="step" style="display: block; background-color: #F1F4FA">
      <h3 class="blue-header">ADD AN EVACUEE</h3>
      <section role="content">
        <p>
          Before starting a new registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered.
        </p>
      </section>
      <section role="footer">
        <button class="btn btn-primary" routerLink="/">Learn More</button>
      </section>
    </section>


    <app-side-box title="Useful Information">
      <section role="content">
        <p>
          Evacuees listed here that do not have a task number are self-registered and have not yet received Emergency Social Services.
        </p>
        <p>
          Use the “Action” column to “view” evacuee registrations as well as “finalize” evacuee self-registrations.
        </p>
      </section>
      <section role="footer">
        <button class="btn btn-primary" routerLink="/">Learn More</button>
      </section>
    </app-side-box>
  </div>    

</div>