<div class="row">
  <div class="col">
    <div class="mb-4">
      <h1>Volunteer Dashboard</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu a fringilla.</p>
      <h4 class="blue-header">LIST OF EVACUEES</h4>

      <div class="form-row">
        <div class="col-md-9">
          <input type="search" class="form-control mb-2" id="searchBox" placeholder="Search by task number / last name / registration number / community / ...">
          <!-- <a class="small" href="">advanced Search</a> -->
        </div>
        <div class="col-3">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
    <div>
      <!-- The start of the table stuff. -->
      <p>1 - 10 of 2000 active evacuees 
        <small class="ml-3">(<a href="">show deactivated</a>)</small>
      </p>
      <table class="table">
        <thead>
          <th scope="col"></th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Task #</th>
          <th scope="col">ESS File #</th>
          <th scope="col">Evacuated From</th>
          <th scope="col">Evacuated To</th>
          <th scope="col">Referrals</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
          <!-- <tr class="table-danger">...</tr> -->
          <tr *ngFor="let stub of registrations" [class.table-danger]="stub.restrictedAccess">
            <th>
              <span *ngIf="stub.personType==='HOH'">
                HOH
              </span>
              <span *ngIf="stub.restrictedAccess">
                Lock
              </span>
            </th>
            <td>{{stub.firstName}}</td>
            <td>{{stub.lastName}}</td>
            <td>{{stub.incidentTaskTaskNumber}}</td>
            <td>{{stub.essFileNumber}}</td>
            <td>{{stub.evacuatedFrom}}</td>
            <td>{{stub.evacuatedTo}}</td>
            <td>Yes</td>
            <td>
              <a *ngIf="stub.registrationCompletionDate===null" href="">Complete</a>
              <a *ngIf="stub.registrationCompletionDate!==null" href="">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="col-4">
    <app-side-box title="Important Notice for Evacuees">
      <section role="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis porttitor scelerisque. Proin
          blandit
          suscipit ultrices. Proin dictum libero eget justo rhoncus sollicitudin.
        </p>
      </section>
      <section role="footer">
        <button class="btn btn-primary" routerLink="/">Learn More</button>
      </section>
    </app-side-box>
  </div>    

</div>