table {
  width: 100%;

  tbody tr {
    vertical-align:middle;
    height: 60px;

    td:nth-of-type(1) { width:  5%; } // checkbox
    td:nth-of-type(2) { width: 15%; } // referral #
    td:nth-of-type(3) { width: 20%; } // supplier name
    td:nth-of-type(4) { width: 15%; } // valid from...
    td:nth-of-type(5) { width: 15%; } // valid to...
    td:nth-of-type(6) { width: 15%; } // type
    td:nth-of-type(7) { width: 15%; } // action
  }

  tbody tr td {
    vertical-align: middle;
  }
}
