<div class="row">
    <div class="col-12 col-pushed">
        <h3 class="with-icon incidentals">Incidentals Details</h3>
        <p>Incidentals details go here. Incidentals details go here. Incidentals details go here. Incidentals details go here. Incidentals details go here. Incidentals details go here. Incidentals details go here. Incidentals details go here.</p>
        <ul class="item-list">
            <li><strong>Total value: </strong> <span class="input-output"> </span><em>(incl. GST/PST)</em></li>
        </ul>
    </div>
</div>
