<div class="row">
  <div class="col" (click)="submit()">
    <h4>Countries</h4>
    <pre>{{countries$ | async | json}}</pre>
  </div>
  <div class="col">
    <h4>Regional Districts</h4>
    <pre>{{regionalDistricts$ | async | json}}</pre>
  </div>
  <div class="col">
    <h4>Regions</h4>
    <pre>{{ regions$ | async | json}}</pre>
  </div>
  <div class="col" (click)="submit()">
    <h4>Incident Task</h4>
    <pre>{{ incidentTasks | json}}</pre>
  </div>
  <div class="col">
    <h4>Registrations</h4>
    <pre>{{registrations | json}}</pre>
  </div>
  <!-- <div class="col">
    <h4>Regions</h4>
    <pre>{{ regions | json}}</pre>
  </div> -->
</div>