<div class="row">
  <div class="col">
    Communities
    <pre>{{communities$ | async | json}}</pre>

  </div>
  <div class="col">
    <ul>
      <li>
        <a routerLink="../volunteer-edit/fill">
          volunteer-edit/fill
        </a>
      </li>
      <!-- <li>
        <a routerLink="../volunteer-edit/fill/EXAMPLE">
          volunteer-edit/fill/:id
        </a>
      </li> -->
      <li>
        <a routerLink="../volunteer-edit/confirmation">
          volunteer-edit/confirmation
        </a>
      </li>

      <li>
        <a routerLink="../volunteer-team-dashboard">
          volunteer-team-dashboard
        </a>
      </li>
      <li>
        <a routerLink="../register-evacuee/fill">
          register-evacuee/fill
        </a>
      </li>
      <!-- <li>
        <a routerLink="../register-evacuee/fill/IDNUMBER">
          register-evacuee/fill/IDNUMBER
        </a>
      </li> -->
      <!-- <li>
        <a routerLink="../evacuee-summary/IDNUMBER">
          evacuee-summary/IDNUMBER
        </a>
      </li> -->
      <li>
        <a routerLink="../volunteer-info">
          volunteer-info (useful-info)
        </a>
      </li>
      <li>
        <a routerLink="../admin-dashboard">
          admin-dashboard
        </a>
      </li>
      <li>
        <a routerLink="../add-task-number">
          add-task-number
        </a>
      </li>
    </ul>
  </div>
</div>