<div class="row">
  <div class="col-lg-9">
    <!-- TODO: this registration list should be broken into components without the header block -->
    <app-local-authority-evacuee-list></app-local-authority-evacuee-list>
    <hr>
  </div>
  <div class="col-lg-3">
    <!-- <app-collection-notice></app-collection-notice> -->
    <app-sidebox-add-registration></app-sidebox-add-registration>
    <app-sidebox-add-volunteer></app-sidebox-add-volunteer>
    <app-side-box>
      <p>
        Evacuees listed here that do not have a task number are self-registered and have not yet received Emergency Support Services.
      </p>
      <p>
        Use the “Action” column to “view” evacuee registrations as well as “finalize” evacuee self-registrations.
      </p>
    </app-side-box>
  </div>
</div>
