<h3 class="with-icon taxi">Taxi {{> itemsDetailTitle}}</h3>
<div class="row">
    <div class="col-5 no-padding">
        <label class="blocked-label">From:</label> <span class="input-output">{{FromAddress}}</span>
    </div>
</div>
<div class="row">
    <div class="col-5 no-padding">
        <label class="blocked-label">To:</label> <span class="input-output">{{ToAddress}}</span>
    </div>
</div>
<br />
