<!-- No navbar (default state) -->

<!-- Volunteer navbar -->
<nav *ngIf="role==='role_volunteer'" class=" navbar navbar-default navbar-expand navbar-footer navbar-static-bottom">
  <ul class="navbar-nav">
    <li class="mr-4">
      <a routerLink="/" title="Go Home">Home</a>
    </li>
    <li class="mr-4">
      <a routerLink="volunteer/evacuees" title="Go to Evacuees Area">Evacuees</a>
    </li>
    <li class="mr-4">
      <a routerLink="volunteer/useful-info" title="Go to useful information">Useful Information</a>
    </li>
  </ul>
</nav>

<!-- Local authority navbar -->
<nav *ngIf="role==='role_local_authority'" class="navbar navbar-default navbar-expand navbar-footer navbar-static-bottom">
  <ul class="navbar-nav">
    <li class="mr-4">
      <a routerLink="/" title="Go Home">Home</a>
    </li>
    <li class="mr-4">
      <a routerLink="local-authority/evacuees" title="Go to Evacuees Area">Evacuees</a>
    </li>

    <!-- Only visible by local authority -->
    <li class="mr-4">
      <a routerLink="local-authority/volunteers" title="Go to ESS Team page">ESS Team</a>
    </li>

    <!-- TODO: The  link goes to the useful information page. Can be uncommented when the useful information pull request is accepted-->
    <li class="mr-4">
      <a routerLink="local-authority/useful-info" title="Go to useful information">Useful Information</a>
    </li>
  </ul>
</nav>

<!-- Administrator navbar -->
<nav *ngIf="role==='provincial_admin'" class="navbar navbar-default navbar-expand navbar-footer navbar-static-bottom">
  <ul class="navbar-nav">
    <li class="mr-4">
      <a routerLink="/" title="Go Home">Home</a>
    </li>
    <li class="mr-4">
      <a routerLink="provincial-admin/edit-task-numbers" title="Manage Task Numbers">Task-Numbers</a>
    </li>
    <li class="mr-4">
      <a routerLink="provincial-admin/evacuees" title="Go to Evacuees Area">Evacuees</a>
    </li>
    <li class="mr-4">
      <a routerLink="provincial-admin/organizations" title="Manage Organizations">Organizations &amp; Users</a>
    </li>
    <!-- The link should go to the page of volunteer users for the administrator?? -->
    <!-- TODO: The  link goes to the useful information page. Can be uncommented when the useful information pull request is accepted-->
    <li class="mr-4">
      <a routerLink="provincial-admin/useful-info" title="Go to useful information">Useful Information</a>
    </li>
  </ul>
</nav>