<div>
  <h1>ELECTRONIC ACCESS AGREEMENT</h1>

  <section class="scroll-box">
    <p>
      BETWEEN:
    </p>
    <p>
      HER MAJESTY THE QUEEN IN RIGHT OF THE PROVINCE OF BRITISH COLUMBIA, asrepresented by the Minister of the Public
      Safety and Solicitor General, on behalf of Emergency Management BC (“<strong>EMBC</strong>”).
    </p>
    <p>
      AND:
    </p>
    <p>
      [INSERT COMMUNITY NAME] <br>
      Including any related and responsible components of the local emergency management program (“community”).
    </p>
    <p>
      The Minister of Public Safety and Solicitor General and the community are referred to in this Agreement as the
      “Participants” and individually, each is referred to in this Agreement as a “Participant”
    </p>

    <h2>RECITALS</h2>
    <ol type="A">
      <li>
        All information provided to, collected by, delivered to or compiled by or on behalf of the Participants to this
        Agreement in the performance of their duties and responsibilities under this Agreement will be dealt with
        subject to and in accordance with the relevant provincial statutes, including
        theFreedomofInformationandProtectionofPrivacyAct, R.S.B.C. 1996, c. 165 (“FoIPPA”).
      </li>
      <li>
        The Ministry of Public Safety and Solicitor General (“PSSG”) and the community are public bodies governed by
        FoIPPA and must collect, use and disclose Personal Information only as authorized underFoIPPA.
      </li>
      <li>
        Emergency Support Services (“ESS”) is a program of EMBC. EMBC is the Province's lead agency for coordinating
        all emergency management activities, including planning, training, testing and exercising, to help strengthen
        provincial resilience to emergencies .
      </li>
      <li>
        Under the EmergencyProgramAct(EPA), each municipal council and regional district boardthat qualifies as a
        local authority must, as part of the local emergency plan, coordinate the provisions of food, clothing, shelter,
        transportation and medical services to victims ofemergencies and disasters, whether that provision is made from
        within or outside of the local authority while EMBC is responsible for providing the program that supports the
        provisions offood, clothing, shelter, and transportation to those same local authority evacuees.
      </li>
      <li>
        Local authorities coordinate ESS jointly with EMBC by way of Public Safety LifelineVolunteers (PSLV). The ESS
        PSLVs are considered employees of EMBC as per Schedule 1 of FoIPPA as the PSLVs are registered, trained and
        provided liability protection by the Province when deployed under the EPA to administer ESS. Additionally, EMBC
        reimburses volunteers for any travel related expenses incurred during a deployment outside of their jurisdiction
        (i.e. Mileage or other modes of transportation, meal per-diem and accommodations).
      </li>
      <li>
        The local authority must, as part of the local emergency plan, coordinate the provisions of food, clothing,
        shelter, transportation and medical services to victims of emergencies and disasters, whetherthat provision is
        made from within or outside of the local authority.
      </li>
      <li>
        First Nations on federal reserves although not directly obligated by provincial legislation to provide ESS
        support to their residents, may choose to provide access to this same structured program through EMBC. The 10
        year bi-lateral agreement with Indigenous Services Canada is designed to assist in the development of a
        community led emergency management program in First Nations communities to ensure all residents of the First
        Nation community will receive the same supports that residents of the local authorities receive in times of
        emergency or disaster.
      </li>
      <li>
        This agreement contains the terms and conditions that govern the community access to and use of the Evacuee
        Registration and Assistance tool (ERA) and where applicable, it also acts as an Information Sharing Agreement
        pursuant to section 69(5) of the FreedomofInformationandProtectionofPrivacyAct(“FoIPPA”).
      </li>
      <li>
        All Participants wish to enter into this Agreement to document terms and conditions of the information
        sharing between the Participants.
      </li>
    </ol>

    <h3>THE PARTICIPANTS AGREE AS FOLLOWS:</h3>

    <span>1. TERMS AND ACRONYMS</span>

    <span>1.1 As used in this Agreement, the following capitalized words and terms have the meanings ascribed to them
      below:</span>

    <ol type="a">
      <li> “ERA” means Evacuee Registration and Assistance, which is the digital case management tool used to manage ESS
        registration and assistance.</li>
      <li> “ERA user” means any individual who is authorized to have electronic access to ERA pursuant to this
        Agreement.</li>
      <li> “Authorized Persons” means individuals who are either associated with or employees of the Participants who
        will be provided access to the Personal Information pursuant to this Agreement by a Participant.</li>
      <li> “Authorized Purpose” has the meaning set out in section 4.1 of this Agreement.</li>
      <li> “Compliance Representative” means the employee designated by a Participant who has substantive knowledge of
        and experience with, at a reasonably senior level, FoIPPA and its requirements, policies, procedures and
        regulations.</li>
      <li> “Data” shall include, but is not limited to the Personal Information from both parties.</li>
      <li> “Effective Date” means the date the last of the Participants signs this Agreement.</li>
      <li> “EMBC” means the Emergency Management BC of the provincial government.</li>
      <li> "Employee" has the meaning set out in Schedule 1 of FoIPPA.</li>
      <li> “ESS” means Emergency Support Services.</li>
      <li> “FoIPPA” means the Freedom of Information and Protection of Privacy Act, R.S.B.C. 1996, c. 165 as amended or
        replaced from time to time.</li>
      <li> “Information Incident” means a single or a series of unwanted or unexpected events that threaten privacy or
        information security, including a privacy breach or the collection, use, disclosure, access, disposal, or
        storage of information, whether accidental or deliberate, that is not authorized by FoIPPA.</li>
      <li> “OIPC” means the Office of the Information and Privacy Commissioner of British Columbia.</li>
      <li> “Participants” means all partners of this agreement , and “Participant” means one of them, as the context may
        require.</li>
      <li> “Personal Information” has the meaning set out in FoIPPA, and refers only to Personal Information disclosed
        by either Participants pursuant to this Agreement.</li>
      <li> “PSLV" means Public Safety Lifeline Volunteers.</li>
      <li> “PSSG” means the Ministry of Public Safety and Solicitor General</li>
      <li> “Public Body” has the meaning set out in Schedule 1 of FoIPPA and includes a ministry of the government of
        British Columbia, an agency, board, commission, corporation, office or other body designated in, or added by
        regulation to, Schedule 2, or a local public body.</li>
      <li> “SFTS” means secured File Transfer Services</li>
    </ol>

    <h3>2. PURPOSE OF AGREEMENT</h3>

    <span>The purpose of this Agreement is to document the terms and conditions of the collection, use, disclosure and
      retention of Personal Information by all the Participants, in compliance with the requirements of FoIPPA and any
      other relevant legislation.
    </span>

    <h3>3. AUTHORITIES FOR THE COLLECTION, USE AND DISCLOSURE OF PERSONAL INFORMATION</h3>

    <span>3.1 The Participants acknowledge that the Personal Information which is the subject of this Agreement:
    </span>

    <ol type="a">
      <li>will be collected directly by the EMBC and the community as per their relevant legislation;</li>

      <li>will be disclosed to EMBC by the community pursuant to 33.2(a) [for the purpose for which it was obtained or
        compiled or for a use consistent with that purpose] and 33.2(l) of FoIPPA [to an officer or employee of a public
        body or to a minister, if the information is necessary for the purposes of planning or evaluating a program or
        activity of a public body] and thus collected indirectly by community under the authority of sections 26(c) [the
        information relates directly to and is necessary for a program or activity of the public body], 26(e) [the
        information is necessary for the purposes of planning or evaluating a program or activity of a public body] and
        27(1)(b) of FoIPPA [the information may be disclosed to the public body under sections 33 to 36]; and</li>

      <li>will be disclosed to the community by EMBC pursuant to 33.2(a) [for the purpose for which it was obtained or
        compiled or for a use consistent with that purpose] and 33.2(l) of FoIPPA [to an officer or employee of a public
        body or to a minister, if the information is necessary for the purposes of planning or evaluating a program or
        activity of a public body] and thus collected indirectly by the community under the authority of sections 26(c)
        [the
        information relates directly to and is necessary for a program or activity of the public body], 26(e) [the
        information is necessary for the purposes of planning or evaluating a program or activity of a public body] and
        27(1)(b) of FoIPPA [the information may be disclosed to the public body under sections 33 to 36].</li>
    </ol>

    <h3>4. AUTHORIZED USE</h3>

    <span>4.1 Without limiting any other use which a Participant may lawfully make of the Personal Information, under
      this
      Agreement the Participants may only use the Personal Information for the purpose of coordinating all emergency
      management activities (the “Authorized Purpose”).</span>

    <span>4.2 If a Participant wishes to use the Personal Information received pursuant to this Agreement for a
      purpose
      different than the Authorized Purpose or a purpose for which it may otherwise lawfully use the Personal
      Information,
      then it must obtain prior written consent from the Participant who originally disclosed the Personal
      Information.
    </span>

    <h3>5. PERSONAL INFORMATION DISCLOSED</h3>

    <span>5.1 The Personal Information shared between the Participants and the method of disclosure are set out in
      Appendix A
      of this Agreement.
    </span>

    <span>5.2 If a Participant wishes to disclose the Personal Information received pursuant to this Agreement for a
      purpose
      different than the Authorized Purpose, then it must obtain prior written consent from the Participant who
      originally
      disclosed the Personal Information.
    </span>

    <h3>6. AUTHORIZED PERSONS</h3>

    <span>6.1 Participants will restrict access to the Personal Information to the minimum number of individuals
      necessary to
      carry out the Authorized Purpose (the “Authorized Persons”).</span>

    <span>6.2 Each Participant shall keep current a list of roles for its Authorized Persons, which includes the
      reason for
      data access of each role. Each Participant will ensure that the list is regularly updated to reflect changes in
      those roles and make the list available to the other Participant if requested.</span>

    <h3>7. NO WARRANTY</h3>

    <span>7.1 Participants will make all reasonable efforts to ensure that the Personal Information of an individual
      that is
      in its care or custody is accurate and complete. However, the Participants acknowledge and agree that all
      Personal
      Information is provided on an “as is” basis and the Participant providing the Personal Information makes no
      representations or warranties (express or implied) of any kind with respect to the Personal Information,
      including
      without limitation any warranties or representations that the Personal Information (or any part of it) is
      accurate,
      complete or up-to-date, or free from errors or omissions, in whole or in part, or that the Personal Information
      will
      be fit for any purpose.</span>

    <h3>8. COPYRIGHT AND LICENCE</h3>

    <span>8.1 The community will not make copies of any ERA software that is owned by or licensed to EMBC, without the
      written
      consent of EMBC.</span>

    <h3>9. TRAINING</h3>

    <span>9.1 The parties agree that community ERA users will be provided with the necessary instruction and practice
      in
      accordance with the Agreement before access is granted to the ERA tool.
    </span>

    <span>9.2 Training will be conducted through either of the following methods:</span>
    <ol type="a">
      <li> With permission and where space is available, community ERA users will participate in EMBC training
        sessions; or</li>
      <li> community ERA users will be trained by a person who completed the ‘train the trainer’ module with EMBC.
      </li>
    </ol>

    <span>9.3 The community will maintain and regularly review records of all users trained, including the dates of
      training
      sessions and names of the trainer(s). Only individuals who have signed an ERA User Agreement, received training
      on
      the use of ERA, and received a BCeID user account may access information as provided under this
      Agreement.</span>

    <h3>10. TECHNICAL SUPPORT</h3>

    <span>Community ERA users may request assistance from the community computer services group for problems relating
      to
      hardware, network connectivity and other problems related to hardware infrastructure. If the issues cannot be
      resolved by the community computer services, community computer services group will contact their respective
      EMBC
      Regional Duty Manager via the EMBC Emergency Coordination Centre, who will facilitate any other technical
      support
      required, including support for internal hardware, connection and network.
    </span>

    <span>10.1 The community computer services group creates, modifies and removes user access.</span>


    <h3>11. COMPLIANCE REPRESENTATIVE</h3>

    <span>11.1 Each Participant will at all times have in place a knowledgeable senior person within its organization
      who is responsible for and has the authority to ensure privacy compliance generally and compliance with this
      Agreement
      (the “Compliance Representative”). As of the Effective Date of this Agreement, each Participant will have
      appointed
      the Compliance Representative.
    </span>

    <span>11.2 Each Participant’s Compliance Representative will ensure that each of its Authorized Person is aware of
      the
      terms of this Agreement.</span>

    <span>11.3 Each Participant will promptly notify the other Participant of any change to its Compliance
      Representative.</span>

    <h3>12. PRIVACY POLICY AND INFORMATION INCIDENT PROCEDURES</h3>

    <span>12.1 The Participants acknowledge and agree to the following privacy procedures:</span>

    <ol type="a">
      <li>
        Each Participant will have an information handling and privacy policy or policies in place that are applicable
        to all of its Authorized Persons. Such policy or policies must clearly set out the responsibilities of each
        individual in the organization to keep Personal Information secure and to comply with the relevant privacy
        legislation and other generally accepted privacy principles.
      </li>
      <li>
        Each Participant will ensure that all of its Authorized Persons have completed privacy training and any other
        relevant training prior to providing them with access to the Personal Information.
      </li>
      <li>
        Each Participant will have a privacy breach/security incident procedure to handle reports of suspected or
        confirmed privacy breaches. In particular and without limitation, Participants will:
        <ol type="i">
          <li>
            (i) Promptly notify the Compliance Representative of the other Participant and provide it with details of
            the privacy or security incident within 24 hours:
            <ol type="a">
              <li>
                (a) any suspected or confirmed privacy or security incident concerning the subject matter of this
                Agreement,
                and
              </li>
              <li>
                (b) any suspected or confirmed unauthorized access to, use, disclosure, or modification of Personal
                Information;
              </li>
            </ol>
          </li>
          <li>
            (ii) Assist the other Participant in investigating or preventing the recurrence of an Information
            Incident;
          </li>
          <li>
            (iii) Provide ongoing communication and updates to the Compliance Representative of the other Participant
            during the course of any investigation into an Information Incident; and
          </li>
          <li>
            (iv) If a Participant is required by its Information Incident protocols to promptly notify the OIPC of an
            Information Incident, the Participant will first notify the Compliance Representative of the other
            Participant before notifying the OIPC.
          </li>
        </ol>
      </li>
    </ol>

    <h3>13. SECURITY</h3>

    <span>13.1 All Participants will have appropriate physical, organizational and technological security measures in
      place
      to ensure that any and all Personal Information that is collected, accessed, used, disclosed or destroyed pursuant
      to
      this Agreement is done so only by Authorized Persons, except if disclosed pursuant to section 12.1(c) above, and
      only in accordance with FoIPPA, including without limitation:
    </span>

    <ol type="a">
      <li>
        (a) access to all Participants’ records containing paper copies of Personal Information will be restricted to
        Authorized Persons; and
      </li>
      <li>
        (b) access to Personal Information stored on the Participants’ computer systems and electronic storage devices
        and
        media will be restricted to Authorized Persons only.
      </li>
    </ol>

    <span>13.2 All Participants will have the appropriate technological security measures in place, including but not
      limited
      to the following:
    </span>
    <ol type="a">
      <li>a) Up-to-date Operating System (OS) with security patches and service packs;</li>
      <li>b) active anti‐virus software installed on the computer and configured to receive updates regularly; and</li>
      <li>c) full computer virus scan set to run on a weekly basis.</li>
    </ol>

    <h3>14. NO STORAGE OR ACCESS OUTSIDE CANADA</h3>

    <span>
      14.1 All Participants will comply with FoIPPA restrictions by not storing or accessing Personal Information
      outside Canada.
    </span>

    <h3>15. RECORDS RETENTION AND DESTRUCTION</h3>

    <span>15.1 Subject to any legislated records retention and destruction obligations to which a Participant may be
      subject, a Participant will not retain any Personal Information in any form whatsoever (including, without
      limitation, hard
      copy or electronic formats), longer than is necessary to perform:
    </span>

    <ol type="a">
      <li>(a) the Authorized Purpose;</li>
      <li>(b) the Participant’s obligations under this Agreement; and</li>
      <li>(c) the Participant’s legislated duties and obligations.</li>
    </ol>

    <span>15.2 Once any legislated retention periods have been reached, and in accordance with its document
      retention and
      destruction policies, a Participant will securely destroy any and all Personal Information received pursuant
      to
      this Agreement from the other Participant and all records thereof in a manner that conforms to the
      requirements of
      relevant legislation and, is appropriate for the particular media, but in any event, in such a manner that the
      Personal Information contained in the record or any portion of the Personal Information cannot be subsequently
      retrieved, accessed or used by such Participant or by any other person.
    </span>
     
    <h3>16. COMPLIANCE</h3>

    <span>16.1 A Participant will immediately notify the other Participant in writing of any non-compliance or
      anticipated
      non-compliance with this Agreement and will further inform the other Participant of all steps that the
      Participant
      proposes to take to address and prevent recurrence of such non-compliance or anticipated non-compliance.
    </span>

    <span>
      16.2 A Participant shall promptly and fully assist and support any investigation or review by the OIPC in
      connection with the Personal Information. A Participant shall also comply with a decision of the OIPC
      unless any such
      decision is judicially reviewed.
    </span>

    <h3>17. COMPLAINTS</h3>

    <span>17.1 A Participant will respond in a timely manner to any person who makes a complaint about its
      information
      practices with respect to the Personal Information exchanged under this Agreement, and will document each
      complaint and its resolution.
    </span>

    <span>17.2 Where a complaint is not resolved to the complainant’s satisfaction, a Participant will refer
      the complainant
      to the OIPC.
    </span>

    <span>17.3 Each Participant will keep records of such complaints for a minimum of 2 years from the date
      of the
      resolution of the complaint, and will, subject to FoIPPA, provide those records to the other
      Participant upon request.
    </span>

    <h3>18. DISPUTE RESOLUTION PROCESS</h3>

    <span>18.1 In the event of a dispute or disagreement relating to the interpretation or application of
      this Agreement or
      resulting from non-compliance with this Agreement, the Participants agree to:
    </span>

    <ol type="a">
      <li>
        (a) Exercise all reasonable efforts to reach a resolution that is consistent with this Agreement,
        while meeting
        any legal requirements imposed by legislation or otherwise; and
      </li>
      <li>
        (b) Resolve the dispute or disagreement through the following steps, in sequence:
        <ol type="i">
          <li>
            (i) Staff members of the Participants who have the dispute or disagreement will consult and
            negotiate with each
            other;
          </li>
          <li>
            (ii) If the dispute or disagreement if not resolved under section 18.1(b)(i) above,
            representatives of the
            Participants to the dispute or such other designates as those Participants may assign will try
            to reach a
            resolution; and
          </li>
          <li>
            (iii) If the dispute or disagreement is not resolved under section 18.1(b)(ii) above, the
            Participants to the
            dispute will explore other appropriate dispute resolution processes, such as mediation.
          </li>
        </ol>
      </li>
    </ol>

    <h3>19. TERM, SUBSTITUTION, AND TERMINATION</h3>

    <span>19.1 The term of this Agreement as between the Participants will commence on the Effective Date.
    </span>

    <span>19.2 Unless terminated earlier or extended upon agreement by the Participants, the term of this
      Agreement as
      between the Participants will continue in effect until February 1, 2029.
    </span>

    <span>19.3 A Participant may terminate this Agreement by providing written notice to the other
      Participant 90 days prior
      to the date on which the notifying Participant intends the Agreement to terminate.
    </span>

    <span>19.4 The obligations of all Participants to maintain the privacy, security and confidentiality of
      the Personal
      Information will survive the termination of this Agreement.
    </span>

    <h3>20. NOTICES</h3>

    <span> 20.1 All notices and communications required or permitted under this Agreement must be in writing
      and must be
      delivered to the other Participant at the address or electronic mail addresses set out below:
    </span>

    <div>
      Director, ESS and Mass Care
      Mailing address: PO Box 9201 Stn Prov Govt
      Victoria BC V8W 9J1

      E-mail: essmodernization@gov.bc.ca
    </div>

    <ol type="a">
      Delivery of notices and communications will be deemed to have occurred for the various delivery
      methods as
      follows:
      <li>(a) By mail - 7 days after mailing.</li>
      <li>(b) By personal delivery - when delivered.</li>
      <li>(c) By courier - on the next business day following the date the courier indicates delivery.</li>
      <li>(d) By electronic transmission - on the same business day following the date of transmittal and
        acknowledgement of receipt by the recipient.</li>
    </ol>


    <span>20.2 A Participant may notify the other Participant in writing of a change of address or email
      address and,
      following the receipt of such notice, the new address or email address (as applicable) will be deemed
      to be the
      address of that Participant.
    </span>

    <h3>21. GENERAL</h3>

    <span>21.1 The community will establish and maintain policies and procedures to ensure that
      community ERA users comply
      with the terms and conditions of this Agreement. A copy of such policies and procedures will be
      provided to EMBC
      upon request.
    </span>

    <span>21.2 The community will designate a central contact person who will be responsible for
      liaising with EMBC and will
      maintain a list of all community users assigned ERA accounts.
    </span>

    <span>21.3 Access to ERA will not be provided by the community until community ERA users have
      completed and submitted an
      ERA user agreement form and has completed all relevant training. The user agreement document may
      be amended from
      time to time.
    </span>

    <span>21.4 A list of community ERA users will be provided to EMBC upon request.
    </span>

    <span>21.5 Community ERA users’ access privileges will be revoked by community designate responsible
      for account access
      when they no longer require access due to changes in duties or status.
    </span>

    <span>21.6 Nothing in this Agreement will be interpreted to conflict with or derogate from FoIPPA or
      the Emergency
      Program Act. Should any provision of this Agreement be found to conflict or derogate from those
      Acts, such provision will
      be null and void.
    </span>

    <span>21.7 Nothing in this Agreement is in any way intended to replace or amend any obligation that
      the Participants are
      bound to or required to perform by operation of law.
    </span>

    <span>21.8 Any amendments to this Agreement must be in writing and signed by all Participants.
    </span>

    <span>21.9 The appendices of this Agreement may be amended or replaced at any time with the mutual
      consent of the
      Participants, and such amendments may be effected by an exchange of letters or emails at the
      address or electronic
      mail addresses set out in 20.1.
    </span>

    <span>21.10 A Participant will immediately notify the other Participant of any change in its name,
      or any change in its
      organizational structure that may affect any processes, procedures or a Participant’s obligations
      under this
      Agreement in any manner.
    </span>


    <span>[INSERT TICK BOX] By clicking here you confirm that you are a designated signing authority on
      behalf of your local
      authority or First Nation and you understand and to the agreement above.
    </span>

    <div>
      Full name of signatory:

      Occupation:

      Date:
    </div>

  </section>

  <section>
    <input type="checkbox" [checked]="_termsAccepted" (change)="_termsAccepted = !_termsAccepted"
      class="terms-cb" />&nbsp;I have read and accept the above terms and conditions.
    <br>
  </section>
  <section class="buttons">
    <button class="btn btn-primary termsAccept" (click)="acceptTerms()" [disabled]="!_termsAccepted">Continue</button>
    <a href="/logout" tabindex="1">Cancel and Exit</a>
  </section>
</div>