<div class="modal-header">
  <h1 class="modal-title h2">Emergency Support Services Rates</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <table class="table table-rates">
    <thead>
      <tr class="light">
        <th scope="col" colspan="2">INCIDENTALS</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="dark">
        <th scope="row">1</th>
        <td class="light">Adults, youth &amp; children</td>
        <td>Up to $50.00 maximum per person (incl. PST) *</td>
      </tr>
    </tbody>
  </table>

  <div>
    <p><strong>NOTE:</strong> To be issued when evacuees have not been able to pack necessities.<br>
      May include miscellaneous items such as personal hygiene products, laundry supplies, pet food and lodging, and other immediate needs as required.</p>
    <p>The Emergency Management BC (EMBC) Emergency Coordination Centre must be consulted when extraordinary requirements are needed to provide for immediate needs <a href="tel:1-800-663-3456">1-800-663-3456</a>.</p>
  </div>
</div>
