<!--
  TODO:
  "control.registeronchange is not a function"

  this bug is seen in the console. Unfortunately by commenting things out this simply moves the error location around the code. This seems to be potentially a bug with patching formArrays. (According to stack overflow.) Maybe this will come out in the wash? Revisit this later when we have more time to spend on a single non-breaking error.
 -->


<div class="mb-4">
  <h1>{{pageTitle}}</h1>
  <p *ngIf="createMode">
    Before starting a new evacuee registration, use the search tool on your dashboard to confirm that the evacuee hasn’t
    already registered.
  </p>
  <small>
    All required fields are marked with an asterisk *
  </small>
</div>

<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <h3 class="blue-header">
      TASK NUMBER &amp; PLACE OF REGISTRATION
    </h3>
    <div class="form-row">
      <app-attention-icon></app-attention-icon>
      <app-form-field required="true" class="col">
        <label>Task Number</label>
        <select [class.is-invalid]="invalid('incidentTask')" class="form-control" formControlName="incidentTask">
          <option [ngValue]="null">-- Select task number</option>
          <option [ngValue]="incident" *ngFor="let incident of incidentTasks$ | async">
            {{incident.taskNumber}}<span *ngIf="incident.community"> - {{incident.community.name}}</span>
          </option>
        </select>
        <span *ngIf="submitted" class="invalid-feedback">{{e.incidentTask}}</span>
      </app-form-field>
      <div class="d-flex align-items-center col-md-7">
        <small class="text-muted">
          If the task number you’re looking for is not listed, please contact your supervisor or the Emergency
          Coordination Centre at 1-800-663-3456.
        </small>
      </div>
    </div>
    <div class="form-row">
      <app-attention-icon></app-attention-icon>
      <app-form-field class="col-md-8" required="true" tooltip="Tool Tip: The location where you are registering the evacuees.">
        <label>Facility Name / Registration Location</label>
        <input [class.is-invalid]="invalid('facility')" class="form-control" type="text" formControlName="facility">
        <span *ngIf="submitted" class="invalid-feedback">{{e.facility}}</span>
      </app-form-field>
    </div>
    <div class="form-row">
      <app-attention-icon></app-attention-icon>
      <app-form-field class="col-md-8" required="true" tooltip="Tool Tip: A host community is the community where the registration is taking place and the Reception Centre is located.">
        <label>Community</label>
        <select [class.is-invalid]="invalid('hostCommunity')" class="form-control" formControlName="hostCommunity">
          <option [ngValue]="null">-- Select community</option>
          <option [ngValue]="community" *ngFor="let community of communities$ | async">{{community.name}}</option>
        </select>
        <span *ngIf="submitted" class="invalid-feedback">{{e.hostCommunity}}</span>
      </app-form-field>
    </div>
  </div>
  <!-- Restricted access to this file? TODO: No restricted files are handled in V1-->
  <!-- <div class="mb-4">
    <h3 class="blue-header">
      RESTRICTION
    </h3>
    <p class="required">Concerned family and friends may inquire about you and your family because of the emergency. We
      would like to provide these people with some information about you. Please check "Yes" if you <u>do not</u> want
      EMBC to disclose your location and the contact information for you and your family members?</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="restrictedAccess">
      <label class="form-check-label">
        Yes, I <u>do not</u> want EMBC to disclose my personal information to concerned family and friends.
      </label>
    </div>
  </div> -->
  <div class="mt-3 feature-block">
    <h3>Restriction</h3>
    <p>Concerned family and friends may inquire about you and your family because of the emergency. We would like to
      provide these people with some information about you. May we disclose your location and the contact information
      for you and your family members?
    </p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dummy" [value]="false" checked (click)="disableInput(false)">
      <label class="form-check-label" for="exampleRadios1">
        <strong>Yes</strong>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="dummy" [value]="true" (click)="disableInput(true)">
      <label class="form-check-label" for="exampleRadios2">
        <strong>No</strong> - (ESS Team: Requires an authorized team member to complete the form manually.)
      </label>
    </div>
  </div>
  <div *ngIf="!activeForm">
    <h1>ESS Team Handling Note</h1>
    <p>Privacy is important. Please locate a volunteer that is trained to collect and handle sensitive information.</p>
    <p>This does not change the support offered but does change the process of collecting and handling information. This restricts other ESS team members from seeing the registration.</p>
    <a routerLink="/volunteer-dashboard">Return to the ESS Team Dashboard</a>
  </div>
  <div *ngIf="activeForm">
    <!-- Primary contact information -->
    <div class="mb-4" formGroupName="headOfHousehold">
      <h3 class="blue-header">
        EVACUEE DETAILS
      </h3>
      <app-form-field required="true">
        <label>Last Name</label>
        <input [class.is-invalid]="invalid('headOfHousehold.lastName')" class="form-control" type="text" formControlName="lastName">
        <span *ngIf="submitted" class="invalid-feedback">{{e.headOfHousehold.lastName}}</span>
      </app-form-field>
      <app-form-field required="true">
        <label>First Name</label>
        <input [class.is-invalid]="invalid('headOfHousehold.firstName')" class="form-control" type="text" formControlName="firstName">
        <span *ngIf="submitted" class="invalid-feedback">{{e.headOfHousehold.firstName}}</span>
      </app-form-field>
      <div class="form-row">
        <app-form-field class="col">
          <label>Initial</label>
          <input class="form-control" type="text" formControlName="initials">
        </app-form-field>
        <app-form-field class="col">
          <label>Preferred Name</label>
          <input class="form-control" type="text" formControlName="nickname">
        </app-form-field>
      </div>
      <div class="form-row">
        <app-form-field class="col">
          <label>Gender</label>
          <select class="form-control" formControlName="gender">
            <option [ngValue]="null">Please select--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="x">X</option>
          </select>
        </app-form-field>
        <app-form-field class="col" required="true">
          <label>Date of Birth</label>
          <input [class.is-invalid]="invalid('headOfHousehold.dob')" class="form-control" type="date" formControlName="dob">
          <span *ngIf="submitted" class="invalid-feedback">{{e.headOfHousehold.dob}}</span>
        </app-form-field>
      </div>
    </div>

    <!-- Family information section -->
    <div class="mb-4">
      <h3 class="blue-header">
        EVACUEE FAMILY INFORMATION
      </h3>
      <p>
        Are you registering immediate family members who live in the same household with you?
      </p>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" type="radio" value="yes" formControlName="registeringFamilyMembers">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('registeringFamilyMembers')" class="form-check-input" type="radio" value="no" formControlName="registeringFamilyMembers">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.registeringFamilyMembers}}</span>
        </div>
      </div>
      <div formArrayName="familyMembers">
        <!-- TODO: Refactor into sub-component -->
        <div class="feature-block card p-0 mb-2" *ngFor="let entry of familyMembers.controls; index as i;" [formGroupName]="i">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col">
                <label class="required">Last Name</label>
                <input type="text" [class.is-invalid]="invalid('lastName', entry)" class="form-control" formControlName="lastName">
                <span *ngIf="submitted" class="invalid-feedback">Please enter a last name.</span>
              </div>
              <div class="col">
                <!-- not yet implemented -->
                <!-- <label>
                  Same as main applicant.
                </label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [value]="true" formControlName="sameLastNameAsEvacuee">
                </div> -->
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <label class="required">First Name</label>
                <input type="text" [class.is-invalid]="invalid('firstName', entry)" class="form-control" formControlName="firstName">
                <span *ngIf="submitted" class="invalid-feedback">Please enter a first name.</span>
              </div>
              <div class="col">
                <label>Middle Initial</label>
                <input type="text" class="form-control" formControlName="initials">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <label class="required">Relationship to evacuee</label>
                <select [class.is-invalid]="invalid('relationshipToEvacuee', entry)" class="form-control" formControlName="relationshipToEvacuee">
                  <option [ngValue]="null">Please select--</option>
                  <option *ngFor="let item of relationshipTypes$ | async" [ngValue]="item">
                    {{item.description}}
                  </option>
                </select>
                <span *ngIf="submitted" class="invalid-feedback">Please state your relationship to this family
                  member.</span>
              </div>
              <div class="col">
                <label>Gender</label>
                <select class="form-control" formControlName="gender">
                  <option [ngValue]="null">Please select--</option>
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                  <option value="x">X</option>
                </select>
              </div>
              <div class="col">
                <label class="required">Date of Birth</label>
                <input type="date" [class.is-invalid]="invalid('dob', entry)" class="form-control" formControlName="dob">
                <span *ngIf="submitted && hasErrors('dob', entry, ['required'])" class="invalid-feedback">
                  Please enter a date of birth.
                </span>
                <span *ngIf="submitted && hasErrors('dob', entry, ['maxDate'])" class="invalid-feedback">
                  Date of birth must be today or in the past.
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <app-fa-link icon="times" class="float-left" (click)="removeFamilyMember(i)">
              Remove
            </app-fa-link>
            <app-fa-link icon="plus-circle" color="#669900" class="float-right" (click)="addFamilyMember()">
              Add another contact
            </app-fa-link>
          </div>
        </div>
      </div>
    </div>

    <!-- Residence information -->
    <div class="mb-4">
      <h3 class="blue-header">
        PRIMARY RESIDENCE &amp; CONTACT DETAILS
      </h3>
      <p class="required">
        Is your primary residence within BC?
      </p>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input [class.is-invalid]="invalid('primaryResidenceInBC')" class="form-check-input" type="radio" [value]="true" formControlName="primaryResidenceInBC">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input [class.is-invalid]="invalid('primaryResidenceInBC')" class="form-check-input" type="radio" [value]="false" formControlName="primaryResidenceInBC">
          <label class="form-check-label">No</label>
        </div>
      </div>
      <span [class.d-block]="invalid('primaryResidenceInBC')" class="invalid-feedback">{{e.primaryResidenceInBC}}</span>
    </div>
    <!-- primary residence in BC -->
    <div *ngIf="form.value.primaryResidenceInBC!==null" class="feature-block mb-4">
      <app-address-selector [parent]="f.primaryResidence" [touched]="submitted" [withinBC]="form.value.primaryResidenceInBC"></app-address-selector>
      <div class="row mb-2">
        <div class="col">
          <label>Telephone / Mobile Number</label>
          <input type="text" [class.is-invalid]="invalid('phoneNumber')" class="form-control" formControlName="phoneNumber">
          <span *ngIf="submitted" class="invalid-feedback">{{e.phoneNumber}}</span>
        </div>
        <div class="col">
          <label>Alternate Telephone / Mobile Number</label>
          <input type="text" [class.is-invalid]="invalid('phoneNumberAlt')" class="form-control" formControlName="phoneNumberAlt">
          <span *ngIf="submitted" class="invalid-feedback">{{e.phoneNumberAlt}}</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label>Email Address</label>
          <input type="email" [class.is-invalid]="invalid('email')" class="form-control" formControlName="email">
          <span *ngIf="submitted" class="invalid-feedback">{{e.email}}</span>
        </div>
      </div>
    </div>

    <!-- Mailing information -->
    <div class="mb-4">
      <h3 class="blue-header">
        MAILING ADDRESS
      </h3>
      <p class="required">
        Is your mailing address the same as your primary residence?
      </p>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('mailingAddressSameAsPrimary')" class="form-check-input" type="radio" [value]="true" formControlName="mailingAddressSameAsPrimary">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('mailingAddressSameAsPrimary')" class="form-check-input" type="radio" [value]="false" formControlName="mailingAddressSameAsPrimary">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.mailingAddressSameAsPrimary}}</span>
        </div>
      </div>
      <div class="card feature-block p-0" *ngIf="form.value.mailingAddressSameAsPrimary===false">
        <div class="card-body">
          <p class="required">Is your mailing address within BC</p>
          <div class="form-group m-0">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [value]="true" formControlName="mailingAddressInBC">
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [value]="false" formControlName="mailingAddressInBC">
              <label class="form-check-label">No</label>
            </div>
          </div>
          <span [class.d-block]="invalid('mailingAddressInBC')" class="invalid-feedback">{{e.mailingAddressInBC}}</span>
          <app-address-selector class="mt-4" *ngIf="form.value.mailingAddressInBC!==null" [parent]="f.mailingAddress" [touched]="submitted" [withinBC]="form.value.mailingAddressInBC"></app-address-selector>
        </div>
      </div>
    </div>

    <!-- Disaster affect information -->
    <div class="mb-4">
      <h3 class="blue-header">
        BRIEF STATEMENT OF HOW THE PERSON/FAMILY WERE AFFECTED BY THE DISASTER
      </h3>
      <div class="form-row">
        <app-attention-icon></app-attention-icon>
        <p class="col">
          Please do not include any personal/medical information pertaining to the evacuee and their family.
        </p>
      </div>
      <div class="form-row">
        <div class="col">
          <textarea [class.is-invalid]="invalid('disasterAffectDetails')" class="form-control" formControlName="disasterAffectDetails" placeholder="Please specify" rows="4"></textarea>
          <span *ngIf="submitted" class="invalid-feedback">{{e.disasterAffectDetails}}</span>
        </div>
      </div>
    </div>

    <!-- Insurance information -->
    <div class="mb-4">
      <h3 class="blue-header">
        INSURANCE
      </h3>
      <p class="required">
        Do you have insurance to cover your immediate needs?
      </p>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" type="radio" value="yes" formControlName="insuranceCode">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" type="radio" value="yes-unsure" formControlName="insuranceCode">
          <label class="form-check-label">Yes, but I'm not sure if I have coverage for this event</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" type="radio" value="no" formControlName="insuranceCode">
          <label class="form-check-label">No</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('insuranceCode')" class="form-check-input" type="radio" value="unsure" formControlName="insuranceCode">
          <label class="form-check-label">I don't know</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.insuranceCode}}</span>
        </div>
      </div>
      <div *ngIf="(form.value.insuranceCode=='yes')||(form.value.insuranceCode=='yes-unsure')" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">
          Assist the evacuee in contacting their insurance agent to confirm coverage for this event.
        </h4>
      </div>
    </div>

    <!-- Additional family information -->
    <div class="mb-4">
      <h3 class="blue-header">
        ADDITIONAL INFORMATION
      </h3>
      <div class="form-row">
        <app-attention-icon></app-attention-icon>
        <p class="col required">
          Do you have dietary requirements?
        </p>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('dietaryNeeds')" class="form-check-input" type="radio" [value]="true" formControlName="dietaryNeeds">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('dietaryNeeds')" class="form-check-input" type="radio" [value]="false" formControlName="dietaryNeeds">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.dietaryNeeds}}</span>
        </div>
      </div>
      <div *ngIf="form.value.dietaryNeeds" class="feature-block">
        <label>Please specify</label>
        <input [class.is-invalid]="invalid('dietaryNeedsDetails')" class="form-control" type="text" formControlName="dietaryNeedsDetails">
        <span *ngIf="submitted" class="invalid-feedback">{{e.dietaryNeedsDetails}}</span>
      </div>
    </div>

    <!-- Medication information -->
    <div class="mb-4">
      <div class="form-row">
        <app-attention-icon></app-attention-icon>
        <p class="required">
          Do you (or anyone registering with you) take medication?
        </p>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('medicationNeeds')" class="form-check-input" type="radio" [value]="true" formControlName="medicationNeeds">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('medicationNeeds')" class="form-check-input" type="radio" [value]="false" formControlName="medicationNeeds">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.medicationNeeds}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="form.value.medicationNeeds" class="feature-block mb-4">
      <p class="required">
        Do you have sufficient supply for the next 72 hours?
      </p>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('hasThreeDayMedicationSupply')" class="form-check-input" type="radio" [value]="true" formControlName="hasThreeDayMedicationSupply" default>
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('hasThreeDayMedicationSupply')" class="form-check-input" type="radio" [value]="false" formControlName="hasThreeDayMedicationSupply">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.hasThreeDayMedicationSupply}}</span>
        </div>
      </div>
      <div *ngIf="form.value.hasThreeDayMedicationSupply===false" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">
          Refer the evacuee to Health Services at the Reception Centre where available.
        </h4>
      </div>
    </div>

    <!-- Pet information -->
    <div class="mb-4">
      <p class="required">
        Do you have pets with you?
      </p>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('hasPets')" class="form-check-input" type="radio" [value]="true" formControlName="hasPets">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('hasPets')" class="form-check-input" type="radio" [value]="false" formControlName="hasPets">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.hasPets}}</span>
        </div>
      </div>
    </div>

    <!-- Next steps -->
    <div class="mb-4">
      <h3 class="blue-header">
        NEXT STEPS
      </h3>
      <p class="required">
        While you are evacuated do you require supports?<br>
        This could be in the form of food / accommodation / clothing / incidentals or transportation.
      </p>
      <div class="form-group">
        <div class="form-check">
          <input [class.is-invalid]="invalid('requiresSupport')" class="form-check-input" type="radio" [value]="true" formControlName="requiresSupport">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input [class.is-invalid]="invalid('requiresSupport')" class="form-check-input" type="radio" [value]="false" formControlName="requiresSupport">
          <label class="form-check-label">No</label>
          <span *ngIf="submitted" class="invalid-feedback">{{e.requiresSupport}}</span>
        </div>
      </div>
    </div>

    <div class="mb-4 feature-block" *ngIf="form.value.requiresSupport">
      <p>Check all that apply:</p>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" formControlName="requiresFood">
        <label class="form-check-label">Food</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="requiresClothing">
        <label class="form-check-label">Clothing</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="requiresAccommodation">
        <label class="form-check-label">Accommodation</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="requiresIncidentals">
        <label class="form-check-label">Incidentals</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="requiresTransportation">
        <label class="form-check-label">Transportation</label>
      </div>
    </div>

    <!-- Family recovery planning -->
    <div class="mb-4">
      <h3 class="blue-header">
        FAMILY RECOVERY PLANS (IMMEDIATE &amp; LONG TERM)
      </h3>
      <div class="form-row">
        <app-attention-icon [alignCenter]="false"></app-attention-icon>
        <p class="required">
          ESS (Emergency Support Services) provides short term assistance to give you and your family a chance to
          recover.<br>
          Have you thought about what you will do after that time?
        </p>
      </div>
      <textarea [class.is-invalid]="invalid('familyRecoveryPlan')" class="form-control" placeholder="Details" rows="4" formControlName="familyRecoveryPlan"></textarea>
      <span *ngIf="submitted" class="invalid-feedback">{{e.familyRecoveryPlan}}</span>
    </div>

    <!-- Follow up -->
    <div class="mb-4">
      <h3 class="blue-header">
        FOLLOW-UP REQUIRED
      </h3>
      <div class="form-row">
        <app-attention-icon [alignCenter]="false"></app-attention-icon>
        <textarea class="form-control" placeholder="Details" rows="4" formControlName="followUpDetails"></textarea>
      </div>
    </div>

    <!-- Referrals -->
    <div class="mb-4">
      <h3 class="blue-header">
        REFERRALS MADE WITHIN RECEPTION CENTER
      </h3>
      <div class="form-row">
        <app-attention-icon></app-attention-icon>
        <p>
          Please check the boxes below where you have made referrals within the Reception Centre.
        </p>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" formControlName="hasInquiryReferral">
        <label class="form-check-label" for="inquiry">
          Inquiry
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="hasHealthServicesReferral">
        <label class="form-check-label" for="healthServices">
          Health Services
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="hasFirstAidReferral">
        <label class="form-check-label" for="firstAid">
          First Aid
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="hasPersonalServicesReferral">
        <label class="form-check-label" for="personalServices">
          Personal Services
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" formControlName="hasChildCareReferral">
        <label class="form-check-label" for="childCare">
          Child Care
        </label>
      </div>
      <div class="form-check mb3">
        <input class="form-check-input" type="checkbox" value="" formControlName="hasPetCareReferral">
        <label class="form-check-label" for="petCare">
          Pet Care
        </label>
      </div>
    </div>

    <!-- Follow up -->
    <div class="mb-4">
      <h3 class="blue-header">
        OTHER AGENCY REFERRALS MADE OUTSIDE OF THE RECEPTION CENTRE
      </h3>
      <div class="form-row">
        <app-attention-icon [alignCenter]="false"></app-attention-icon>
        <textarea class="form-control" placeholder="Details" rows="4" formControlName="externalReferralsDetails"></textarea>
      </div>
    </div>

    <div *ngIf="errorSummary" class="mt-5 pl-5 text-danger">
      <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon> {{ errorSummary }}
    </div>

    <div class="mt-5 mb-4 space-between">
      <section>
        <a [routerLink]="">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
      </section>
      <section>
        <!-- Submit button! -->
        <button class="btn btn-primary" type="submit">NEXT</button>
      </section>
    </div>
  </div>
</form>

<!-- Only for debugging. Three boxes with the three data representations. -->
<div class="row">
  <!-- <div class="col">
    <h4>Form State</h4>
    <pre>{{ this.form.value | json}}</pre>
  </div> -->
  <div class="col">
    <h4>Registration State</h4>
    <pre>{{ registration | json}}</pre>
  </div>
</div>