<div *ngIf="editing">
  <!-- to prevent page/control flicker, wait for everything to be ready... -->
  <div *ngIf="(iAmLocalAuthority || iAmProvincialAdmin) && (editMode === 'ADD' || editMode === 'EDIT') && (doSelectOrg === true || doSelectOrg === false)">
    <form novalidate [formGroup]="form">
      <h1 *ngIf="iAmLocalAuthority && editMode === 'ADD'">Add Evacuee Registration &amp; Assistance (ERA) User</h1>
      <h1 *ngIf="iAmLocalAuthority && editMode === 'EDIT'">Edit Evacuee Registration &amp; Assistance (ERA) <br />User Details</h1>
      <h1 *ngIf="iAmProvincialAdmin && editMode === 'ADD'">Add ERA User</h1>
      <h1 *ngIf="iAmProvincialAdmin && editMode === 'EDIT'">Edit ERA User</h1>

      <p class="pb-3" *ngIf="iAmProvincialAdmin">
        Administrators can add users within an organization if they have their first name, last name, role, and Business BCeID.
      </p>

      <small>All fields are required</small>
      <h3 class="blue-header mt-0">ERA User Details</h3>

      <div class="row pt-4" *ngIf="iAmProvincialAdmin">
        <div class="col-8">
          <label class="required" for="organization">Organization</label>
          <div *ngIf="changeOrg">
            <select class="form-control" formControlName="organization" [class.is-invalid]="invalid('organization')" id="organization">
              <option *ngIf="!currentOrganization" [ngValue]="null">-- Select organization</option>
              <!-- <option *ngIf="currentOrganization" [ngValue]="currentOrganization">{{currentOrganization.name}}</option> -->
              <option *ngFor="let org of metaOrganizations.data" [ngValue]="org">{{org.name}}</option>
            </select>
            <span class="invalid-feedback">Please select an organization</span>
          </div>

          <div *ngIf="!changeOrg">
            <input class="form-control" type="text" id="organization" [value]="currentOrganization.name" readonly>
            <button class="btn btn-link float-right" (click)="changeOrganization()">
              <app-font-awesome-icon icon="times"></app-font-awesome-icon>
              <span class="ml-2">Change Organization</span>
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="row pt-4" *ngIf="editMode === 'EDIT' && iAmProvincialAdmin">
        <div class="col-8">
          <label for="organization">Organization</label>
          <input class="form-control" type="text" id="organization" [value]="currentOrganization.name" readonly>
        </div>
      </div> -->

      <div class="row pt-4">
        <div class="col-8">
          <label class="required" for="lastName">Last Name</label>
          <app-font-awesome-icon icon="info-circle" color="#C9C9C9" className="ml-3" title="Tool Tip: Please use your legal last name."></app-font-awesome-icon>
          <input type="text" class="form-control" formControlName="lastName" [class.is-invalid]="invalid('lastName')" id="lastName" maxlength="50">
          <span class="invalid-feedback">Please enter a last name</span>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-8">
          <label class="required" for="firstName">First Name</label>
          <app-font-awesome-icon icon="info-circle" color="#C9C9C9" className="ml-3" title="Tool Tip: Please use your legal first name."></app-font-awesome-icon>
          <input type="text" class="form-control" [class.is-invalid]="invalid('firstName')" formControlName="firstName" id="firstName" maxlength="50">
          <span class="invalid-feedback">Please enter a first name</span>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-8">
          <label class="required" for="bceidAccountNumber">Business BCeID</label>
          <app-font-awesome-icon icon="info-circle" color="#C9C9C9" className="ml-3" title="Tool Tip: Please use your BCeID user ID."></app-font-awesome-icon>
          <input type="text" class="form-control" [class.is-invalid]="invalid('bceidAccountNumber')" formControlName="bceidAccountNumber" id="bceidAccountNumber">
          <span class="invalid-feedback">Please enter a valid BCeID</span>
        </div>
        <div class="col-4 bceid-warning-container">
          <ng-container *ngIf="shouldValidateForm && f.bceidAccountNumber.errors?.uniqueBceid">
            <app-attention-icon class="mr-2" [alignCenter]="false" [pullLeft]="false"></app-attention-icon>
            <small><strong>Warning - BCeID already exists</strong></small>
          </ng-container>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col">
          <label class="required">Role</label>
          <fieldset class="form-group">
            <legend class="sr-only">Role</legend>
            <div class="form-check">
              <label class="form-check-label" for="isAdministratorFalse">
                <input type="radio" class="form-check-input" name="isAdministrator" formControlName="isAdministrator" id="isAdministratorFalse" [value]="false">
                <span class="pl-3">ERA User</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="isAdministratorTrue">
                <input type="radio" class="form-check-input" name="isAdministrator" formControlName="isAdministrator" id="isAdministratorTrue" [value]="true">
                <span class="pl-3">ERA Superuser</span>
              </label>
            </div>
            <span [class.d-block]="invalid('isAdministrator')" class="invalid-feedback">Please select whether they are an ESS user or an admin user</span>
          </fieldset>
        </div>
      </div>

      <div class="row mt-5" *ngIf="iAmProvincialAdmin && f.isAdministrator.value === true">
        <div class="col">
          <label class="required">Primary Contact for Organization</label>
          <fieldset class="form-group">
            <legend class="sr-only">Primary Contact for Organization</legend>
            <div class="form-check">
              <label class="form-check-label" for="isPrimaryContactTrue">
                <input type="radio" class="form-check-input" name="isPrimaryContact" formControlName="isPrimaryContact" id="isPrimaryContactTrue" [value]="true">
                <span class="pl-3">Yes</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="isPrimaryContactFalse">
                <input type="radio" class="form-check-input" name="isPrimaryContact" formControlName="isPrimaryContact" id="isPrimaryContactFalse" [value]="false">
                <span class="pl-3">No</span>
              </label>
            </div>
            <span [class.d-block]="invalid('isPrimaryContact')" class="invalid-feedback">Please select whether this user is a primary contact for the organization</span>
          </fieldset>
        </div>
      </div>
    </form>

    <div *ngIf="shouldValidateForm && !form.valid" class="text-danger">
      <app-font-awesome-icon icon="exclamation-triangle"></app-font-awesome-icon>
      &nbsp;Some required fields have not been completed.
    </div>

    <div class="mt-5 space-between">
      <a href="javascript:void(0)" (click)="cancel()">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a>
      <button type="button" class="btn btn-primary float-right" (click)="next()">NEXT</button>
    </div>
  </div>
</div>

<div *ngIf="!editing">
  <h1 class="mt-3">Review Details</h1>
  <p>Please confirm that all details you entered are correct by reading through the summary below.</p>

  <section class="p-3">
    <h3>ERA User Details</h3>
    <ul class="summary">
      <li *ngIf="iAmProvincialAdmin">
        <span class="name">Organization:</span>
        <span class="value">{{volunteer.organization.name}}</span>
      </li>
      <li>
        <span class="name">Last Name:</span>
        <span class="value">{{volunteer.lastName}}</span>
      </li>
      <li>
        <span class="name">First Name:</span>
        <span class="value">{{volunteer.firstName}}</span>
      </li>
      <li>
        <span class="name">Business BCeID:</span>
        <span class="value">{{volunteer.bceidAccountNumber}}</span>
      </li>
      <li>
        <span class="name">Role:</span>
        <span class="value">{{volunteer.isAdministrator ? 'ERA Superuser' : 'ERA User'}}</span>
      </li>
      <li *ngIf="iAmProvincialAdmin && volunteer.isAdministrator">
        <span class="name">Primary Contact for Organization:</span>
        <span class="value">{{volunteer.isPrimaryContact ? 'Yes' : 'No'}}</span>
      </li>
    </ul>
  </section>

  <div class="mt-5 space-between">
    <section>
      <button (click)="back()" class="btn btn-outline-primary text-uppercase">Edit Details</button>
    </section>
    <section>
      <button *ngIf="!submitting" class="btn btn-primary text-uppercase" [class.is-disabled]="readOnlyService.getIsReadOnly()" (click)="submit()">Save</button>
      <button *ngIf="submitting" class="btn btn-primary text-uppercase" disabled>Submitting</button>
      <!-- when an admin is adding new volunteers we enable the add another button. -->
      <button *ngIf="editMode === 'ADD' && !submitting" class="btn btn-primary text-uppercase ml-2" [class.is-disabled]="readOnlyService.getIsReadOnly()" (click)="submit(true)">Save &amp; Add Another User</button>
    </section>
  </div>
</div>
