<div class="row">
  <div class="col col-lg-8">
    <router-outlet></router-outlet>
  </div>
  <!-- Information side bar -->
  <div class="col-12 col-lg-4">
    <app-side-box title="Useful Information" icon="description">
      <section role="content">
        <p>
          In order to add an organization, you will need the Business BCeID User ID of the admin user for the
          organization.
        </p>
        <p>
          An organization refers to a Regional District,
        </p>
        <p>
          Local Authority, First Nations Community, or NGO that your Emergency Support Services (ESS) Team is
          responsible to.
        </p>
        <!-- <section role="footer">
            <a class="btn btn-primary" href="tel:1-800-663-3456">1-800-663-3456</a>
          </section> -->
      </section>
    </app-side-box>
  </div>
</div>