<div class="mb-4">
  <h1>Welcome to the Evacuee Registration &amp; Assistance (ERA) User Dashboard!</h1>
  <p>
    As an ERA User you'll be able to register new evacuees, complete an existing evacuee
    self-registration, or if needed, search and edit evacuee information.
  </p>
  <!--Basic Search-->
  <div class="search-container">
    <div role="search">
      <div class="center-text">
        <div class="title-flex">
          <h1 class="flex-item">Locate Evacuee File</h1>
          <span class="large-icon icon-stack">
            <i class="fa fa-search back-icon"></i>
            <i class="fa fa-user front-icon"></i>
          </span>
        </div>
        <p>
          Locate an evacuee file by entering their ESS File # into the box below.
          <br />
          <strong>No ESS File #</strong>? Enter 3 pieces of the evacuees' personal information to retrieve their file.
        </p>
      </div>
      <ng-container>
        <h1 class="yellow-header header-text">Evacuee Emergency Support Services (ESS) File #</h1>
        <form novalidate [formGroup]="searchForm" (ngSubmit)="essSearch()">
          <div class="feature-block">
            <p>
              If the evacuee has their <strong>ESS File #</strong> that they received when they <strong>self
                registered</strong>, enter it below to locate their evacuee file.
            </p>
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label for="asEssFileNo" class="col-5 col-form-label">ESS File #:</label>
                  <div class="col-7">
                    <input type="text" class="form-control" id="asEssFileNo" formControlName="ess_file_no">
                    <div class="missing-input" *ngIf="!formValid.hasESSNumber">
                      Please enter a valid ESS File #
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <button type="submit" class="ml-2 btn btn-primary text-uppercase">Search</button>
            </div>
          </div>
        </form>
        <div class="or-divider">
          <h1 class="circle">OR</h1>
        </div>
        <h1 class="blue-header header-text">Evacuee Details</h1>
        <form novalidate [formGroup]="searchForm" (ngSubmit)="doBasicSearch()">
          <div class="feature-block">
            <p>
              In the event where the evacuee doesn't have their ESS File #, you must confirm 3 pieces of information in
              order to locate their file. Ensure accurate spelling of names. <i>All fields are required</i>
            </p>
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label for="asLastname" class="col-5 col-form-label">Last Name:</label>
                  <div class="col-7">
                    <input type="text" class="form-control" id="asLastname" formControlName="last_name" required>
                    <div class="missing-input" *ngIf="!formValid.hasLastName">
                      Please enter evacuee last name
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="asFirstname" class="col-5 col-form-label">First Name:</label>
                  <div class="col-7">
                    <input type="text" class="form-control" id="asFirstname" formControlName="first_name" required>
                    <div class="missing-input" *ngIf="!formValid.hasFirstName">
                      Please enter evacuee first name
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="asDob" class="col-5 col-form-label">Date of Birth:</label>
                  <div class="col-7">
                    <input type="text" class="form-control" id="asDob" formControlName="dob" required
                      placeholder="YYYY-MM-DD" [value]="this.dobString"
                      [textMask]="{mask: dateMask, keepCharPositions: true}" (blur)="this.updateDob()">
                    <div class="missing-input" *ngIf="!formValid.hasDob">
                      Please enter evacuee date of birth
                    </div>
                    <div class="missing-input" *ngIf="formValid.hasDob && !formValid.hasValidDobFormat">
                      Please enter valid date of birth
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <button type="submit" class="ml-2 btn btn-primary text-uppercase">Search</button>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>