$search-container-bg: #f8f9fa;
$icon-color: #38598a;

.or-divider {
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
    margin-top: -25px;
}

.circle {
    background-color: #fff;
    border: 3px solid #38598a;
    border-radius: 50%;
    padding: 10px;
}

.missing-input {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d93e45
}

.header-text {
    font-size: 30px;
    font-weight: 500;
    text-transform: none;
}

.search-container {
    background-color: $search-container-bg;
    padding: 25px;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: end;
}

.title-flex {
    display: flex;
}

.flex-item {
    flex: 1 1 auto;
    &.flex-left {
        align-self: flex-end;
    }
    &.flex-center {
        align-self: center;
    }
}

.large-icon {
    font-size: 36px;
}

.icon-stack {
    position: relative;
    display: inline-block;
    color: $icon-color;
    width: 2em;
}

.back-icon {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 80px;
    left: 6px;
    top: -5px;
}

.front-icon {
    padding-left: 5px;
    padding-top: 10px;
}
