.or-divider {
    display: flex;
    justify-content: center;
    margin-bottom: -45px;
    margin-top: -15px;
}

.circle {
    background-color: #fff;
    border: 3px solid #38598a;
    border-radius: 50%;
    padding: 10px;
}

.missing-input {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d93e45
}
