$search-container-bg: #f8f9fa;

.or-divider {
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
    margin-top: -25px;
}

.circle {
    background-color: #fff;
    border: 3px solid #38598a;
    border-radius: 50%;
    padding: 10px;
}

.missing-input {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d93e45
}

.search-container {
    background-color: $search-container-bg; 
    text-align: center;
    padding: 25px;
}
