<div class="row">
  <div class="col-lg-9">
    <!-- TODO: this registration list should be broken into components without the header block -->
    <app-organization-list></app-organization-list>
    <hr>
  </div>
  <div class="col-lg-3">
    <app-sidebox-add-task-number></app-sidebox-add-task-number>
    <app-sidebox-add-organization></app-sidebox-add-organization>
    <app-sidebox-add-volunteer></app-sidebox-add-volunteer>
    <app-sidebox-add-registration></app-sidebox-add-registration>
    <app-side-box>
      <p>
        A BCeID will be needed if an organization and/or a user is accessing this system.
      </p>
      <p>
        If you have any questions regarding BCeID, please read the <a class="text-light" href="https://www.bceid.ca/aboutbceid/faqs.aspx">Frequently Asked Questions.</a>
      </p>
    </app-side-box>
  </div>
</div>
