<div class="modal-header">
  <h1 class="modal-title h2">Emergency Support Services Rates</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <table class="table table-rates">
    <thead>
      <tr class="light">
        <th scope="col" colspan="2">LODGING</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="dark">
        <th scope="row">1</th>
        <td class="light">Hotel/Motel/B&amp;B</td>
        <td>
          <p class="text-muted">Emergency Support Services is eligible for approved Provincial Government Rates from
            commercial lodgings supplier listed in the Ministry of Labour and Citizens' Services Business Travel
            Lodging Listings for government travel.</p>
          <p><strong>Only the cost of the room is covered.</strong><br>
            The evacuee is responsible for all other charges (e.g., video rentals, damages, parking, local and
            longdistance calls).</p>
        </td>
      </tr>
      <tr class="dark">
        <th scope="row">2</th>
        <td class="light">Billeting in Private Homes</td>
        <td>
          <p>The Referral Form for billeting is issued to the billeting host (supplier). Billeting rate does not include
            meals.</p>
          <p><strong>$30 per night based on single occupancy (add $10 for each additional adult and youth and $5 for
              each additional child).</strong></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
