<app-layout-main>
  <!-- TODO: this registration list should be broken into components without the header block -->
  <app-volunteer-organization-list></app-volunteer-organization-list>
</app-layout-main>
<app-layout-side>
  <app-sidebox-add-task-number></app-sidebox-add-task-number>
  <app-sidebox-add-organization></app-sidebox-add-organization>
  <app-sidebox-add-registration></app-sidebox-add-registration>
  <app-side-box title="Useful Information">
    <section role="content">
      <p>
        Don't forget to deactivate Emergency Support Services users who are no longer active members of your team.
      </p>
      <p>
        This includes deactivating convergent volunteers.
      </p>
    </section>
    <!-- <section role="footer">
            <button class="btn btn-primary" routerLink="/">Learn More</button>
          </section> -->
  </app-side-box>
</app-layout-side>