<div class="row">
  <div class="col-lg-9">
    <!-- TODO: this registration list should be broken into components without the header block -->
    <app-volunteer-organization-list></app-volunteer-organization-list>
    <hr>
  </div>
  <div class="col-lg-3">
    <app-sidebox-add-task-number></app-sidebox-add-task-number>
    <app-sidebox-add-organization></app-sidebox-add-organization>
    <app-sidebox-add-registration></app-sidebox-add-registration>
    <app-side-box>
      <p>
        Your BCeID Business Accounts Manager should regularly audit your organization's ESS Team list to ensure that it is up to date.
      </p>
      <p>
        Remember that even convergent volunteers require a Business BCeID in order to be registered under your organization.
      </p>
    </app-side-box>
  </div>
</div>
