<div class="row">
  <div class="col-lg-9">
    <!-- TODO: this registration list should be broken into components without the header block -->
    <app-evacuee-list></app-evacuee-list>
    <hr>
  </div>
  <div class="col-lg-3">
    <app-sidebox-add-registration>
    </app-sidebox-add-registration>
    <app-side-box>
      <p>
        <strong>Trouble locating an evacuee file?</strong>
        <br />
        If the evacuee doesn't have an ESS File # and you entered the evacuees' details, ensure all details entered were
        correct (this includes spelling and/or special characters).
      </p>
      <p>
        Alternatively, contact your ESS Supervisor for assistance.
      </p>
    </app-side-box>
  </div>
</div>