<div class="row">
  <div class="col-lg-9">
    <app-registration-maker></app-registration-maker>
  </div>
  <div class="col-lg-3">
    <app-sidebox-collection-notice></app-sidebox-collection-notice>
    <app-side-box title="Useful Information" icon="list">
      <p>
        If the evacuee has insurance, please encourage them to contact their insurance provider as soon as possible.
      </p>
      <p>
        If they are having difficulty contacting their insurance provider, have them contact the Insurance Bureau of Canada at <a class="text-light" href="tel:18442275422">1-844-227-5422</a>.
      </p>
    </app-side-box>
  </div>
</div>
