<nav class="navbar navbar-default navbar-expand navbar-footer navbar-static-bottom">
  <ul class="navbar-nav">
    <li class="mr-4">
      <a routerLink="" title="Go Home">Home</a>
    </li>
    <li class="mr-4">
      <a routerLink="volunteer-dashboard" title="Go to Evacuees Area">Evacuees</a>
    </li>
    <!-- The above link should go to the page of users for -->
    <!-- <li class="mr-4">
      <a routerLink="" title="Go to ESS Team page">ESS Team</a>
    </li> -->
    <!-- <li class="mr-4">
      <a routerLink="volunteer-info" title="Go to useful information">Useful Information</a>
    </li> -->
  </ul>
</nav>