<div class="row">
  <div class="col-lg-9">
    <!-- TODO: this registration list should be broken into components without the header block -->
    <app-volunteer-list></app-volunteer-list>
    <hr>
  </div>
  <div class="col-lg-3">
    <!-- <app-collection-notice></app-collection-notice> -->
    <app-sidebox-add-registration></app-sidebox-add-registration>
    <app-sidebox-add-volunteer></app-sidebox-add-volunteer>
    <!-- This functionality is not built yet so we should hide this box. -->
    <!-- <app-side-infobox title="Useful Information">
      <p>
        Don't forget to deactivate Emergency Support Services users who are no longer active members of your team.
      </p>
      <p>
        This includes deactivating convergent volunteers.
      </p>
    </app-side-infobox> -->
  </div>
</div>
