<div class="col col-lg-9">
  <!-- TODO: this registration list should be broken into components without the header block -->
  <app-volunteer-list></app-volunteer-list>
</div>
<div class="col col-lg-3">
  <!-- <app-collection-notice></app-collection-notice> -->
  <app-sidebox-add-registration></app-sidebox-add-registration>
  <app-sidebox-add-volunteer></app-sidebox-add-volunteer>
  <app-side-box title="Useful Information">
    <section role="content">
      <p>
        Don't forget to deactivate Emergency Support Services users who are no longer active members of your team.
      </p>
      <p>
        This includes deactivating convergent volunteers.
      </p>
    </section>
  </app-side-box>
</div>
