<!-- Provincial Staff -->
<div class="mb-4">
  <h1>Users for {{ currentOrganization?.name || 'all organizations' }}</h1>
  <p>Use this page to view active Emergency Support Services users &amp; administrative users associated with your organization, as well as add users, and edit profiles &amp; permissions.</p>

  <section class="p-3" *ngIf="currentOrganization?.name">
    <h3>Organization Details</h3>
    <ul class="summary">
      <li>
        <span class="name">Name of Organization:</span>
        <span class="value">{{ currentOrganization?.name }}</span>
      </li>
      <li>
        <span class="name">Associated EMBC Region / Regional District / Community:</span>
        <span class="value">{{ currentOrganization?.community?.name }}</span>
      </li>
      <li>
        <span class="name">Primary Contact:</span>
        <span class="value">{{ currentOrganization?.adminLastName }}, {{ currentOrganization?.adminFirstName }}</span>
      </li>
      <li>
        <span class="name">Organization Status:</span>
        <span class="value">{{ !!currentOrganization?.active ? 'Active' : 'Inactive' }}</span>
      </li>
    </ul>
  </section>

  <h3 class="blue-header">Users List</h3>
  <div class="form-row">
    <div class="col-md">
      <input type="text" aria-label="search" class="form-control mb-2" placeholder="Search by last name &hellip;" [(ngModel)]="queryString" (keydown.enter)="search()">
    </div>
    <div class="col-md-auto">
      <button class="btn btn-primary text-uppercase" (click)="search()">Search</button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="showAll" [(ngModel)]="userType" (ngModelChange)="search()" value="SHOW_ALL">
      <label class="form-check-label" for="showAll">Show all</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="showAdminsOnly" [(ngModel)]="userType" (ngModelChange)="search()" value="SHOW_ADMINS_ONLY">
      <label class="form-check-label" for="showAdminsOnly">Show only admin users</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="essUsersOnly" [(ngModel)]="userType" (ngModelChange)="search()" value="SHOW_ESS_USERS_ONLY">
      <label class="form-check-label" for="essUsersOnly">Show only Emergency Support Services users</label>
    </div>
  </div>
  <div class="search-results mt-4">
    <div *ngIf="resultsAndPagination?.data?.length > 0; then adminSearchResultsTable; else adminNotFound"></div>
  </div>

  <ng-template #adminSearchResultsTable>
    <div class="space-between align-items-center my-3">
      <section>
        <app-pagination-summary [value]="resultsAndPagination.metadata">
          <span class="font-weight-bold">ACTIVE</span> users
          <!-- TODO: <small class="ml-3">(<a href="">show deactivated</a>)</small> -->
        </app-pagination-summary>
      </section>
      <section>
        <button class="btn btn-primary float-right text-uppercase" (click)="modifyOrganizationVolunteer()">Add Users</button>
      </section>
    </div>
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <th scope="col text-uppercase">Last Name</th>
        <th scope="col text-uppercase">First Name</th>
        <th scope="col text-uppercase">BCeID</th>
        <!-- <th scope="col">RESTRICTED FILES</th> -->
        <th scope="col text-uppercase">Role</th>
        <th scope="col text-uppercase">Primary Contact</th>
        <th scope="col text-uppercase">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let volunteer of resultsAndPagination.data">
          <td>{{volunteer.lastName}}</td>
          <td>{{volunteer.firstName}}</td>
          <td>{{volunteer.bceidAccountNumber}}</td>
          <!-- <td>
              <span *ngIf="volunteer.canAccessRestrictedFiles">Yes</span>
              <span *ngIf="!volunteer.canAccessRestrictedFiles">No</span>
            </td> -->
          <td>{{!!volunteer.isAdministrator ? 'Admin' : 'ESS User'}}</td>
          <td>{{!!volunteer.isAdministrator ? (!!volunteer.isPrimaryContact | yesNo) : 'n/a'}}</td>
          <td>
            <a href="javascript:void(0)" (click)="modifyOrganizationVolunteer(volunteer.id)">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination area -->
    <div class="col clearfix" *ngIf="resultsAndPagination?.metadata?.totalPages > 1">
      <app-paginator class="float-right" [metaData]="resultsAndPagination.metadata" (params)="onPaginationEvent($event)"></app-paginator>
      <!-- <ngb-pagination class="float-right" [collectionSize]="collectionSize" [pageSize]="maxSize" [(page)]="page" [boundaryLinks]="boundaryLinks" (pageChange)="onPageChange($event)"></ngb-pagination> -->
    </div>

    <div class="clearfix">
      <button class="btn btn-primary float-right text-uppercase" (click)="modifyOrganizationVolunteer()">Add Users</button>
    </div>
  </ng-template>

  <ng-template #adminNotFound>
    <p>
      {{notFoundMessage}}
    </p>
  </ng-template>
</div>

<!-- <ul>
  <li>page:{{page|json}}</li>
  <li>totalPages:{{totalPages|json}}</li>
  <li>collectionSize:{{collectionSize|json}}</li>
  <li>maxSize:{{maxSize|json}}</li>
  <li>previousQuery:{{previousQuery|json}}</li>
  <li>sort:{{sort|json}}</li>
</ul> -->

<!-- Alert to confirm editing user details -->
<ng-template #viewAlert let-modal>
  <div class="modal-header">
    <h1 class="modal-title h2">Alert</h1>
    <button type="button" class="close" aria-label="Close" (click)="confirmModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>
      You are requesting to edit user details.<br>
      Are you sure you want to do this?
    </p>

    <div class="mt-4 space-between">
      <a href="javascript:void(0)" (click)="confirmModal.dismiss()">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a>
      <button class="btn btn-primary float-right" (click)="confirmModal.close()">YES</button>
    </div>
  </div>
</ng-template>
