$text-color: #fff;

.contact-info {
    color: $text-color;
    & span {
        color: #f6b81a;
        font-weight: bold;
    }
}

.everyone-nav-bar {
    display: flex;
    & div {
        flex: 1 1 auto;
        flex-direction: row-reverse;
    }
}