<div *ngIf="registration">

  <div *ngIf="editMode">
    <h1>Identify Supports</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu a
      fringilla.
    </p>

    <section class="clearfix">
      <!-- confirm task start time -->
      <div class="feature-block card d-block border-0">
        <div *ngIf="registration?.incidentTask['startDate']">
          <label>Please confirm timing for commencement of supports:</label>
          <!-- <div>{{registration.incidentTask['startDate'] | date:'yyyy/MM/dd \'at\' HH:mm:ss a'}}</div> -->
          <div>Incident start date &amp; time: {{registration.incidentTask['startDate'] | dateTimeFormatPipe}}</div>
        </div>
      </div>

      <!-- select required supports -->
      <div class="card d-block border-0 p-4">
        <label>Select required supports:</label>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="foodReferrals.length > 0" id="supportFood"
            (change)="foodReferralChange()">
          <label class="form-check-label" for="supportFood">Food</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="clothingReferrals.length > 0" id="supportClothing">
          <label class="form-check-label" for="supportClothing">Clothing</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="accommodationReferrals.length > 0"
            id="supportAccommodation">
          <label class="form-check-label" for="supportAccommodation">Accommodation</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="incidentalsReferrals.length > 0"
            id="supportIncidentals" (change)="incidentalsReferralChange()">
          <label class="form-check-label" for="supportIncidentals">Incidentals</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="transportationReferrals.length > 0"
            id="supportTransportation">
          <label class="form-check-label" for="supportTransportation">Transportation</label>
        </div>
      </div>

      <!-- loop through all referrals by type -->
      <article *ngFor="let r of foodReferrals; let i = index" class="mt-4">
        <!-- <app-food-referral ([r])="r"></app-food-referral> -->
      </article>

      <article *ngFor="let r of clothingReferrals; let i = index" class="mt-4">
        <!-- <app-clothing-referral ([r])="r"></app-clothing-referral> -->
      </article>

      <article *ngFor="let r of accommodationReferrals; let i = index" class="mt-4">
        <!-- <app-accommodation-referral ([r])="r"></app-accommodation-referral> -->
      </article>

      <article *ngFor="let r of incidentalsReferrals; let i = index" class="mt-4">
        <app-incidentals-referral [(referral)]="r" [editMode]="true" (remove)="removeIncidentalsReferral(i)"
          (add)="addIncidentalsReferral()"></app-incidentals-referral>
      </article>

      <article *ngFor="let r of transportationReferrals; let i = index" class="mt-4">
        <!-- <app-transportation-referral ([r])="r"></app-transportation-referral> -->
      </article>
    </section>

    <div class="mt-5 space-between">
      <a routerLink="" (click)="cancel()">
        <app-font-awesome-icon icon="times"></app-font-awesome-icon>
        <span class="ml-2">Cancel &amp; Close</span>
      </a>
      <button type="button" class="btn btn-primary float-right" (click)="createReferral()">CREATE REFERRAL</button>
    </div>
  </div>

  <div *ngIf="!editMode">
    <h1>Create Referrals</h1>

    <p>Please confirm that all details you entered are correct by reading through the summary below with the evacuee.
    </p>

    <section class="clearfix">
      <article *ngFor="let r of incidentalsReferrals; let i = index" class="mt-4">
        <app-incidentals-referral [(referral)]="r" [editMode]="false"></app-incidentals-referral>
      </article>
    </section>

    <!-- TODO: prompt for confirmation; disable Finalize until confirmed; set confirmChecked=true -->

    <div class="mt-5 space-between">
      <section>
        <button type="button" (click)="back()" class="btn btn-secondary">EDIT REFERRALS</button>
      </section>
      <section>
        <a routerLink="" (click)="cancel()">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
        <button type="button" *ngIf="!submitting" class="btn btn-primary ml-5" (click)="finalize()">FINALIZE
          REFERRALS</button>
        <button type="button" *ngIf="submitting" class="btn btn-primary ml-5" disabled>FINALIZING...</button>
      </section>
    </div>
  </div>

</div>
