<div *ngIf="registration">

  <div *ngIf="editMode">
    <h1>Identify Supports</h1>

    <p>
      The Identify Supports Page is where the Emergency Support Services Team will determine immediate needs of the
      evacuee and create Referrals based on those needs.
    </p>

    <!-- confirm task start time -->
    <div *ngIf="registration?.incidentTask?.startDate">
      <div class="feature-block-header">
        <label class="m-0 p-0">Please confirm timing for commencement of supports:</label>
      </div>
      <div class="feature-block card d-block border-0">
        <div>Incident start date &amp; time: {{registration?.incidentTask?.startDate | dateTimeFormatPipe}}</div>
        <div class="row">
          <div class="col">
            <span class="align-bottom">
              <span class="h3">Support start date &amp; time: {{defaultDate | dateTimeFormatPipe}} <span *ngIf="!defaultDate">Please enter a valid date.</span></span>
            </span>
          </div>
          <div class="col-2">
            <span class="align-bottom">
              <a href="javascript:void(0)">
                <app-font-awesome-icon icon="times"></app-font-awesome-icon>
                <span class="ml-2" (click)="showDefaultDatePicker=!showDefaultDatePicker">Override start time</span>
              </a>
            </span>
          </div>
        </div>
        <div *ngIf="showDefaultDatePicker">
          <div class="row">
            <div class="col">
              <strong>Valid From</strong>
            </div>
            <div class="col">
              <strong>Valid To</strong>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <app-date-time-picker [(value)]="defaultDate"></app-date-time-picker>
            </div>
          </div>
        </div>
      </div>



      <!-- select required supports -->
      <div class="card d-block border-0 p-4">
        <label>Select required supports:</label>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="foodReferrals.length > 0" id="supportFood" (change)="foodReferralChange()">
          <label class="form-check-label" for="supportFood">Food</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="lodgingReferrals.length > 0" id="supportLodging" (change)="lodgingReferralChange()">
          <label class="form-check-label" for="supportLodging">Lodging</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="clothingReferrals.length > 0" id="supportClothing" (change)="clothingReferralChange()">
          <label class="form-check-label" for="supportClothing">Clothing</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="transportationReferrals.length > 0" id="supportTransportation" (change)="transportationReferralChange()">
          <label class="form-check-label" for="supportTransportation">Transportation</label>
        </div>
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" [checked]="incidentalsReferrals.length > 0" id="supportIncidentals" (change)="incidentalsReferralChange()">
          <label class="form-check-label" for="supportIncidentals">Incidentals</label>
        </div>
      </div>

      <!-- loop through all referrals by type -->
      <section class="clearfix">
        <article *ngFor="let r of foodReferrals; let i = index" class="mt-4">
          <app-referral-list-item type="FOOD" (remove)="remove(foodReferrals, i)" (add)="addFoodReferral()">
            <app-food-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
            </app-food-referral>
          </app-referral-list-item>
        </article>

        <article *ngFor="let r of lodgingReferrals; let i = index" class="mt-4">
          <app-referral-list-item type="LODGING" (remove)="remove(lodgingReferrals, i)" (add)="addLodgingReferral()">
            <app-lodging-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
            </app-lodging-referral>
          </app-referral-list-item>
        </article>

        <article *ngFor="let r of clothingReferrals; let i = index" class="mt-4">
          <app-referral-list-item type="CLOTHING" (remove)="remove(clothingReferrals, i)" (add)="addClothingReferral()">
            <app-clothing-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
            </app-clothing-referral>
          </app-referral-list-item>
        </article>

        <article *ngFor="let r of transportationReferrals; let i = index" class="mt-4">
          <app-referral-list-item type="TRANSPORTATION" (remove)="remove(transportationReferrals, i)" (add)="addTransportationReferral()">
            <app-transportation-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
            </app-transportation-referral>
          </app-referral-list-item>
        </article>

        <article *ngFor="let r of incidentalsReferrals; let i = index" class="mt-4">
          <app-referral-list-item type="INCIDENTALS" (remove)="remove(incidentalsReferrals, i)" (add)="addIncidentalsReferral()">
            <app-incidentals-referral [showErrorsWhen]="userClickedNext" [referral]="r.value" [evacuees]="evacuees" [formChangeTrigger]="submitTrigger" (formValidationChange)="updateValidationStatus(r, $event)" (formChange)="updateReferral(r, $event)">
            </app-incidentals-referral>
          </app-referral-list-item>
        </article>
      </section>

      <div class="mt-5 space-between">
        <a routerLink="" (click)="cancel()">
          <app-font-awesome-icon icon="times"></app-font-awesome-icon>
          <span class="ml-2">Cancel &amp; Close</span>
        </a>
        <button type="button" class="btn btn-primary float-right" (click)="createReferrals()">CREATE REFERRALS</button>
      </div>
    </div>

    <!-- *********************************SUMMARY BELOW****************************************** -->
    <div *ngIf="!editMode">
      <h1>Review Referrals</h1>

      <p>
        Please confirm that all details you entered are correct by reading through the summary below with the evacuee.
      </p>

      <section class="clearfix">
        <article *ngFor="let r of foodReferrals; let i = index" class="mt-4">
          <app-food-referral [referral]="r.value" [readOnly]="true"></app-food-referral>
        </article>

        <article *ngFor="let r of lodgingReferrals; let i = index" class="mt-4">
          <app-lodging-referral [referral]="r.value" [readOnly]="true"></app-lodging-referral>
        </article>

        <article *ngFor="let r of clothingReferrals; let i = index" class="mt-4">
          <app-clothing-referral [referral]="r.value" [readOnly]="true"></app-clothing-referral>
        </article>

        <article *ngFor="let r of transportationReferrals; let i = index" class="mt-4">
          <app-transportation-referral [referral]="r.value" [readOnly]="true"></app-transportation-referral>
        </article>

        <article *ngFor="let r of incidentalsReferrals; let i = index" class="mt-4">
          <app-incidentals-referral [referral]="r.value" [readOnly]="true"></app-incidentals-referral>
        </article>
      </section>

      <!-- TODO: prompt for confirmation; disable Finalize until confirmed; set confirmChecked=true -->

      <div class="mt-5 space-between">
        <section>
          <button type="button" (click)="back()" class="btn btn-secondary">EDIT REFERRALS</button>
        </section>
        <section>
          <a routerLink="" (click)="cancel()">
            <app-font-awesome-icon icon="times"></app-font-awesome-icon>
            <span class="ml-2">Cancel &amp; Close</span>
          </a>
          <button type="button" *ngIf="!submitting" class="btn btn-primary ml-5" (click)="finalize()">
            FINALIZE REFERRALS
          </button>
          <button type="button" *ngIf="submitting" class="btn btn-primary ml-5" disabled>
            FINALIZING...
          </button>
        </section>
      </div>
    </div>

  </div>

  <!-- <pre>{{foodReferrals|json}}</pre> -->
