<div class="col col-lg-8">
  <div>
    <h1 class="mt-3">Evacuee Summary</h1>
    <h3 class="blue-header">
      TASK NUMBER & PLACE OF REGISTRATION
    </h3>

    <section class="pt-3 pr-3 pl-3">


      <div class="feature-block">
        <table class="w-auto">
          <thead>
            <tr>
              <td scope="col" colspan="4">
                <h1>
                  {{registration.headOfHousehold.lastName}}, {{registration.headOfHousehold.firstName}}
                  {{registration.headOfHousehold.initials}}
                </h1>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Task #: {{registration.incidentTask.taskNumber}}</td>
              <td class="pr-2 pl-2" colspan="2">Self Registration Date & Time:
                {{registration.selfRegisteredDate | date}}
              </td>
              <td>File Status:
                <span *ngIf="registration.active">Active</span>
                <span *ngIf="!registration.active">Inactive</span>
              </td>
            </tr>
            <tr>
              <td>ESS File #: {{registration.essFileNumber}}</td>
              <td class="pr-2 pl-2" colspan="2">Registration Completed Date & Time:
                {{registration.registrationCompletionDate | date}}
              </td>
              <td>Restricted File:
                <span *ngIf="registration.restrictedAccess">Yes</span>
                <span *ngIf="!registration.restrictedAccess">No</span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </section>
    <section class="p-3">
      <ul class="summary">
        <li>
          <span class="name">Facility Name/Registration Location</span>
          <span class="value">{{registration.facility}}</span>
        </li>
        <li>
          <span class="name">Host Community:</span>
          <span class="value">{{registration.hostCommunity.name}}</span>
        </li>
        <li>
          <span class="name"> Family Members:</span>
          <span class="value">
            {{registration.headOfHousehold.lastName}}, {{registration.headOfHousehold.firstName}}<br>
            <span *ngFor="let familyMember of registration.headOfHousehold.familyMembers">{{familyMember.lastName}},
              {{familyMember.firstName}}<br>
            </span>
          </span>
        </li>
        <li>
          <span class="name">Supports:</span>
          <span class="value">
            <span *ngIf="registration.requiresSupport">Yes</span>
            <span *ngIf="!registration.requiresSupport">No</span>
          </span>
        </li>
        <li>
          <span class="name">Supports Requested:</span>
          <span class="value">
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" disabled>
              <label class="form-check-label">Food</label>
            </div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" disabled>
              <label class="form-check-label">Clothing</label>
            </div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" disabled>
              <label class="form-check-label">Accommodation</label>
            </div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" disabled>
              <label class="form-check-label">Incidentals</label>
            </div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" disabled>
              <label class="form-check-label">Transportation</label>
            </div>
          </span>
        </li>
      </ul>
    </section>
    <div class="mt-5">
      <button class="btn btn-primary float-right">NEXT</button>
    </div>

  </div>
  <div class="mt-5">
    <pre>{{registration|json}}</pre>
  </div>
</div>

<!-- Information side bar -->
<div class="col-12 col-lg-4">
  <app-side-box-info title="ADD AN EVACUEE"
    content="Before starting a new registration, use the search tool on your dashboard to confirm that the evacuee hasn’t already registered."
    button="Add Evacuee(s)" route="register-evacuee"></app-side-box-info>
</div>