<div class="row">
  <div class="col-8">
    <span class="h3">Valid From</span>
    <div class="row">
      <div class="col-6">
        <div class="form-group mb-0">
          <label for="validFromDate_{{referralDate.uuid}}">Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="validFromDate_{{referralDate.uuid}}" ngbDatepicker #fromDate="ngbDatepicker" [firstDayOfWeek]="7" navigation="arrows" [(ngModel)]="wrdForm.to" (click)="fromDate.close();" required aria-required="true">
            <div class="input-group-append">
              <button class="btn btn-icon" (click)="fromDate.toggle()" type="button" tabindex="-1">
                <i class="material-icons">date_range</i>
              </button>
            </div>
          </div>

          <span class="invalid-feedback">Please enter a valid date.</span>
        </div>

      </div>
      <div class="col-3 pl-0">
        <label for="validFromTime_{{referralDate.uuid}}">Time</label>
        <input type="time" id="validFromTime_{{referralDate.uuid}}" class="form-control">
        <span class="invalid-feedback">Please enter a valid time.</span>
      </div>
      <div class="col-3 pl-0">
        <label for="numberDays_{{referralDate.uuid}}"># Days</label>
        <select class="form-control" id="numberDays_{{referralDate.uuid}}">
          <option>--</option>
          <option *ngFor="let n of days">{{n}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-4">
    <span class="h3">Valid To</span>
    <div class="row">
      <div class="col-7">
        <label for="validToDate_{{referralDate.uuid}}">Date</label>
        <input type="text" id="validToDate_{{referralDate.uuid}}" class="form-control" readonly>
      </div>
      <div class="col-5 pl-0">
        <label for="validToTime_{{referralDate.uuid}}">Time</label>
        <input type="text" id="validToTime_{{referralDate.uuid}}" class="form-control" readonly>
      </div>
    </div>
  </div>
  <!-- TODO: we should emit whenever a form element changes -->
  <button (click)="emitReferralDate(wrd)">Emit</button>
  <pre>{{wrdForm|json}}</pre>
