// remove up/down arrows from date and time inputs
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.picker-patch {
  position: relative;
  right: 48px;
  z-index: 3; // above input element

  &:focus, &:hover {
    color: unset;
  }
}
