@import "~src/styles/_defaults.scss";

// allow list to scroll
::ng-deep ngb-typeahead-window {
  overflow-y: auto;
  max-height: 300px;
}

div {
  position: relative;
}

button {
  position: absolute;
  top: 0.28rem;
  right: 0.32em;
  bottom: 0.28rem;
  padding: 0.15rem;
  color: $gray7;
  background-color: $white;

  &:active,
  &:focus,
  &:hover {
    color: $gray9;
    background-color: $gray2;
  }
}