<!-- TODO: fix forms that use this component and change this to child form control only -->
<div *ngIf="myFormControl">
  <input class="form-control" type="text" [formControl]="myFormControl" placeholder="{{myPlaceHolder}}"
    [ngbTypeahead]="search" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter"
    #instance="ngbTypeahead" [required]="myRequired" (blur)="onBlur($event.target.value)" [id]="myId">
</div>
<div *ngIf="myParent && myFormControlName" [formGroup]="myParent">
  <input class="form-control" type="text" formControlName="{{myFormControlName}}" placeholder="{{myPlaceHolder}}"
    [ngbTypeahead]="search" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter"
    #instance="ngbTypeahead" [required]="myRequired" (blur)="onBlur($event.target.value)" [id]="myId">
</div>
