@import "~src/styles/_defaults.scss";

// allow list to scroll
::ng-deep ngb-typeahead-window {
  overflow-y: auto;
  max-height: 300px;
}

:host.is-invalid input {
  border-color: $danger;
}

div {
  position: relative;
}
