<div class="card border-0 h-100">
  <div class="card-body">
    <p class="required"><strong>Please select which evacuees registered on your profile require this support:</strong></p>

    <p><a href="javascript:void(0);" (click)="selectAllEvacuees()">Select All</a></p>
    <div class="family-list">
      <div class="form-group form-check mt-2" *ngFor="let e of evacuees; index as i">
        <input type="checkbox" class="form-check-input" [checked]="isSelected(e)" (change)="selectEvacuee(e)" id="{{identifier}}-person-{{i}}">
        <label class="form-check-label" for="{{identifier}}-person-{{i}}">{{e.lastName}}, {{e.firstName}}</label>
      </div>
    </div>
    <span class="invalid-feedback" [class.d-block]="invalid">Please select evacuees requiring this support</span>
  </div>
</div>
