<header class="app-header">
  <div class="top-menu row" style="padding-left: 30px; padding-right: 30px;">
    <section class="col-md-8 col-xs-12">
      <a (click)='homeButton()' tabindex="1">
        <img class="header-logo" alt="B.C. Government Logo" src="assets/bc-logo.svg">
      </a>
      <span class="title" role="banner">
        Emergency Management BC&nbsp;
        <!-- <span class="label label-beta">Beta</span> -->
      </span>
    </section>
    <section class="col-md-4 col-xs-12 sign-container">
      <span class="sign" *ngIf="currentUser">
        <span>{{currentUser.name}}</span>
        &nbsp;
        <span class="text-right signin">
          <a href="logout">Sign Out</a>
        </span>
      </span>
      <span class="sign" *ngIf="!currentUser">
        <span class="text-right signin">
          <a href="login/" tabindex="1">Log In</a>
        </span>
      </span>
    </section>
  </div>
</header>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" (click)='homeButton()'>
        <img class="img-fluid d-none d-md-block" src="assets/bootstrap-theme/dist/images/bcid-logo-rev-en.svg" width="181" height="44" alt="B.C. Government Logo">
        <img class="img-fluid d-md-none" src="assets/bootstrap-theme/dist/images/bcid-symbol-rev.svg" width="64" height="44" alt="B.C. Government Logo">
      </a>
      <div class="navbar-brand" (click)='homeButton()'>
        Emergency Management BC
      </div>
      <span class="navbar-text" *ngIf="currentUser">
        <span>{{currentUser.name}}</span>
        &nbsp;
        <a href="logout">Sign Out</a>
      </span>
      <span class="navbar-text" *ngIf="!currentUser">
        <a href="login/" tabindex="1">Log In</a>
      </span>
    </div>
  </nav>
</header>
