.sign-container {
  color: #fff;
  padding-right: 15px;
}

.sign {
  color: #ffffff;
  background-color: none;
  float: right;
  padding-top: 20px;
  font-size: 17px;
}

.signin {
  font-size: 16px;
}
