<div class="row">
  <div class="col-lg-9">
    <app-admin-volunteer-maker></app-admin-volunteer-maker>
  </div>
  <div class="col-lg-3">
    <app-side-box>
      <p>
        <strong>ERA User versus ERA Superuser</strong>
      </p>
      <p>
        ERA users can register evacuees, complete an evacuee registration, as well as add referrals based on a needs
        assesment.
      </p>
      <p>
        ERA Superusers have the additional abilities to add &amp; maintain ERA Users within their ESS Team, edit user
        permissions, and access database searching featrues.
      </p>
      <p>
        ERA Superuser permissions should only be applied to supervisory and leadership positions.
      </p>
    </app-side-box>
  </div>
</div>